/**
 * Helpers: Accessibility
 * -----------------------------------------------------------------------------
 * Utility classes to aid in creating visually accessibile components.
 *
 */

/**
 * Default focus styling for browsers.
 */
@mixin focus-ring() {
  outline: -webkit-focus-ring-color auto 5px;
}

/**
 * Skip to content button.
 * - Overrides .visually-hidden when focused.
 */
.skip-link:focus {
  @include visually-shown(absolute);
  background-color: $COLOR_BACKGROUND_LIGHT;
  color: $COLOR_TEXT_PRIMARY;
  padding: $SPACING-M / 2;
  transition: none;
  z-index: $LAYER_POP_OUT;
}
