/**
 * Helpers: Display
 * -----------------------------------------------------------------------------
 * Utility classes to hide and show elements based on conditions.
 *
 */
.clearfix {
  @include clearfix;
}

.visually-hidden,
.is-hidden {
  @include visually-hidden;
}

.js-focus-hidden:focus {
  outline: none;
}

.label-hidden {
  @include visually-hidden;

  /**
   * No placeholders, so force show labels.
   */
  .no-placeholder & {
    @include visually-shown;
  }
}

.visually-shown {
  @include visually-shown;
}

/**
 * Only show when JS is not supported.
 */
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

/**
 * Only show when JS is supported.
 */
.js {
  .no-js & {
    display: none;
  }
}

/**
 * Only show when browser cookies are not supported.
 */
.supports-no-cookies:not(html) {
  display: none;

  html.supports-no-cookies & {
    display: block;
  }
}

/**
 * Only show when browser cookies are supported.
 */
.supports-cookies {
  html.supports-no-cookies & {
    display: none;
  }
}
