/**
 * Helpers: Placeholder SVG
 * -----------------------------------------------------------------------------
 * Default styling for Shopify placeholder svgs.
 * - Inherited from Slate.
 *
 */
.placeholder-svg {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.placeholder-noblocks {
  padding: 40px;
  text-align: center;
}

.placeholder-background {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;

  .icon {
    border: 0;
  }
}
