/**
 * Helpers: Responsive images
 * -----------------------------------------------------------------------------
 * Helper styling for lazysizes images supports.
 * - Inherited from Slate.
 *
 */
.responsive-image__wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
    position: relative;
  }

  img {
    display: block;
    width: 100%;
  }

  &.is-hidden {
    display: none;
  }

  .no-js & {
    display: none;
  }
}

.responsive-image__wrapper--full-height {
  height: 100%;
}

.responsive-image__image {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:focus {
    outline-offset: -4px;
  }
}

.responsive-card-image {
  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
  }
}

/**
  * Blur lazyload
  */
.blur-up {
  filter: blur(px);
  transition: filter 400ms;

  &.lazyloaded {
    filter: blur(0);
  }
}
