/**
 * Helpers: Text
 * -----------------------------------------------------------------------------
 * Utility classes to format and align text.
 *
 */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
