/**
 * Component: Accordion
 * -----------------------------------------------------------------------------
 * Base styling for accordion dropdown menus.
 * - Recommended to use on `<ul>` and `<li>` elements.
 *
 */
.accordion {
  $parent: &;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  &__item {
    &.is-active {
      .icon {
        transform: rotateZ(180deg);
      }

      #{$parent}__content {
        display: block;
      }
    }
  }

  &__control {
    @include button-reset;
    align-items: center;
    border-bottom: 1px solid $COLOR_BORDER_LIGHT;
    display: flex;
    font-size: ms(-1);
    font-weight: $WEIGHT_BOLD;
    justify-content: space-between;
    margin: 0;
    padding: $SPACING_S 0;
    text-decoration: none;
    width: 100%;

    .icon {
      transform: rotateZ(0);
      transition: transform 0.25s;
    }
  }

  &__content {
    display: none;
    font-size: ms(-1);
    padding: $SPACING_M 0;

    p, ul {
      font-size: ms(-1);
    }

    p:empty {
      display: none;
    }
  }
}
