/**
 * Component: Ajax cart
 * -----------------------------------------------------------------------------
 * Styling for cart related components and line item entries
 *
 */
.ajax-cart {
  &__line-item {
    @include animation-fade-out;
    display: flex;
    margin-bottom: $SPACING_M;
    opacity: 1;

    &.is-removing {
      opacity: 0.25;
      pointer-events: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__vendor {
    color: $COLOR_TEXT_LIGHT;
    font-size: ms(-1);
    margin-bottom: 0;
  }

  &__title {
    color: $COLOR_TEXT_PRIMARY;
    display: block;
    font-size: ms(-1);
    margin-bottom: $SPACING_M;
    max-width: 280px;
    text-decoration: none;

    &:hover {
      color: $COLOR_LINK_HOVER;
    }
  }

  &__variant-title {
    font-size: ms(-1);
    margin-bottom: $SPACING_M;
  }

  &__price {
    align-items: flex-end;
    color: $COLOR_TEXT_PRIMARY;
    display: flex;
    flex-flow: column wrap;
    font-size: ms(-1);
    margin-bottom: $SPACING_M;
    text-align: right;

    [js-currency=price] {
      margin-left: $SPACING_2XS;
    }
  }

  &__image {
    max-width: 75px;
    width: 100%;
  }

  &__description {
    align-items: center;
    display: flex;
    padding-left: $SPACING_S;
    width: 100%;

    > .row {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    flex-flow: column wrap;
  }

  &__remove {
    @include button-reset;
    @include animation-text-link;
    color: $COLOR_TEXT_PRIMARY;
    font-size: ms(-1);
    margin: 0 auto 0 0;
    text-align: left;
    text-decoration: underline;

    &:hover {
      color: $COLOR_LINK_HOVER;
      cursor: pointer;
    }
  }

  @include mq($from: medium) {
    &__image {
      max-width: 90px;
    }

    &__title {
      font-size: ms(0);
    }
  }
}
