/**
 * Component: Article card
 * -----------------------------------------------------------------------------
 * Base styling for article and blog cards.
 *
 */
.article-card {
  $parent: &;

  &__title {
    font-family: $FONT_BODY;
    font-size: ms(0);
    margin: $SPACING_M 0 $SPACING_S;

    a {
      color: $COLOR_TEXT_PRIMARY;
    }
  }

  &__meta {
    margin-bottom: $SPACING_S;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__description {
    font-size: ms(-1);
  }

  &:hover {
    #{$parent}__title {
      a {
        color: $COLOR_LINK_HOVER;
      }
    }
  }
}
