/**
 * Component: Badge
 * -----------------------------------------------------------------------------
 * Component used provide contrast to small counters and labels.
 *
 */
.badge {
  background-color: $COLOR_BACKGROUND_LIGHT;
  border: 1px solid $COLOR_BORDER_LIGHT;
  border-radius: 8rem;
  display: inline-block;
  font-size: ms(-1);
  line-height: 1;
  padding: $SPACING_2XS $SPACING_M;
  position: relative;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  span {
    position: relative;
  }

  &:not(:last-child) {
    margin-right: $SPACING_XS;
  }

  &#{&}--primary {
    background-color: $COLOR_PRIMARY;
    border: 1px solid $COLOR_PRIMARY;
    color: $COLOR_TEXT_INVERSE;
  }

  &#{&}--secondary {
    background-color: $COLOR_SECONDARY;
    border: 1px solid $COLOR_SECONDARY;
    color: $COLOR_TEXT_INVERSE;
  }

  &#{&}--round {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 24px;
    min-width: 18px;
    padding: $SPACING_2XS $SPACING_XS;
  }

  @include mq($from: large) {
    padding: $SPACING_2XS $SPACING_S;
  }
}
