/**
 * Component: Breadcrumb
 * -----------------------------------------------------------------------------
 * Styling for an inline text-link navigation usually displayed on the product and
 * collection pages.
 *
 */
.breadcrumb {
  color: $COLOR_SECONDARY;
  font-size: ms(-2);

  &__separator {
    display: inline-block;

    &:not(:first-child) {
      margin: 0 $SPACING_S;
    }
  }

  &__link {
    color: $COLOR_SECONDARY;
    text-decoration: none;

    &:hover {
      color: $COLOR_PRIMARY;
    }
  }

  @include mq($from: medium) {
    font-size: ms(0);

    &__separator {
      &:not(:first-child) {
        margin: 0 $SPACING_L;
      }
    }
  }
}
