/**
 * Component: Button
 * -----------------------------------------------------------------------------
 * Used to override all defaults of links and form buttons to create a consistent
 * clickable/interactive component.
 *
 */
.button {
  align-items: center;
  appearance: none;
  background-color: $COLOR_TEXT_INVERSE;
  border: 1px solid transparent;
  box-shadow: none;
  color: $COLOR_TEXT_LIGHT;
  display: inline-flex;
  font-size: ms(-2);
  font-weight: $WEIGHT_BOLD;
  justify-content: center;
  letter-spacing: $LETTER_SPACING_BUTTON;
  min-height: 48px;
  padding: $SPACING_S $SPACING_L;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;

  &:hover {
    cursor: pointer;
  }

  @include mq($from: large) {
    font-size: ms(-1);
  }
}

.button--primary {
  background-color: $COLOR_BUTTON;
  border-color: transparent;
  color: $COLOR_TEXT_INVERSE;

  &:hover {
    background-color: $COLOR_BUTTON_HOVER;
    color: $COLOR_TEXT_INVERSE;
  }

  &:focus {
    color: $COLOR_TEXT_INVERSE;
  }

  &.button--outlined {
    background-color: transparent;
    border-color: $COLOR_BUTTON;
    color: $COLOR_BUTTON;

    &:hover {
      background-color: $COLOR_BUTTON_HOVER;
      border-color: $COLOR_BUTTON_HOVER;
      color: $COLOR_TEXT_INVERSE;
    }
  }
}

.button--secondary {
  background-color: $COLOR_SECONDARY;
  border-color: transparent;
  color: $COLOR_TEXT_INVERSE;

  &:hover {
    background-color: darken($COLOR_SECONDARY, 20%);
    color: $COLOR_TEXT_INVERSE;
  }

  &.button--outlined {
    background-color: transparent;
    border-color: $COLOR_SECONDARY;
    color: $COLOR_TEXT_SECONDARY;

    &:hover {
      background-color: $COLOR_SECONDARY;
      color: $COLOR_TEXT_INVERSE;
    }
  }
}

.button--light {
  background-color: $COLOR_BACKGROUND_LIGHT;
  border: 1px solid $COLOR_BORDER_LIGHT;
  color: $COLOR_TEXT_PRIMARY;

  &:hover {
    background-color: darken($COLOR_BACKGROUND_LIGHT, 5%);
  }

  &.button--outlined {
    background-color: transparent;
    border-color: $COLOR_BORDER_LIGHT;
    color: $COLOR_TEXT_LIGHT;

    &:hover {
      background-color: $COLOR_BACKGROUND_LIGHT;
      border-color: $COLOR_BORDER_LIGHT;
      color: $COLOR_TEXT_PRIMARY;
    }
  }
}

/**
 * Sizes.
 */
.button--small {
  font-size: ms(-2);
  padding: $SPACING_XS $SPACING_L;
}

.button--large {
  font-size: ms(0);
  letter-spacing: #{calc(#{$LETTER_SPACING_BUTTON} * 2)};
  min-height: 58px;
  padding: $SPACING_M $SPACING_XL;
}

.button--block {
  width: 100%;
}

/**
 * States.
 */
// stylelint-disable-next-line
.button {
  &.is-active {
    opacity: 1;
  }

  &.is-disabled, &[disabled] {
    background-color: rgba($COLOR_BORDER_LIGHT, 0.25);
    color: $COLOR_TEXT_LIGHT;

    &:hover {
      cursor: not-allowed;
    }
  }

  &.is-loading {
    color: transparent;
    position: relative;

    .loader {
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .ball-clip-rotate {
      > div {
        border-color: $COLOR_TEXT_INVERSE $COLOR_TEXT_INVERSE transparent;
      }
    }

    &:hover {
      cursor: default;
      opacity: 1;
    }
  }
}
