/**
 * Components: Callout
 * -----------------------------------------------------------------------------
 * A basic building block used primarily for simple promotion content.
 *
 */
.callout {
  padding: $BASELINE 0;

  &#{&}--primary {
    background-color: $COLOR_PRIMARY;
    color: $COLOR_TEXT_INVERSE;
  }

  &#{&}--secondary {
    background-color: $COLOR_SECONDARY;
    color: $COLOR_TEXT_INVERSE;
  }

  &#{&}--light {
    background-color: $COLOR_BORDER_LIGHT;
    color: $COLOR_BACKGROUND_DARK;
  }
}
