/**
 * Component: Card grid
 * -----------------------------------------------------------------------------
 * A simple grid to control the flow and alignment of a collection of cards
 * - Uses CSS grids.
 *
 */
.card-grid {
  display: grid;
  grid-gap: $SPACING_XS;
  grid-template-columns: repeat(2, 1fr);

  .card {
    max-width: none;
    width: 100%;
  }

  @include mq($from: medium) {
    grid-gap: $SPACING_S;
  }

  @include mq($from: large) {
    grid-gap: $SPACING_M;
    grid-template-columns: repeat(3, 1fr);

    &--4up {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

/**
 * Modernizr.
 * - No css grid support
 */

.no-cssgrid .card-grid,
.cssgridlegacy .card-grid {
  $parent: &;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__item {
    width: calc(50% - #{$SPACING_XS});
  }

  @include mq($from: medium) {
    justify-content: flex-start;

    &__item {
      width: calc(50% - #{$SPACING_M});
    }
  }

  @include mq($from: large) {
    &__item {
      width: calc((100% / 3) - #{$SPACING_L});
    }

    &--4up {
      .card-grid__item {
        width: calc((100% / 4) - #{$SPACING_L});
      }
    }
  }
}
