/**
 * Component: Card
 * -----------------------------------------------------------------------------
 * Cards provide a flexible and extensible content container with multiple
 * variants and options.
 *
 */
.card {
  $parent: &;
  display: block;
  font-size: ms(-1);
  position: relative;
  text-decoration: none;
  width: 100%;

  &__link {
    color: $COLOR_TEXT_PRIMARY;
    display: block;
    position: relative;
    text-decoration: none;
  }

  &__thumbnail {
    position: relative;
    width: 100%;
  }

  &__body {
    margin: $SPACING_M 0 $SPACING_XL;
    width: 100%;
  }

  &__footer {
    margin: auto 0 $SPACING_M;
    width: 100%;
  }

  &__title {
    margin-bottom: $SPACING_M;

    a {
      color: $COLOR_TEXT_PRIMARY;

      &:hover {
        color: $COLOR_LINK_HOVER;
      }
    }
  }

  &__meta {
    margin: $SPACING_2XS 0 $SPACING_L;
  }

  &__badge-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    right: $SPACING_S;
    top: $SPACING_S;
    z-index: $LAYER_FLAT;
  }

  &__badge {
    margin-bottom: $SPACING_XS;

    &:not(:last-child) {
      margin-right: $SPACING_XS;
    }
  }

  /**
    * Modifiers
    */
  &#{&}--product {
    .product-price {
      font-size: ms(-2);
      font-weight: $WEIGHT_BOLD;
      margin-top: $SPACING_2XS;

      s {
        color: $COLOR_TEXT_LIGHT;
        font-weight: $WEIGHT_BOOK;
      }
    }

    .spr-badge-caption {
      display: none;
    }

    #{$parent}__button {
      bottom: $SPACING_S;
      left: 0;
      margin: 0 auto;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      width: 90%;
    }

    #{$parent}__footer {
      margin: $SPACING_S 0;
      padding: 0 $SPACING_M 0 0;
    }

    #{$parent}__badge span {
      // Optically align inner badge text
      position: relative;
      top: -2px;
    }

    #{$parent}__thumbnail-container {
      position: relative;
    }

    #{$parent}__thumbnail--secondary {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
    }
  }

  @include mq($from: large) {
    &#{&}--product {
      .product-price {
        font-size: ms(-1);
      }
    }

    &#{&}--product:hover {
      #{$parent}__link {
        color: $COLOR_LINK_HOVER;
      }

      #{$parent}__button {
        opacity: 1;
        pointer-events: auto;
      }

      #{$parent}__thumbnail--primary {
        opacity: 0;
      }

      #{$parent}__thumbnail--secondary {
        opacity: 1;
      }
    }
  }
}
