/**
 * Component: Carousel
 * -----------------------------------------------------------------------------
 * Reusable component to create basic sliders.
 * - Using Flickity by Metafizzy
 *
 */
@import '~flickity/css/flickity.css';

.carousel {
  /**
    * Flickity overrides
    */
  .flickity-page-dots {
    bottom: $SPACING_M;

    .dot {
      @include animation-fade-out;
      background-color: $COLOR_SECONDARY;
      height: 12px;
      opacity: 0.25;
      width: 12px;

      &.is-selected {
        opacity: 1;
      }
    }
  }

  .flickity-prev-next-button {
    background: none;

    .arrow {
      fill: $COLOR_SECONDARY;
    }
  }
}
