/**
 * Component: Cart table
 * -----------------------------------------------------------------------------
 * A structured flex table to display cart line items.
 *
 */
.cart-table {
  &__header {
    display: flex;
  }

  &__item {
    align-items: center;
    display: flex;
    padding-top: $SPACING_M;
    position: relative;

    &:not(:first-child) {
      border-top: 1px solid $COLOR_BORDER_LIGHT;
    }

    &:not(:last-child) {
      margin-bottom: $LAYOUT_2XS;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin: $SPACING_M 0;
  }

  &__image {
    margin-right: $LAYOUT_2XS;
  }

  &__description {
    display: flex;
    flex-flow: column wrap;
    max-width: calc(100% - #{$LAYOUT_S});
    width: 100%;
  }

  &__remove {
    position: absolute;
    right: 0;
    top: $LAYOUT_2XS;

    svg {
      pointer-events: none;
    }
  }

  &__quantity-selector {
    height: 2.5rem;
    margin-bottom: $SPACING_L;
    max-width: 150px;
  }

  &__label {
    display: flex;
    font-size: ms(0);
    justify-content: space-between;
  }

  &__meta {
    display: inline-block;
    font-size: ms(-1);
    line-height: $LINE_HEIGHT_CAPTION;
  }

  &__disclaimer {
    margin: $SPACING_M 0;
  }

  &__overview-footer {
    border-top: 1px solid $COLOR_BORDER_DARK;
  }

  &__checkout-button {
    margin-bottom: $SPACING_M;
  }
}
