/**
 * Component: Checkbox
 * -----------------------------------------------------------------------------
 * Base styling for custom checkboxes
 * - Replaces the input using a styled label
 *
 */

/* stylelint-disable max-nesting-depth */

.checkbox {
  $parent: &;

  &__container {
    align-items: center;
    display: flex;

    &:not(:last-child) {
      margin-bottom: $SPACING_S;
    }
  }

  &__input {
    @include visually-hidden;

    /**
     * Active state.
     */
    &:checked {
      + #{$parent}__label {
        &::before {
          background-color: $COLOR_SUPPORT_FOCUS;
          border-color: $COLOR_SUPPORT_FOCUS;
        }

        &::after {
          opacity: 1;
          transform: scale(1) rotate(-45deg);
        }
      }
    }
  }

  &__label {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: $WEIGHT_BOOK;
    margin: 0;
    min-height: 1rem;
    padding-left: $SPACING_XL;
    position: relative;

    /**
     * Box styling.
     */
    &::before {
      background-color: $COLOR_BACKGROUND_WHITE;
      border: 1px solid $COLOR_BORDER_DARK;
      box-sizing: border-box;
      content: '';
      height: calc(#{$SPACING_2XL} / 2);
      left: 0;
      position: absolute;
      top: 0;
      width: calc(#{$SPACING_2XL} / 2);
    }

    /**
     * Tick styling.
     */
    &::after {
      background: none;
      border-bottom: 2px solid rgb(255, 255, 255);
      border-left: 2px solid rgb(255, 255, 255);
      box-sizing: border-box;
      content: '';
      height: 5px;
      left: 0.35rem;
      /* stylelint-disable-next-line */
      margin-top: -0.188rem;
      position: absolute;
      top: 50%;
      transform: scale(0) rotate(-45deg);
      width: 9px;
    }

    /**
     * State.
     */
    &.is-disabled {
      color: $COLOR_TEXT_LIGHT;

      &:hover {
        cursor: not-allowed;
        pointer-events: none;
      }

      &::before {
        opacity: 0.5;
      }
    }
  }
}
