/**
 * Component: Choice cards
 * -----------------------------------------------------------------------------
 * Used to display a combination of images and short text inside an interactive
 * button.
 *
 */
.choice-card {
  @include button-reset;
  align-items: center;
  background-color: $COLOR_BACKGROUND_WHITE;
  border: 2px solid $COLOR_BORDER_LIGHT;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  min-height: 70px;
  padding: $SPACING_M;
  text-align: left;
  width: 100%;

  &__icon {
    height: 30px;
    margin-right: $SPACING_M;
    pointer-events: none;
    width: 40px;
  }

  &__label {
    line-height: $LINE_HEIGHT_META;
    max-width: 175px;
    pointer-events: none;
  }

  &:hover {
    border-color: $COLOR_PRIMARY;
  }

  @include mq($from: medium) {
    flex-flow: column wrap;
    justify-content: center;
    min-height: 165px;
    text-align: center;

    &__icon {
      height: 60px;
      margin-right: 0;
      width: 80px;
    }

    &__label {
      margin-top: $SPACING_S;
      max-width: 275px;
    }
  }
}
