/**
 * Component: Cookie Banner
 * -----------------------------------------------------------------------------
 * Base styling for cookie notification banner.
 *
 */
.cookie-banner {
  $parent: &;
  background-color: $COLOR_BACKGROUND_DARK;
  bottom: 0;
  color: $COLOR_TEXT_PRIMARY;
  display: none;
  left: 0;
  padding: $SPACING_XS 0;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 2;

  &__container {
    width: 80%;
  }

  &__text {
    line-height: 1.3;
    margin: 0;
  }

  a {
    text-decoration: underline;
  }

  &__close {
    @include button-reset;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);

    .icon {
      color: $COLOR_TEXT_INVERSE;
      height: 16px;
      width: 16px;
    }
  }

  /**
   * State.
   */
  &.is-active {
    display: block;
  }

  /**
   * Modifiers.
   */
  &#{&}--primary {
    background-color: $COLOR_PRIMARY;
    color: $COLOR_TEXT_INVERSE;
    font-weight: $WEIGHT_MEDIUM;

    a {
      color: $COLOR_TEXT_INVERSE;

      &:hover {
        opacity: 0.75;
      }
    }

    #{$parent}__close {
      &:hover {
        opacity: 0.75;
      }
    }
  }

  @include mq($from: medium) {
    &__container {
      width: 90%;
    }
  }
}
