/**
 * Component: Cover
 * -----------------------------------------------------------------------------
 * A flexible component that is used to contain text on top of background images.
 * - Usually used in conjunction inside a cover listing grid.
 *
 */
.cover {
  align-items: flex-end;
  background-color: $COLOR_BORDER_LIGHT;
  background-size: cover;
  display: flex;
  height: 220px;
  justify-content: flex-start;
  padding: $SPACING_L;
  position: relative;

  &__title {
    position: relative;
    z-index: $LAYER_RAISED;
  }

  &__subtitle {
    margin: 0;
    max-width: 240px;
    position: relative;
    z-index: $LAYER_RAISED;
  }

  &__overlay {
    background: linear-gradient(45deg, rgba($COLOR_BACKGROUND_DARK, 0.25), transparent);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $LAYER_FLAT;
  }

  @include mq($from: medium) {
    height: 320px;
  }

  @include mq($from: large) {
    height: 380px;
  }
}
