/**
 * Component: Currency selector
 * -----------------------------------------------------------------------------
 * Select dropdown navigation to select currency or country.
 * - Activated through `theme settings > features`.
 *
 */
.currency-selector {
  background-color: $COLOR_BACKGROUND_WHITE;
  border: 1px solid $COLOR_BORDER_DARK;
  position: relative;
  width: 140px;

  &__label {
    left: 0;
    position: absolute;
    top: -$SPACING_L;
  }

  &__select {
    appearance: none;
    border: 0;
    border-radius: 0;
    padding: $SPACING_XS;
    transition: opacity 0.25s;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  .icon__chevron--down {
    max-width: 8px;
    pointer-events: none;
    position: absolute;
    right: 1rem;
  }

  @include mq($from: medium) {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__label {
      left: 0;
      position: absolute;
      top: -$SPACING_L;
    }
  }
}
