/**
 * Component: Drawer
 * -----------------------------------------------------------------------------
 * A simple slide out drawer menu entering from the edges of the screen.
 *
 */
.drawer {
  @include animation-drawer-slide;
  background-color: $COLOR_BACKGROUND_WHITE;
  border: 1px solid $COLOR_BORDER_LIGHT;
  border-width: 0 1px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  width: 100%;
  will-change: transform;
  z-index: $LAYER_POP_OUT;

  /**
   * State.
   */
  &#{&}.is-active {
    transform: translateX(0);
  }

  /**
   * Modifiers.
   */
  &#{&}--left {
    left: 0;
    transform: translateX(-100%);
  }

  @include mq($from: small) {
    max-width: 420px;
  }
}
