/**
 * Component: Error
 * -----------------------------------------------------------------------------
 * Base styling for Shopify error generated messages.
 * - Registration form.
 */
.errors {
  border: 1px solid $COLOR_SUPPORT_ERROR;
  color: $COLOR_SUPPORT_ERROR;
  margin-bottom: $SPACING_M;
  padding: $SPACING_S;

  ul {
    @include list-reset;

    li {
      font-size: ms(-1);
    }
  }
}
