/**
 * Component: Fieldset
 * -----------------------------------------------------------------------------
 * Base styling for fieldset element.
 * - CSS reset
 *
 */
.fieldset {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;

  &__legend {
    margin-bottom: $SPACING_S;
  }
}
