/**
 * Component: Form group
 * -----------------------------------------------------------------------------
 * Group styling for a combination of form elements within a form.
 *
 */
.form-group {
  &:not(:last-child) {
    margin-bottom: $LAYOUT_XS;
  }

  &__field:not(:last-child) {
    margin-bottom: $LAYOUT_S;
  }

  &__check {
    align-items: center;
    display: flex;

    label {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: $SPACING_S;
    }
  }

  &__label {
    font-weight: $WEIGHT_BOLD;
    margin-bottom: $SPACING_S;
  }

  &__helper-text {
    font-size: ms(-2);
    line-height: $LINE_HEIGHT_CAPTION;
    margin-bottom: $SPACING_S;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: $LAYOUT_XS;
    padding-top: $LAYOUT_XS;
  }

  @include mq($until: medium) {
    &__field:not(:last-child) {
      margin-bottom: $SPACING_M + $SPACING_2XS;
    }
  }
}
