/**
 * Component: Free shipping notification
 * -----------------------------------------------------------------------------
 * A re-usable notification which dynamically updates based on items in the cart.
 *
 */
.free-shipping-notification {
  $parent: &;
  align-items: flex-start;
  border: 1px solid $COLOR_BORDER_DARK;
  border-width: 1px 1px 1px 3px;
  display: flex;
  justify-content: space-between;
  margin: $SPACING_M 0;
  min-height: 2.5rem;
  padding: $SPACING_S $SPACING_M;

  &__text-wrapper {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  &__text {
    font-size: ms(-1);
    margin: 0;
    max-width: 38rem;
  }
}
