/**
 * Component: Hero
 * -----------------------------------------------------------------------------
 * Prominent banners that can contain background images and text content.
 * - can also be used to create page hero blocks.
 *
 */
.hero {
  align-items: flex-end;
  background-color: $COLOR_BACKGROUND_LIGHT;
  background-size: cover;
  display: flex;
  min-height: 300px;
  padding: $SPACING_XL 0;

  &__container {
    max-width: 420px;
    position: relative;
    top: $SPACING_M;
  }

  &__content {
    max-width: 300px;
  }

  &__title {
    margin-bottom: $SPACING_XS;
  }

  &__button-group {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    max-width: 240px;
    width: 100%;

    .button {
      &:not(:last-child) {
        margin-bottom: $SPACING_S;
      }
    }
  }

  /**
   * Modifiers.
   */
  &#{&}--left {
    text-align: left;
  }

  &#{&}--right {
    text-align: right;
  }

  @include mq($from: large) {
    align-items: center;
    padding: ($SPACING_2XL * 3) 0;

    &__content {
      max-width: 560px;
    }

    &__title {
      margin-bottom: $SPACING_S;
    }
  }
}
