/**
 * Component: Icon group
 * -----------------------------------------------------------------------------
 * Utility class to provide consistent styling for a list of icons.
 *
 */
.icon-group {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
  }

  &__link {
    align-items: center;
    color: $COLOR_BACKGROUND_DARK;
    display: inline-flex;
  }
}
