/**
 * Component: Input group
 * -----------------------------------------------------------------------------
 * An extensible inline form elements.
 *
 */
.input-group {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

  &__label {
    left: $SPACING_S;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__field {
    width: 100%;

    &:focus {
      + .input-group__label {
        display: none;
      }
    }
  }

  &__addon {
    @include button-reset;
    height: 100%;
  }

  &__control {
    width: 100%;
  }
}
