/**
 * Component: Loader
 * -----------------------------------------------------------------------------
 * CSS based loaders from https://github.com/ConnorAtherton/loaders.css
 * - Add or replace the loader name with ones used in the theme.
 *
 */
.loader {
  .ball-pulse {
    display: flex;
    justify-content: space-between;
    min-width: 70px;

    > div {
      background-color: $COLOR_PRIMARY;

      &:nth-child(1) {
        animation: loader-pulse $TIMING_LONG -0.24s infinite $EASING_EASE_OUT;
      }

      &:nth-child(2) {
        animation: loader-pulse $TIMING_LONG -0.12s infinite $EASING_EASE_OUT;
      }

      &:nth-child(3) {
        animation: loader-pulse $TIMING_LONG 0s infinite $EASING_EASE_OUT;
      }
    }
  }

  .ball-clip-rotate {
    align-items: center;
    display: flex;
    justify-content: center;

    > div {
      animation: loader-rotate $TIMING_LONG 0s linear infinite;
      border-color: $COLOR_PRIMARY $COLOR_PRIMARY transparent;
    }
  }
}

/**
 * Loader overrides.
 */
@keyframes loader-pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  45% {
    opacity: 0.5;
    transform: scale(0.1);
  }

  80% {
    opacity: 0.75;
    transform: scale(1);
  }
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
