/**
 * Component: Modal
 * -----------------------------------------------------------------------------
 * Styling for a component dialogs to your site for user notifications or
 * custom content defined in section settings.
 *
 */
.modal {
  $parent: &;
  @include animation-overlay;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $LAYER_POP_OUT;

  &.is-active, &.is-open {
    opacity: 1;
    pointer-events: auto;

    .modal__card {
      opacity: 1;
      transform: translateY(-50%);
    }
  }

  &.is-static {
    position: static;

    #{$parent}__card {
      position: static;
      transform: unset;
    }
  }

  &__overlay {
    background-color: rgba($COLOR_BACKGROUND_WHITE, 0.9);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__card {
    background-color: $COLOR_BACKGROUND_WHITE;
    border: 1px solid $COLOR_BORDER_LIGHT;
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 0 auto;
    // Subtract header size
    max-height: calc(100vh - 40px);
    max-width: 580px;
    opacity: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-20%);
    transition: all $TIMING_BASE $EASING_EASE_IN_OUT;
    width: 100%;
  }

  &__image {
    background-color: $COLOR_BACKGROUND_WHITE;
    padding: 0;
  }

  &__header {
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__title {
    margin-bottom: 0;
    width: 100%;
  }

  &__body {
    overflow: auto;
    padding: $SPACING_M;
  }

  &__footer {
    border-top: 1px solid $COLOR_BORDER_LIGHT;
    overflow: hidden;
    padding: $SPACING_M;

    p {
      font-size: ms(-1);
    }
  }

  &__close {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    svg {
      pointer-events: none;
    }
  }

  @include mq($from: small) {
    &__header {
      padding: $SPACING_M;
      position: relative;
    }
  }
}
