/**
 * Component: Navlist
 * -----------------------------------------------------------------------------
 * Navigation styling used to display a list of block level links.
 *
 */
.navlist {
  font-size: ms(-1);
  line-height: $LINE_HEIGHT_META;
  list-style-type: none;
  margin: 0 0 $SPACING_L 0;
  padding: 0;

  .site-nav & {
    font-size: ms(0);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: $BASELINE;
    }

    .site-nav &:not(:last-child) {
      margin-bottom: $SPACING_L;
    }

    &.is-active {
      font-weight: $WEIGHT_BOLD;
    }
  }

  &__link {
    color: $COLOR_TEXT_PRIMARY;
    display: inline-block;
    padding: $SPACING_XS 0;

    &.text-link {
      color: $COLOR_TEXT_PRIMARY;
      text-decoration: none;
    }
  }

  &--large {
    font-size: ms(0);
  }

  @include mq($from: large) {
    &__link {
      padding: 0;
    }
  }
}
