/**
 * Component: Notification
 * -----------------------------------------------------------------------------
 * A full-width announcement bar that can be hidden by the user.
 * - Must be enabled through site header section settings.
 *
 */
.notification {
  $parent: &;
  align-items: center;
  border: 1px solid $COLOR_BORDER_DARK;
  border-width: 1px 1px 1px 3px;
  display: flex;
  justify-content: space-between;
  margin: $SPACING_M 0;
  min-height: 2.5rem;
  padding: $SPACING_S $SPACING_2XL $SPACING_S $SPACING_M;
  position: relative;

  &__text-wrapper {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    font-size: ms(-1);
    font-weight: $WEIGHT_BOLD;
    margin: 0 $SPACING_S 0 0;
  }

  &__text {
    font-size: ms(-1);
    margin: 0;
    max-width: 38rem;
  }

  &__close {
    @include button-reset;
    @include animation-icon-hover(opacity);
    position: absolute;
    right: $SPACING_S;
    top: $SPACING_S;
    transform: scale(0.75);
    transform-origin: top right;

    &:focus {
      @include focus-ring;
    }

    .icon {
      height: 24px;
      width: 24px;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  /**
   * Modifiers.
   */
  &#{&}--primary {
    background-color: $COLOR_PRIMARY;
    color: $COLOR_TEXT_INVERSE;
    font-weight: $WEIGHT_MEDIUM;
  }

  &#{&}--secondary {
    background-color: $COLOR_SECONDARY;
    color: $COLOR_TEXT_INVERSE;

    #{$parent}__close {
      .icon {
        color: $COLOR_TEXT_INVERSE;
      }
    }
  }

  &#{&}--success {
    background-color: lighten($COLOR_SUPPORT_SUCCESS, 25%);
    border-color: lighten($COLOR_SUPPORT_SUCCESS, 25%);
  }

  &#{&}--warning {
    background-color: lighten($COLOR_SUPPORT_WARNING, 25%);
    border-color: lighten($COLOR_SUPPORT_WARNING, 25%);
  }

  &#{&}--error {
    background-color: lighten($COLOR_SUPPORT_ERROR, 25%);
    border-color: lighten($COLOR_SUPPORT_ERROR, 25%);
  }

  &#{&}--small {
    min-height: 1.5rem;
    padding: $SPACING_2XS $SPACING_S;

    #{$parent}__title {
      font-size: ms(-2);
    }

    #{$parent}__text {
      font-size: ms(-2);
    }
  }
}
