/**
 * Component: Order table
 * -----------------------------------------------------------------------------
 * Table styling of orders on the account page.
 *
 */
.order-table {
  &__header {
    border-bottom: 1px solid $COLOR_BORDER_DARK;
    padding: $SPACING_M 0;
  }

  &__row {
    font-size: ms(-1);
    padding: $SPACING_XL 0;

    a {
      color: $COLOR_TEXT_PRIMARY;

      &:hover {
        color: $COLOR_LINK_HOVER;
      }
    }
  }

  &__label {
    font-size: ms(-2);
    letter-spacing: $LETTER_SPACING_LABEL;
    text-transform: uppercase;

    &--inner {
      display: none;
      margin-bottom: $SPACING_2XS;
    }
  }

  @include mq($from: medium) {
    &__row {
      border-bottom: 1px solid $COLOR_BORDER_DARK;
    }
  }

  @include mq($until: medium) {
    &__heading {
      margin-bottom: $SPACING_L;
    }

    &__header {
      display: none;
    }

    &__row {
      border-top: 1px solid $COLOR_BORDER_DARK;
      padding: ($SPACING_M + $SPACING_2XS) 0 0 0;

      &:last-child {
        border-bottom: 1px solid $COLOR_BORDER_DARK;
      }
    }

    &__col {
      margin-bottom: $SPACING_L;
      text-align: left;

      &:last-child {
        padding-top: $SPACING_M;
      }
    }

    &__label {
      &--inner {
        display: block;
      }
    }
  }
}
