/**
 * Components: Order item
 * -----------------------------------------------------------------------------
 * Minimal base styling for order items.
 *
 */
.order-item {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: $SPACING_S;

  &__image {
    padding-right: $SPACING_M;
  }

  &__description {
    flex: 0 0 auto;
    font-size: ms(-2);
    max-width: 150px;
    padding: $SPACING_M 0;

    a {
      color: $COLOR_TEXT_PRIMARY;
      font-size: ms(-1);
    }
  }

  &__variant-info {
    padding: $SPACING_M 0;

    span {
      display: inline-block;
    }
  }

  &__price {
    font-size: ms(-1);
    margin-left: auto;
    padding: $SPACING_M 0;
  }

  &:hover {
    a {
      color: $COLOR_LINK_HOVER;
    }
  }

  @include mq($from: medium) {
    &:nth-child(odd) {
      .order-item__price {
        padding-right: $SPACING_L;
      }
    }
  }
}
