/**
 * Components: Order overview
 * -----------------------------------------------------------------------------
 * Minimal base styling for order details box.
 *
 */
.order-overview {
  margin-bottom: $LAYOUT_2XS;

  &__aside {
    margin-bottom: $LAYOUT_M;
    position: relative;

    &::after {
      background: $COLOR_BORDER_DARK;
      bottom: -$SPACING_L;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  &__body {
    .row {
      &:not(:last-child) {
        border-bottom: 1px solid $COLOR_BORDER_DARK;
      }

      &:first-child {
        padding-bottom: $SPACING_2XL;
      }
    }
  }

  &__heading {
    margin-bottom: $SPACING_M;
  }

  &__prices {
    padding: $SPACING_M 0 $SPACING_L 0;
  }

  &__price-row {
    &:not(:only-child) {
      margin-bottom: $SPACING_XS;
    }

    span {
      float: right;
    }
  }

  &__total {
    font-weight: $WEIGHT_BOLD;
  }

  h3 + p {
    margin-bottom: $SPACING_L;
  }

  @include mq($from: medium) {
    margin-bottom: $LAYOUT_L;

    &__heading {
      margin-bottom: $SPACING_L;
    }

    &__aside {
      margin-bottom: 0;

      &::after {
        bottom: 0;
        height: auto;
        left: auto;
        right: 5%;
        top: 0;
        width: 1px;
      }
    }

    h3 + p {
      margin-bottom: $SPACING_3XL;
    }
  }

  @include mq($until: medium) {
    &__aside {
      margin-bottom: $LAYOUT_M;

      &::after {
        bottom: -$SPACING_L;
        height: 1px;
        left: 0;
        right: 0;
      }
    }
  }
}
