/**
 * Component: Pagination
 * -----------------------------------------------------------------------------
 * For showing pagination to indicate a series of related content exists
 * across multiple pages.
 *
 */
.pagination {
  color: $COLOR_TEXT_PRIMARY;
  display: flex;
  justify-content: center;
  text-align: center;

  &__item {
    display: inline-block;

    .icon {
      position: relative;
      top: -$SPACING_3XS;
    }

    &:nth-child(2) {
      margin: 0 $SPACING_M;
    }
  }

  &__link {
    color: $COLOR_TEXT_PRIMARY;
  }
}
