/**
 * Component: Panel
 * -----------------------------------------------------------------------------
 * A minimal block to display a collection of structure content in a grid.
 *
 */
.panel {
  background-color: $COLOR_BACKGROUND_LIGHT;
  padding: $SPACING_L $SPACING_M;

  &__title {
    font-size: ms(1);
  }

  &__label {
    font-size: ms(-2);
    font-weight: $WEIGHT_BOOK;
    letter-spacing: $LETTER_SPACING_LABEL;
    margin-bottom: $SPACING_XS;
    text-transform: uppercase;
  }

  &__text-link {
    color: $COLOR_TEXT_PRIMARY;
    font-size: ms(-2);
    text-decoration: underline;
  }

  &__grid {
    > .container {
      width: 95%;
    }
  }

  &__body {
    &, p {
      font-size: ms(-1);
    }
  }

  &__address {
    padding: $SPACING_M 0 $SPACING_XL 0;
  }

  p {
    margin-bottom: 0;
  }

  &--secondary {
    background: $COLOR_BACKGROUND_WHITE;
    border: 1px solid $COLOR_BORDER_DARK;
    padding: $SPACING_XL $SPACING_L;
  }

  @include mq($from: medium) {
    padding: $SPACING_XL;

    &__flex-row {
      display: flex;
      flex-flow: nowrap;
    }
  }
}
