/**
 * Component: Payment icons
 * -----------------------------------------------------------------------------
 * Payment icon list base styling.
 *
 */
.payment-icons {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-right: $SPACING_XS;
  }

  .icon {
    width: 24px;
  }

  &#{&}--centered {
    align-items: center;
    justify-content: center;
  }

  @include mq($from: large) {
    .icon {
      width: 32px;
    }
  }
}
