/**
 * Component: Product gallery
 * -----------------------------------------------------------------------------
 * Defauled product gallery layout with thumbnails on the left.
 *
 */
@import '~drift-zoom/dist/drift-basic.css';

.product-gallery {
  &__thumbnails-nav {
    list-style-type: none;
    margin: $SPACING_2XS 0 0;
    padding: 0;
  }

  &__thumbnail {
    display: block;
    padding-right: $SPACING_2XS;
    width: calc((100% / 4) - #{$SPACING_XS});

    a {
      display: block;
    }

    &:hover, &:focus {
      a {
        outline: 1px solid $COLOR_LINK_HOVER;
      }
    }
  }

  &__thumbnail-image {
    display: block;
    width: 100%;
  }

  &__zoom-pane {
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: $LAYER_RAISED;
  }

  @include mq($from: medium) {
    &__thumbnail {
      width: calc((100% / 4) - #{$SPACING_M});
    }
  }

  @include mq($from: large) {
    display: flex;

    &__main-thumbnail {
      order: 1;
      position: relative;
      width: 100%;
    }

    &__thumbnails-nav {
      display: block;
      margin-right: $SPACING_M;
      order: 0;
      padding: 0;
      width: 15%;
    }

    &__thumbnail {
      margin-bottom: $SPACING_M;
      padding-right: 0;
      width: 100%;

      a:not(:last-child) {
        margin-bottom: $LAYOUT_XS;
      }
    }
  }
}
