/**
 * Component: Product form
 * -----------------------------------------------------------------------------
 * Tightly coupled styling for the main product form.
 *
 */
.product-form {
  &__header {
    border-bottom: 1px solid $COLOR_BORDER_LIGHT;
    margin: $SPACING_XL 0 $SPACING_M;
    padding-bottom: $SPACING_M;
  }

  &__title {
    margin-bottom: 0;
  }

  &__review-badges {
    margin: $SPACING_S 0;
  }

  &__body {
    margin-bottom: $SPACING_M;
    max-width: 365px;
  }

  &__price {
    font-size: ms(2);

    s {
      color: $COLOR_TEXT_LIGHT;
    }
  }

  &__label {
    display: block;
    margin-bottom: $SPACING_M;
  }

  &__option {
    margin-bottom: $SPACING_S;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: $SPACING_L;
  }

  &__quantity-selector {
    max-width: 180px;
    width: 100%;

    .quantity-selector {
      max-width: none;
    }
  }

  &__add-to-cart {
    margin-left: 0;
    width: 100%;

    .button {
      height: 100%;
    }
  }

  @include mq($from: large) {
    &__header {
      margin: 0 0 $SPACING_XL;
      padding-bottom: $SPACING_XL;
    }

    &__quantity-selector {
      max-width: 125px;
      width: 100%;
    }

    &__add-to-cart {
      margin-left: $SPACING_M;
      min-width: 220px;
    }
  }
}
