/**
 * Component: Quantity selector
 * -----------------------------------------------------------------------------
 * A form control component with buttons on both sides to increment/decrement a counter
 *
 */
.quantity-selector {
  display: flex;
  max-width: 130px;
  position: relative;

  &__control {
    align-items: center;
    border: 1px solid $COLOR_BORDER_DARK;
    display: flex;
    justify-content: center;

    &:first-child {
      border-right: 0;
      width: 35px;
    }

    &:nth-child(2) {
      border: 0;
    }

    &:last-child {
      border-left: 0;
      width: 35px;
    }
  }

  &__input {
    appearance: textfield;
    border: 1px solid $COLOR_BORDER_DARK;
    color: $COLOR_TEXT_PRIMARY;
    height: 100%;
    padding: $SPACING_S;
    text-align: center;
    width: 100%;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__button {
    height: 100%;
    padding: $SPACING_XS 0;
    width: 100%;

    .icon {
      color: $COLOR_TEXT_PRIMARY;
      height: 29px;
      position: relative;
      top: -1px;
      transform: scale(0.5);
      transform-origin: center;
      width: 29px;
    }

    &:hover {
      background-color: $COLOR_BACKGROUND_LIGHT;
    }
  }

  /**
   * Modifiers.
   */
  &#{&}--small {
    .quantity-selector {
      &__button,
      &__input {
        padding: $SPACING_3XS 0;
      }
    }
  }
}
