/**
 * Component: Quick view
 * -----------------------------------------------------------------------------
 * Styling for embedded product form in a modal on the collection and homepage.
 *
 */
.quick-view {
  $quick_view_breakpoint: 420px;
  @include animation-overlay;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $LAYER_POP_OUT;

  &.is-active, &.is-open {
    opacity: 1;
    pointer-events: auto;

    .modal__card {
      opacity: 1;
      transform: translateY(-50%);
    }
  }

  &__container {
    display: flex;
    flex-flow: column wrap;
  }

  &__gallery {
    margin: $SPACING_L;
    max-width: 40%;
    width: 100%;
  }

  &__aside {
    flex: 1 1 40%;
    padding: $SPACING_L;
  }

  &__overlay {
    background-color: rgba($COLOR_BACKGROUND_LIGHT, 0.9);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__card {
    background-color: $COLOR_BACKGROUND_WHITE;
    border: 1px solid $COLOR_BORDER_LIGHT;
    left: 0;
    margin: 0 auto;
    max-height: 90vh;
    max-width: calc(100% - #{$LAYOUT_S});
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    &.is-loading {
      align-items: center;
      display: flex;
      justify-content: center;
      max-width: 92px;
      min-height: 92px;

      .quick-view__close {
        display: none;
      }
    }
  }

  &__close {
    padding: $SPACING_2XS;
    position: absolute;
    right: 0;
    top: 0;

    svg {
      pointer-events: none;
    }
  }

  /**
   * Overrides.
   */
  .loader {
    height: 72px;
    margin: 0 auto;
    position: relative;
    transform: scale(0.75);
    width: 72px;
  }

  .ball-pulse {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    > div {
      background-color: $COLOR_PRIMARY;
    }
  }

  .product-gallery {
    &__main-thumbnail {
      margin-left: 0;
      width: 100%;
    }
  }

  .product-form {
    &__header {
      position: absolute;
      right: 0;
      top: 0;
      width: calc(60% - #{$SPACING_L});
    }

    &__footer {
      flex-direction: column;
    }

    &__quantity-selector {
      margin-bottom: $SPACING_M;
      max-width: none;
    }
  }

  /**
   * Media queries.
   */
  @include mq($from: $quick_view_breakpoint) {
    .product-form {
      &__footer {
        flex-direction: row;
      }

      &__quantity-selector {
        margin-bottom: 0;
        max-width: 180px;
      }
    }
  }

  @include mq($from: medium) {
    &__card {
      max-height: unset;
      max-width: calc(100% - #{$LAYOUT_L});
    }

    &__container {
      flex-flow: row nowrap;
    }

    &__gallery {
      margin: 0;
      max-width: 440px;
      width: 100%;
    }

    &__aside {
      padding: $SPACING_3XL;
    }

    /**
     * Overrides.
     */
    .product-form {
      &__header {
        position: static;
        width: 100%;
      }
    }
  }

  @include mq($from: large) {
    &__card {
      max-width: 900px;
    }
  }
}
