/**
 * Component: Radio
 * -----------------------------------------------------------------------------
 * Base styling for custom radio buttons
 * - Replaces the input using a styled label
 *
 */

/* stylelint-disable max-nesting-depth */

.radio {
  $parent: &;

  &__container {
    align-items: center;
    display: flex;

    &:not(:last-child) {
      margin-bottom: $SPACING_S;
    }
  }

  &__input {
    @include visually-hidden;

    /**
     * Active state.
     */
    &:checked {
      + #{$parent}__label {
        &::before {
          border-color: $COLOR_SUPPORT_FOCUS;
        }

        &::after {
          background-color: $COLOR_SUPPORT_FOCUS;
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &__label {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 0;
    min-height: 1rem;
    padding-left: $SPACING_L;
    position: relative;

    /**
     * Box styling.
     */
    &::before {
      background-color: $COLOR_BACKGROUND_WHITE;
      border: 2px solid $COLOR_BORDER_LIGHT;
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
      height: calc(#{$SPACING_2XL} / 2);
      left: 0;
      position: absolute;
      top: 0;
      width: calc(#{$SPACING_2XL} / 2);
    }

    /**
     * Inner circle styling.
     */
    &::after {
      background-color: transparent;
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
      height: 10px;
      left: 5px;
      position: absolute;
      top: 5px;
      transform: scale(0);
      width: 10px;
    }

    /**
     * State.
     */
    &.is-disabled {
      color: $COLOR_TEXT_LIGHT;

      &:hover {
        cursor: not-allowed;
        pointer-events: none;
      }

      &::before {
        opacity: 0.5;
      }
    }
  }
}
