/**
 * Component: Related Articles
 * -----------------------------------------------------------------------------
 * Related articles base styling.
 *
 */
.related-articles {
  &__grid {
    display: grid;
    grid-gap: $GUTTER_WIDTH;
    grid-template-columns: repeat(1, 1fr);
  }

  @include mq($from: small) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include mq($from: large) {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
