/**
 * Component: Search bar
 * -----------------------------------------------------------------------------
 * Flexible form field to capture user input for keyword searches.
 *
 */
.search-bar {
  @include animation-drawer-slide;
  align-items: center;
  background-color: $COLOR_BACKGROUND_WHITE;
  display: flex;
  left: 0;
  opacity: 0;
  padding: $SPACING_L;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  transition-property: all;
  visibility: hidden;
  width: 100%;
  z-index: $LAYER_POP_OUT;

  .is-active & {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  &__form {
    width: 100%;
  }

  &__container {
    border: 1px solid $COLOR_BORDER_DARK;
    display: flex;
    position: relative;
  }

  &__field {
    width: 100%;
  }

  &__input[type=search] {
    @include animation-shrink(min-width);
    border: 0;
    min-width: 100%;
    outline: none;
    padding: $SPACING_S $SPACING_M $SPACING_S $SPACING_2XL;

    &:focus + .search-bar__placeholder {
      opacity: 0.25;
    }
  }

  &__placeholder {
    @include animation-text-link(opacity);
    font-size: ms(-1);
    font-weight: $WEIGHT_BOOK;
    left: $SPACING_2XL;
    margin: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__placeholder.is-hidden {
    display: none;
  }

  &__submit {
    color: $COLOR_SUPPORT_INFO;
    left: 6px;
    min-height: inherit;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include mq($from: medium) {
    &__input[type=search] {
      min-width: 140px;
    }
  }

  @include mq($from: large) {
    padding: 0;
    position: inherit;
    transform: translateX(50%);
    width: auto;

    .is-active & {
      transform: translateX(0);
    }

    &__input[type=search] {
      min-width: 180px;
    }

    &__close-mobile {
      display: none;
    }
  }

  @include mq($from: wide) {
    &__input[type=search] {
      min-width: 260px;
    }
  }
}
