/**
 * Component: Site navigation
 * -----------------------------------------------------------------------------
 * Base styling for the primary menu displayed in the site header.
 * - Includes single and meganav styling.
 *
 */
.site-nav {
  $nav_column_width: 240px;
  @include list-reset;
  align-content: center;
  display: flex;
  justify-content: center;

  a {
    color: $COLOR_TEXT_PRIMARY;

    &:hover {
      color: $COLOR_LINK_HOVER;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: $SPACING_L;
    }

    &:hover,
    &.is-active {
      .site-nav__meganav,
      .site-nav__dropdown {
        display: block;
        pointer-events: auto;
      }
    }

    &#{&}--has-dropdown {
      position: relative;
    }
  }

  &__link {
    @include animation-shrink(padding);
    display: inline-block;
    padding: 1.75rem 0;
    text-decoration: none;
  }

  &__subtitle {
    display: block;
    margin-bottom: $SPACING_L;
  }

  &__dropdown,
  &__meganav {
    background-color: $COLOR_BACKGROUND_WHITE;
    border: 1px solid $COLOR_BORDER_LIGHT;
    display: none;
    font-size: ms(0);
    margin: 0 auto;
    padding: $SPACING_XL 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: $LAYER_RAISED;
  }

  &__dropdown {
    left: -$SPACING_XL;
    padding: $SPACING_XL;
    width: $nav_column_width;
  }

  &__meganav {
    padding-bottom: $SPACING_3XL;
  }

  &__meganav-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }

  &__meganav-image {
    vertical-align: middle;
    width: 100%;
  }

  &__column {
    width: $nav_column_width;

    &:not(:first-child) {
      margin-left: $LAYOUT_S;
    }
  }

  &__caret {
    min-height: 24px;
    padding: 0;
  }
}
