/**
 * Component: Social sharing
 * -----------------------------------------------------------------------------
 * Inline styling for social media sharing icons.
 * - Used on blog and password pages.
 *
 */
.social-sharing {
  &__item {
    &:not(:first-child) {
      margin-left: $SPACING_3XS;
    }
  }
}
