/**
 * Component: Store selector
 * -----------------------------------------------------------------------------
 * Select dropdown navigation to select store or country.
 * - Activated through `theme settings > features`.
 *
 */
.store-selector {
  margin-top: $SPACING_S;
  max-width: 160px;
  position: relative;

  &__select {
    appearance: none;
    background-color: $COLOR_BACKGROUND_WHITE;
    border: 1px solid $COLOR_BORDER_DARK;
    border-radius: 0;
    padding: $SPACING_XS;
    transition: opacity 0.25s;

    &:hover {
      cursor: pointer;
    }
  }

  .icon__chevron--down {
    max-width: 8px;
    pointer-events: none;
    position: absolute;
    right: 1rem;
  }

  @include mq($from: medium) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    position: relative;

    &__label {
      left: 0;
      position: absolute;
      top: -$SPACING_L;
    }
  }
}
