/**
 * Component: Swatch grid
 * -----------------------------------------------------------------------------
 * A simple grid to control the flow and alignment of a collection of swatches
 * - Commonly used on ul elements.
 *
 */
.swatch-grid {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;

  &__item {
    display: inline-block;
    margin: 0 $SPACING_XS $SPACING_XS 0;
  }
}
