/**
 * Component: Swatch
 * -----------------------------------------------------------------------------
 * Used to display coloured backgrounds or small samples of 1-3 characters in an
 * isolated box.
 * - Used on the product page when swatches are activated via `theme settings`.
 * - Uses radio/checkbox pseudo selectors for state styling.
 * - 4 states: Active, Inactive, Blank, Disabled
 */

/* stylelint-disable max-nesting-depth */

.swatch {
  $parent: &;
  user-select: none;

  &__label {
    font-weight: $WEIGHT_BOOK;
    margin-bottom: 0;
  }

  &__button {
    @include button-reset;
    align-items: center;
    background-color: $COLOR_BACKGROUND_WHITE;
    border: 1px solid $COLOR_BORDER_DARK;
    cursor: pointer;
    display: flex;
    font-family: $FONT_DISPLAY;
    height: 42px;
    justify-content: center;
    min-width: 42px;
    overflow: hidden;
    padding: 0 $SPACING_XS;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    img {
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover {
      border-color: $COLOR_PRIMARY;
    }

    /**
     * Empty state.
     */
    &[disabled] {
      opacity: 0.5;

      &:hover {
        cursor: pointer;
      }

      &::after {
        background-color: $COLOR_BORDER_DARK;
        content: '';
        height: 1px;
        left: -8px;
        position: absolute;
        top: 20px;
        transform: rotate(45deg);
        width: 56px;
      }
    }

    span {
      pointer-events: none;
      user-select: none;
    }
  }

  &__input {
    /**
     * Active state.
     */
    &:checked {
      + #{$parent}__label #{$parent}__button {
        background-color: $COLOR_BACKGROUND_WHITE;
        border-color: $COLOR_PRIMARY;
        cursor: default;
        outline: 1px solid $COLOR_PRIMARY;
      }
    }

    /**
     * Checked empty state.
     */
    &[disabled]:checked {
      + #{$parent}__label #{$parent}__button {
        border-color: $COLOR_BORDER_DARK;
        color: $COLOR_BORDER_DARK;
        position: relative;
      }
    }

    /**
     * Disabled state.
     */
    &[disabled] {
      + #{$parent}__label #{$parent}__button {
        opacity: 0.5;

        &:hover {
          border-color: $COLOR_BORDER_DARK;
          cursor: default;
        }

        // Adds a diagonal line across the swatch.
        &::after {
          background-color: $COLOR_BORDER_DARK;
          content: '';
          height: 1px;
          left: -8px;
          position: absolute;
          top: 20px;
          transform: rotate(45deg);
          width: 56px;
        }
      }
    }
  }

  /**
   * Modifiers.
   */
  &#{&}--empty {
    #{$parent}__button {
      text-indent: -9999rem;
    }
  }
}
