/**
 * Component: Text link
 * -----------------------------------------------------------------------------
 * Basic styling for inline anchor text.
 *
 */
.text-link {
  @include button-reset;
  color: $COLOR_LINK;
  text-decoration: underline;

  &:focus {
    @include focus-ring;
  }

  &:hover {
    color: $COLOR_LINK_HOVER;
  }

  &:visited {
    color: darken($COLOR_SUPPORT_FOCUS, 20%);
  }

  &.is-disabled,
  &[aria-disabled=true] {
    opacity: 0.5;
    pointer-events: none;
  }
}
