/**
 * Component: Tile
 * -----------------------------------------------------------------------------
 * Tiles are flexible containers that house a variety of content.
 *
 */
.tile {
  border: 1px solid $COLOR_BORDER_LIGHT;
  padding: $SPACING_L;

  /**
   * Modifiers.
   */
  &#{&}--borderless {
    border: 0;
  }

  &#{&}--light {
    background-color: $COLOR_BORDER_LIGHT;
  }
}
