/**
 * Component: Window overlay
 * -----------------------------------------------------------------------------
 * A clickable window overlay that appears behind focused elements.
 *
 */
.window-overlay {
  @include animation-overlay;
  background-color: $COLOR_BACKGROUND_DARK;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $LAYER_OVERLAY;

  &.is-active {
    opacity: 0.5;
    pointer-events: auto;
  }
}
