/**
 * Config: Animation
 * -----------------------------------------------------------------------------
 * Variables and mixins for consistent animation patterns .
 *
 */

/**
 * Timing.
 */
$TIMING_SHORT: 0.2s;
$TIMING_BASE: 0.4s;
$TIMING_LONG: 0.6s;

/**
 * Easing.
 */
$EASING_LINEAR: cubic-bezier(0, 0, 1, 1);
$EASING_EASE: cubic-bezier(0.25, 0.1, 0.25, 1);
$EASING_EASE_IN_OUT: cubic-bezier(0.42, 0, 0.58, 1);
$EASING_EASE_IN: cubic-bezier(0.42, 0, 1, 1);
$EASING_EASE_OUT: cubic-bezier(0, 0, 0.58, 1);

/**
 * Presets.
 * - Predefined presets for general use.
 */
@mixin animation-text-link($property: color) {
  transition: $property $TIMING_SHORT $EASING_EASE_OUT;
}

@mixin animation-overlay($property: opacity) {
  transition: $property $TIMING_BASE $EASING_EASE_IN_OUT;
}

@mixin animation-modal-slide($property: transform) {
  transition: $property $TIMING_BASE $EASING_EASE_IN_OUT;
}

@mixin animation-drawer-slide($property: transform) {
  transition: $property $TIMING_LONG cubic-bezier(0.165, 0.84, 0.44, 1);
}

@mixin animation-search-slide($property: transform) {
  transition: $property $TIMING_BASE cubic-bezier(0, 0, 0.38, 1);
}

@mixin animation-icon-hover($property: fill) {
  transition: $property $TIMING_SHORT $EASING_LINEAR;
}

@mixin animation-fade-out($property: opacity) {
  transition: $property $TIMING_SHORT $EASING_LINEAR;
}

@mixin animation-shrink($property: max-height) {
  transition: $property $TIMING_SHORT $EASING_EASE_OUT;
}
