/**
 * Template: Account
 * -----------------------------------------------------------------------------
 * Base styling for the account page.
 *
 */
.template-account {
  $parent: &;

  .main-content {
    padding: $LAYOUT_M 0 0 0;

    > .container {
      position: relative;
    }
  }

  &__navlist {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    margin-bottom: $SPACING_M;
    overflow: hidden;

    > .col {
      padding: 0;
    }

    .navlist__item {
      margin: 0;
    }

    .navlist__item:not(:first-child) {
      padding-left: $SPACING_S;
    }

    .navlist__item:not(:last-child) {
      padding-right: $SPACING_S;
    }

    .navlist__item--logout {
      position: absolute;
      right: 0;
      top: $SPACING_XS;
    }

    .navlist__link {
      font-size: ms(-1);
      padding: $SPACING_2XS 0;
      text-decoration: none;
    }
  }

  &__title {
    margin-bottom: 0;

    + p {
      margin-top: $SPACING_XS;
    }
  }

  &__inner {
    > .col {
      padding: 0;
    }
  }

  &__panel {
    height: 100%;
    margin-bottom: $SPACING_L;

    a, .text-link {
      color: $COLOR_TEXT_PRIMARY;

      &:hover {
        color: $COLOR_LINK_HOVER;
      }
    }

    > .container {
      width: 95%;

      .row:first-child {
        margin-bottom: 0;
      }
    }

    .text-link {
      &:not(:last-child) {
        margin-right: $SPACING_S;
      }
    }

    /**
     * Panel component override.
     */
    .panel {
      .container {
        display: flex;
        flex-flow: column wrap;
      }

      .row:last-child {
        margin-top: auto;
      }
    }
  }

  &__label {
    font-size: ms(-2);
    letter-spacing: $LETTER_SPACING_LABEL;
    margin-bottom: $SPACING_XS;
    text-transform: uppercase;
  }

  &__buttons {
    margin-bottom: $LAYOUT_S;
  }

  @include mq($from: medium) {
    .main-content {
      padding: $LAYOUT_L 0;
    }

    &__body,
    &__inner {
      display: flex;
      flex-flow: row wrap;

      > .col {
        padding: 0 $SPACING_XS;
      }
    }

    &__title {
      margin-bottom: $SPACING_L;

      + p {
        margin-top: -$SPACING_M;
      }
    }

    &__panel {
      margin-bottom: 0;
    }

    &__navlist {
      border-right: 1px solid $COLOR_BORDER_DARK;
      display: flex;
      flex-flow: column wrap;
      height: 100%;
      margin-bottom: 0;

      .navlist__item {
        border-right: 0;
        margin-bottom: $SPACING_M;
      }

      .navlist__item:not(:first-child) {
        padding-left: 0;
      }

      .navlist__item:not(:last-child) {
        padding-right: 0;
      }

      .navlist__item--logout {
        position: static;
      }

      .navlist__link {
        font-size: ms(0);
        padding: 0;
      }
    }

    &__buttons {
      margin-bottom: $LAYOUT_S + $LAYOUT_XS;
    }
  }
}
