/**
 * Template: Activate account
 * -----------------------------------------------------------------------------
 * Base styling for the activate account page.
 *
 */
.template-activate_account {
  $parent: &;

  .main-content {
    padding: $LAYOUT_M 0 0 0;

    > .container {
      position: relative;
    }
  }
}
