/**
 * Template: Addresses
 * -----------------------------------------------------------------------------
 * Base styling for the addresses page.
 *
 */

.template-addresses {
  $parent: &;

  .main-content {
    padding: $LAYOUT_M 0 0 0;

    > .container {
      position: relative;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: $SPACING_S;
  }

  &__form-row {
    margin-bottom: 0;
  }

  &__form-button {
    margin-bottom: $SPACING_2XL;
  }

  &__form {
    .row > .col:not(:last-child) {
      margin-bottom: $SPACING_M;
    }
  }

  &__heading {
    order: 2;
  }

  &__action {
    margin-bottom: $SPACING_XL;
    order: 1;
    text-align: left;
  }

  &__panel {
    margin-bottom: 0;

    .text-link {
      color: $COLOR_TEXT_PRIMARY;

      &:hover {
        color: $COLOR_LINK_HOVER;
      }

      &:not(:last-child) {
        margin-right: $SPACING_S;
      }
    }

    &:not(.panel--secondary) {
      margin-bottom: $SPACING_L;
    }
  }

  .form-group {
    margin-bottom: 0;
    min-width: 0;

    &:not(:first-child) {
      .panel {
        border-top: 0;
        padding-top: $SPACING_M;
      }
    }
  }

  .checkbox__container {
    padding: $SPACING_XS 0;

    input[type=checkbox] {
      margin-right: 0;
    }
  }

  @include mq($from: medium) {
    .main-content {
      padding: $LAYOUT_L 0;
    }

    &__buttons {
      display: block;
    }

    &__action {
      margin-bottom: 0;
      text-align: right;
    }

    &__panel {
      &:not(.panel--secondary) {
        margin-bottom: 0;
      }
    }

    &__form {
      .row > .col:not(:last-child) {
        margin-bottom: 0;
      }
    }

    .checkbox__container {
      padding: $SPACING_M 0;
    }
  }
}
