/**
 * Template: Login
 * -----------------------------------------------------------------------------
 * Base styling for the login page.
 *
 */
.template-login {
  $parent: &;

  .main-content {
    padding: $LAYOUT_M 0 0 0;
  }

  &__col.col {
    padding: 0;
  }

  &__grid-item {
    &:first-child {
      padding-bottom: $SPACING_3XL;
    }

    &:last-child {
      border-top: 1px solid $COLOR_BORDER_DARK;
      padding-top: $SPACING_3XL;
    }
  }

  &__button {
    margin-bottom: $SPACING_XL;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form-footer {
    display: inherit;
    margin-bottom: 0;
    padding-top: $SPACING_M;

    .text-link {
      text-decoration: underline;
    }
  }

  &__text {
    font-size: ms(-1);
  }

  &__text-link {
    color: $COLOR_TEXT_PRIMARY;
    font-size: ms(-2);
  }

  @include mq($from: medium) {
    .main-content {
      padding: $LAYOUT_L 0;
    }

    &__grid {
      display: flex;
      flex-wrap: wrap;
    }

    &__grid-item {
      width: 50%;

      &:first-child {
        padding-bottom: 0;
      }

      &:last-child {
        border-left: 1px solid $COLOR_BORDER_DARK;
        border-top: 0;
        padding-top: 0;
      }
    }
  }

  @include mq($from: small) {
    &__col.col {
      padding: 0 $SPACING_XS;
    }
  }

  @include mq($until: large) {
    .form-group {
      min-width: 0;
    }
  }

  @include mq($until: medium) {
    &__form-footer {
      padding-top: $SPACING_2XS;
    }

    &__button {
      margin-bottom: $SPACING_M + $SPACING_S;
    }

    &__grid-item {
      .row {
        padding: 0 $LAYOUT_S;
      }
    }
  }
}
