/**
 * Template: Order
 * -----------------------------------------------------------------------------
 * Base styling for the order overview & details pages.
 *
 */

.template-order {
  $parent: &;

  .main-content {
    padding: $LAYOUT_M 0;

    > .container {
      position: relative;
    }
  }

  &__heading {
    border-bottom: 1px solid $COLOR_BORDER_DARK;
    margin-bottom: $SPACING_M;
    padding-bottom: $SPACING_XS;
  }

  &__title {
    margin-bottom: $SPACING_XS;
  }

  &__date.col {
    font-size: ms(-2);
    margin: $SPACING_XL 0 $SPACING_M 0;
    text-align: left;
  }

  @include mq($from: medium) {
    .main-content {
      padding: $LAYOUT_L 0;
    }

    &__date.col {
      font-size: ms(-1);
      margin: $SPACING_S 0 $SPACING_2XL 0;
      text-align: right;

      .template-account__label {
        margin-bottom: $SPACING_S;
      }
    }

    &__heading {
      margin-bottom: $SPACING_XL;
      padding-bottom: $SPACING_L;
    }
  }

  @include mq($from: small) {
    &__date.col {
      font-size: ms(-1);
    }
  }
}
