/**
 * Template: Register
 * -----------------------------------------------------------------------------
 * Base styling for the register page.
 *
 */
.template-register {
  $parent: &;

  .main-content {
    padding: $LAYOUT_M 0;
  }

  &__title {
    margin-bottom: $SPACING_M;
    text-align: left;
  }

  &__button {
    margin-bottom: $SPACING_XL + $SPACING_2XS;
    width: 100%;
  }

  &__form-footer {
    display: inherit;
    margin-bottom: 0;
    padding-top: $SPACING_M;

    a {
      color: $COLOR_TEXT_PRIMARY;
      text-decoration: underline;
    }
  }

  @include mq($from: small) {
    .main-content {
      padding: $LAYOUT_L 0;
    }

    &__title,
    &__form-footer {
      text-align: center;
    }
  }

  @include mq($until: medium) {
    .main-content {
      padding: $LAYOUT_M $LAYOUT_M 0 $LAYOUT_M;
    }

    &__form-footer {
      padding-top: $SPACING_2XS;
    }

    &__button {
      margin-bottom: $SPACING_M + $SPACING_S;
    }

    .form-group {
      min-width: 0;
    }
  }
}
