/**
 * Template: Reset password
 * -----------------------------------------------------------------------------
 * Base styling for the reset password page.
 *
 */
.template-reset_password {
  $parent: &;

  .main-content {
    padding: $LAYOUT_M 0 0 0;

    > .container {
      position: relative;
    }
  }
}
