<div class="container">
  <div class="row">
    <div class="col xs12">
      <div class="template-404__header">
        <h1>{{ 'general.404.title' | t }}</h1>
      </div>

      <p>{{ 'general.404.subtext_html' | t }}</p>
    </div>
  </div>
</div>
