{% comment %}
------------------------------------------------------------------------------
  Template: Article
  - Article comments have been removed from template
------------------------------------------------------------------------------
{% endcomment %}
{% assign related_article_tag_size = 0 %}

<article class="template-article__article" role="article">
  {% if article.image %}
    <div class="template-article__hero">
      <div class="template-article__hero-container">
        <div class="row">
          <div class="col xs12 m10 offset-m1 template-article__hero-col">
            <div
              class="hero template-article__hero-image lazyload"
              data-bgset="{% include 'responsive-bg-image', image: article.image %}">
            </div>

            <noscript>
              {%- assign image_size = article.image.width | append: 'x' -%}
              <div
                class="hero template-article__hero"
                style="background-image: {{ article.image | img_url: image_size }}">
              </div>
            </noscript>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="template-article__container">
      <div class="row">
        <div class="col xs12 m8 offset-m2">
          <header class="template-article__header" role="banner">
            <h2 class="template-article__title">{{ article.title }}</h2>
            {% capture date %}
              {{ article.published_at | time_tag: format: 'month_day_year' }}
            {% endcapture %}

            <div class="template-article__meta">
              <div class="template-article__meta-container">
                <p class="template-article__meta-body">
                  {{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}
                </p>

                {% if article.tags.size > 0 %}
                  <ul class="template-article__categories">
                    {% for tag in article.tags %}
                      {% if tag contains 'related-articles' %}
                        {% assign related_article_tag_size = related_article_tag_size | plus: 1 %}
                      {% else %}
                        <li class="template-article__category-item">
                          {{ tag | link_to_tag: tag }}
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>

            {% if settings.social_sharing_blog %}
              <div class="template-article__social-sharing">
                {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
              </div>
            {% endif %}
          </header>
        </div>
      </div>

      <div class="row">
        <div class="col xs12 m8 offset-m2">
          <div class="template-article__body">
            {{ article.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

{% unless related_article_tag_size <= 0 %}
  {% include 'related-articles' %}
{% endunless %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
