{% paginate blog.articles by 24 %}

  {%- assign blog_title = blog.title -%}
  {%- assign hero_description = 'blogs.general.hero_description' | t -%}
  {%- assign related_article_tag_size = 0 -%}

  {% if current_tags %}
    {% capture blog_title %}
      {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
    {% endcapture %}
  {% endif %}

  <div class="template-blog__hero hero">
    <div class="container">
      <div class="row">
        <div class="col xs12">
          <div class="hero__content">
            <h1 class="d3 hero__title">{{ blog_title }}</h1>
            {% if hero_description %}
              <p class="h4 hero__title">
                {{ hero_description }}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %}
  ------------------------------------------------------------------------------
    Article previews
  ------------------------------------------------------------------------------
  {% endcomment %}

  <div class="container">
    <div class="row">
      <div class="col xs12">
        <ul class="template-blog__categories">
          {% for tag in blog.all_tags %}
            {% unless tag contains 'related_articles: ' %}
              {% if current_tags contains tag %}
                <li class="template-blog__category-item">
                  {{ tag }}
                </li>
              {% else %}
                {% if tag contains 'related-articles' %}
                  {% assign related_article_tag_size = related_article_tag_size | plus: 1 %}
                {% else %}
                  <li class="template-blog__category-item">
                    {{ tag | link_to_tag: tag }}
                  </li>
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col xs12">
        <div class="template-blog__grid">
          {% for article in blog.articles %}
            <div class="template-blog__item card">
              {% include 'article-card' %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% if paginate.pages > 1 %}
      <div class="row">
        {% include 'pagination' %}
      </div>
    {% endif %}
  </div>

{% endpaginate %}
