<div class="template-cart__body">
  <div class="template-cart__container" js-cart="container">
    {% if cart.item_count > 0 %}
      <form action="/cart" method="post" novalidate>
        <div class="container">
          <div class="row">
            <div class="col xs12 l6 offset-l1">
              <div class="template-cart__panel">
                <h1 class="template-cart__title h2">{{ 'cart.general.title' | t }}</h1>

                {% include 'cart-table' %}
              </div>
            </div>

            <div class="col xs12 l4">
              <div class="template-cart__panel" js-cart="panel">
                <div class="container">
                  <div class="row">
                    <div class="col xs12">
                      <h1 class="template-cart__subtitle h4">{{ 'cart.general.total' | t }}</h1>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col xs5">
                      <span class="cart-table__label">
                        {{ 'cart.general.subtotal' | t | append: ':' }}
                      </span>
                    </div>

                    <div class="col xs7 text-right">
                      <span class="cart-table__meta" js-cart-table="subtotal" js-currency="price" data-price="{{ cart.total_price }}">
                        {{ cart.total_price | money }}
                      </span>
                    </div>
                  </div>

                  <div class="row {% unless cart.total_discounts > 0 %}is-hidden{% endunless %}">
                    <div class="col xs5">
                      <span class="cart-table__label">
                        {{ 'cart.general.savings' | t | append: ':' }}
                      </span>
                    </div>

                    <div class="col xs7 text-right">
                      <span class="cart-table__meta" js-cart-table="totalDiscount" js-currency="price" data-price="{{ cart.total_discounts }}">
                        {{ cart.total_discounts | money }}
                      </span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col xs5">
                      <span class="cart-table__label">
                        {{ 'cart.general.shipping' | t | append: ':' }}
                      </span>
                    </div>

                    <div class="col xs7 text-right">
                      <span class="cart-table__meta">
                        {{ 'cart.general.shipping_at_checkout' | t }}
                      </span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col xs12">
                      <div class="cart-table__overview-footer">
                        {% if settings.enable_free_shipping_notification %}
                          {% include 'free-shipping-notification' %}
                        {% endif %}

                        <div class="cart-table__total">
                          <span class="subtitle-1">
                            {{ 'cart.general.total' | t | append: ':' }}
                          </span>

                          <span class="subtitle-1" js-cart-table="total" js-currency="price" data-price="{{ cart.total_price }}">
                            {{ cart.total_price | money }}
                          </span>
                        </div>

                        <div class="cart-table__checkout-button">
                          <input type="submit" name="checkout" class="button button--primary button--block" value="{{ 'cart.general.checkout' | t }}">
                        </div>

                        <p class="cart-table__disclaimer caption text-center">
                          {{ 'cart.general.currency_disclaimer' | t | replace: '%shop_currency%', cart.currency.iso_code }}
                        </p>

                        <div class="cart-table__payment-options">
                          {% unless shop.enabled_payment_types == empty %}
                            <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
                            {% include 'payment-icons' with class: 'payment-icons--centered' %}
                          {% endunless %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    {% else %}
      <div class="container">
        <div class="row">
          <div class="col xs12 m6 offset-m3 text-center">
            <h1>{{ 'cart.general.title' | t }}</h1>
            <p>{{ 'cart.general.empty' | t }}</p>
            <a href="/collections/all" class="button button--primary button--large">{{ 'cart.general.continue_browsing' | t }}</a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
