{% comment %}
------------------------------------------------------------------------------
  Collection
  - Main collection template
  - Hero banner text options
  - Custom sidebar navigation
------------------------------------------------------------------------------
{% endcomment %}

{% paginate collection.products by 24 %}
  {% include 'collection-hero' with
    hero_text_color: hero_text_color,
    collection: collection
  %}

  <div class="template-collection__container critical-clear"
    {%- if settings.enable_quick_view -%}
      js-quick-view="container"
    {%- endif -%}
  >
    <div class="container">
      <div class="row">
        <div class="template-collection__header">
          <div class="col xs6">
            {% if settings.enable_breadcrumbs %}
              <div class="template-collection__breadcrumb">
                {% include 'breadcrumb' %}
            </div>
            {% endif %}
            <p class="template-collection__page-size meta">
              {{ 'collections.general.showing_results' | t: page_size: paginate.page_size }}
            </p>
          </div>

          <div class="col xs6">
            <div class="template-collection__sort-by">
              <div class="form-group">
                <label class="label visually-hidden" for="sortBy">{{ 'collections.sorting.sort_by' | t }}</label>
                <select id="sortBy" js-collection="sortBy" style="background-image: url({{ 'icon-caret-down.svg' | asset_url }});">
                  <option value="manual" selected>{{ 'collections.sorting.manual' | t }}</option>
                  <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
                  <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
                  <option value="title-ascending">{{ 'collections.sorting.title_ascending' | t }}</option>
                  <option value="title-descending">{{ 'collections.sorting.title_descending' | t }}</option>
                  <option value="created-ascending">{{ 'collections.sorting.created_ascending' | t }}</option>
                  <option value="created-descending">{{ 'collections.sorting.created_descending' | t }}</option>
                  <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="template-collection__grid {% if collection_has_menu %}template-collection__grid--with-aside{% endif %}">
          <div class="template-collection__sidebar">
            <div class="template-collection__filter-toggle">
              <button class="button button--primary button--block" js-toggle="filterToggle" data-target="filterToggle">
                {{ 'collections.general.filter_label' | t }}
              </button>
            </div>

            <ul id="filterToggle" class="accordion template-collection__filter-menu">
              <li class="accordion__item" js-accordion="item">
                <button tabindex="0" class="accordion__control" js-accordion="control">
                  Collection {% include 'icon-direction' with icon: 'caret-down' %}
                </button>

                <div id="content-0" class="accordion__content" js-accordion="content">
                  <ul class="navlist navlist--block">
                    {% for link in linklists['collection-menu'].links %}
                      <li class="navlist__item {% if link.active %}is-active{% endif %}">
                        <a class="navlist__link" href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>

              <li class="accordion__item" js-accordion="item">
                <button tabindex="0" class="accordion__control" js-accordion="control">
                  Category {% include 'icon-direction' with icon: 'caret-down' %}
                </button>

                <div id="content-1" class="accordion__content" js-accordion="content">
                  <fieldset class="fieldset" slot="demo">
                    <div class="checkbox__container">
                      <input id="checkbox-1" type="checkbox" class="checkbox__input" value="new" name="checkbox-1" checked aria-checked="true">
                      <label for="checkbox-1" class="checkbox__label">Active</label>
                    </div>

                    <div class="checkbox__container">
                      <input id="checkbox-2" type="checkbox" class="checkbox__input" value="new" name="checkbox-2" aria-checked="false">
                      <label for="checkbox-2" class="checkbox__label">Shirts</label>
                    </div>

                    <div class="checkbox__container">
                      <input id="checkbox-3" type="checkbox" class="checkbox__input" value="new" name="checkbox-3" aria-checked="false">
                      <label for="checkbox-3" class="checkbox__label">Hoodies &amp; sweatshirts</label>
                    </div>

                    <div class="checkbox__container">
                      <input id="checkbox-4" type="checkbox" class="checkbox__input" value="new" name="checkbox-4" aria-checked="false">
                      <label for="checkbox-4" class="checkbox__label">Cardigans &amp; jumpers</label>
                    </div>

                    <div class="checkbox__container">
                      <input id="checkbox-5" type="checkbox" class="checkbox__input" value="new" name="checkbox-5" aria-checked="false">
                      <label for="checkbox-5" class="checkbox__label">Trousers</label>
                    </div>
                  </fieldset>
                </div>
              </li>

              <li class="accordion__item" js-accordion="item">
                <button tabindex="0" class="accordion__control" js-accordion="control">
                  Colour {% include 'icon-direction' with icon: 'caret-down' %}
                </button>

                <div id="content-2" class="accordion__content" js-accordion="content">
                  <p>This filter section should be replaced with the app used.</p>
                </div>
              </li>

              <li class="accordion__item" js-accordion="item">
                <button tabindex="0" class="accordion__control" js-accordion="control">
                  Size {% include 'icon-direction' with icon: 'caret-down' %}
                </button>

                <div id="content-3" class="accordion__content" js-accordion="content">
                  <p>This filter section should be replaced with the app used.</p>
                </div>
              </li>
            </ul>
          </div>

          <div class="template-collection__body">
            <div class="card-grid">
              {% for product in collection.products %}
                <div class="card-grid__item">
                  {% include 'product-card' %}
                </div>
              {% endfor %}
            </div>

            {% if paginate.pages > 1 %}
              <div class="row">
                <div class="template-collection__pagination">
                  {% include 'pagination' %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endpaginate %}
