{% layout 'styleguide' %}

{% comment %}
------------------------------------------------------------------------------
  Page: Styleguide
  - A template system to help define and visualise basic design elements 
    and patterns
  - A library of reusable components with an overview of available classes
  - This entire layout is rendered by Vue.js in styleguide.js
------------------------------------------------------------------------------
{% endcomment %}

<div id="app" role="region" aria-label="app container">
  <div class="wrapper">
    <side-nav>
      <template slot="header">
        <a href="/">
          {% include 'site-logo' %}
        </a>
      </template>

      <template slot="toggle">
        {% include 'icon-misc' with icon: 'hamburger' %}
      </template>
    </side-nav>

    <content-section name="Styles">
      {% include 'styleguide-styles' %}
    </content-section>

    <content-section name="Components">
      {% include 'styleguide-components' %}
    </content-section>

    <content-section name="Sections">
      {% include 'styleguide-sections' %}
    </content-section>

    <content-section name="Global">
      {% include 'styleguide-global' %}
    </content-section>

    <content-section name="Collection">
      {% include 'styleguide-collection' %}
    </content-section>

    <content-section name="Product">
      {% include 'styleguide-product' %}
    </content-section>

    <content-section name="Cart">
      {% include 'styleguide-cart' %}
    </content-section>
  </div>
</div>
