<div class="template-page">
  <div class="container">
    <div class="row">
      <div class="col xs12 m8 offset-m2">
        <h1>{{ page.title }}</h1>

        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>
