{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<div class="container">
  <div class="row">
    <div class="col xs12 m5 offset-m3">
      <h1 class="template-password__logo">
        {% include 'site-logo' with store_name: 'Frame 3' %}
      </h1>

      <h2>{{ 'general.password_page.opening_soon' | t }}</h2>

      {% unless shop.password_message == blank %}
        <p>
          {{ shop.password_message }}
        </p>
      {% endunless %}

      <a href="#loginForm" class="button button--primary" js-toggle="loginFormToggle" data-target="loginForm">
        {{ 'general.password_page.password_link' | t }}
      </a>

      <div id="loginForm" class="template-password__form">
        <div class="form-group">
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}

            <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group">
              <div class="input-group__control">
                <input type="password"
                  name="password"
                  id="Password"
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
              </div>

              <div class="input-group__addon">
                <button type="submit" name="commit" class="button button--primary">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </div>
            </div>
          {% endform %}
        </div>

        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
  </div>
</div>
