{% layout none %}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="quick-view__container">
  <div class="quick-view__gallery">
    {% include 'product-gallery' with hide_thumbnail_nav: true, hide_zoom: true %}
  </div>

  <div class="quick-view__aside">
    {% include 'product-form' with
      namespace: 'quick-view'
      quick_view: true
    %}

    {% if settings.enable_free_shipping_notification %}
      {% include 'free-shipping-notification' %}
    {% endif %}
  </div>
</div>

<script id="product-quick-view" type="application/json">
  {{ product | json }}
</script>

<script id="productInventory-quick-view" type="application/json">
  {% for variant in product.variants %}
    window.ProductInventoryJSON[{{ variant.id | json }}] = {
      available: {{ variant.available | json }},
      id: {{ variant.id | json }},
      incoming: {{ variant.incoming | json }},
      inventory_quantity: {{ variant.inventory_quantity | json }},
    }
  {% endfor %}
</script>
