{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="template-product__container">
  <div class="container">
    {% if settings.enable_breadcrumbs %}
      <div class="row">
        <div class="template-product__header">
          <div class="col xs12">
            <div class="template-product__breadcrumb">
              {% include 'breadcrumb' %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col xs12 m7">
        <div class="template-product__gallery">
          {% include 'product-gallery' %}
        </div>
      </div>

      <div class="col xs12 m5">
        <div class="container">
          <div class="template-product__aside">
            {% include 'product-form' %}

            {% if settings.enable_free_shipping_notification %}
              {% include 'free-shipping-notification' %}
            {% endif %}

            <ul class="accordion product-accordion">
              <li class="accordion__item is-active" js-accordion="item">
                <button tabindex="0" class="accordion__control" js-accordion="control">
                  {{ 'products.product.description' | t }} {% include 'icon-direction' with icon: 'chevron-down' %}
                </button>

                <div id="content-1" class="accordion__content" js-accordion="content">
                  <p>{{ product.description }}</p>
                </div>
              </li>

              {% if pages['delivery-and-returns'] != blank %}
                <li class="accordion__item" js-accordion="item">
                  <button tabindex="0" class="accordion__control" js-accordion="control">
                    {{ 'products.product.delivery_returns' | t }} {% include 'icon-direction' with icon: 'chevron-down' %}
                  </button>

                  <div id="content-3" class="accordion__content" js-accordion="content">
                    {{ pages['delivery-and-returns'].content }}
                  </div>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% if settings.enable_product_reviews %}
      <div class="row">
        <div class="col xs12">
          <div class="template-product__reviews">
            {% include 'product-reviews' %}
          </div>
        </div>
      </div>
    {% endif %}

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}
  </div>

  <div class="row">
    <div class="col xs12">
      {% section 'recommended-products' %}
    </div>
  </div>
</div>

{% unless product == empty %}
  <script id="product" type="application/json">
    {{ product | json }}
  </script>

  <script id="productInventory" type="application/json">
    {% for variant in product.variants %}
      window.ProductInventoryJSON[{{ variant.id | json }}] = {
        available: {{ variant.available | json }},
        id: {{ variant.id | json }},
        incoming: {{ variant.incoming | json }},
        inventory_quantity: {{ variant.inventory_quantity | json }},
      }
    {% endfor %}
  </script>
{% endunless %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ cart.currency.iso_code }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
              {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
              {% if variant.sku != blank %}
                "sku": "{{ variant.sku }}",
              {% endif %}
              {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endif %}
}
</script>
