{% comment %}
------------------------------------------------------------------------------
  Collection
  - Main collection template
  - Hero banner text options
  - Custom sidebar navigation
------------------------------------------------------------------------------
{% endcomment %}

{% paginate search.results by 10 %}

  <header class="template-search__hero hero">
    <div class="template-search__container container">
      <h1 class="template-search__title">
        {% if search.performed %}
          <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
            {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        {% else %}
          {{ 'general.search.title' | t }}
        {% endif %}
      </h1>

      <div class="template-search__form">
        {% include 'search-bar' %}
      </div>
    </div>
  </header>

  {% if search.performed %}
    <div class="container"
      {%- if settings.enable_quick_view -%}
        js-quick-view="container"
      {%- endif -%}
    >
      <div class="row">
        <div class="col">
          {% if search.results_count == 0 %}
            <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
          {% else %}
            <h2 class="visually-hidden">
              {{ 'general.search.heading' | t: count: search.results_count }}
            </h2>

            <div class="card-grid card-grid--4up">
              {% for item in search.results %}
                {% if item.object_type == 'product' %}
                  {% assign product = item %}

                  <div class="card-grid__item">
                    {% include 'product-card' %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="row">
          <div class="col xs12">
            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endpaginate %}

{% if settings.enable_quick_view %}
  {% include 'modal-quick-view' %}
{% endif %}
