{% comment %}
------------------------------------------------------------------------------
  This is a required section of the theme
  - It can be removed by removing ajax-cart attributes from the theme code
  - The contents below will be re-rendered with the ajax-cart.js component
------------------------------------------------------------------------------
{% endcomment %}

<section class="site-drawer drawer" js-drawer="container">
  <div class="ajax-cart">
    <div class="ajax-cart__header" js-ajax-cart="header">

    </div>

    <div class="ajax-cart__body" js-ajax-cart="body">
      {% if cart.total_item <= 0 %}
        {{ 'cart.general.empty' | t }}
      {% else %}
        {% for item in cart.items %}

          {% comment %}
          ------------------------------------------------------------------------------
            Item config
          ------------------------------------------------------------------------------
          {% endcomment %}

          {% assign image_lqip = item.image | img_url: '50x' %}
          {% assign image_s = item.image | img_url: '120x' %}
          {% assign image_m = item.image | img_url: '240x' %}
          {% assign image_l = item.image | img_url: '320x' %}

          <div class="ajax-cart__line-item">
            <div class="ajax-cart__image">
              <img
                src="{{ image_lqip }}"
                srcset="{{ image_s }} 300w, {{ image_m }} 700w, {{ image_l }} 1000w"
                alt="{{ item.image.alt }}"
              >
            </div>

            <div class="ajax-cart__description">
              <p>{{ item.vendor }}</p>

              <a href="{{ item.url }}">{{ item.product.title }}</a>

              {% unless item.product.has_only_default_variant %}
                <p>{{ item.variant.title }}</p>
              {% endunless %}

              <p>{{ 'cart.label.quantity' | t | append: ':' }} {{ item.quantity }}</p>

              <div data-label="{{ 'cart.label.price' | t }}">
                {% if item.original_line_price != item.line_price %}
                  <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                  {{ item.price | money }}
                  <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                  <s>{{ item.original_price | money }}</s>
                {% else %}
                  {{ item.price | money }}
                {% endif %}
              </div>

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="ajax-cart__footer" js-ajax-cart="footer">
      <a href="/cart" class="button">{{ 'cart.general.checkout' | t }}</a>
    </div>
  </div>
</section>
