{% comment %}
------------------------------------------------------------------------------
  Art directed image
  - Responsively serve two image sources based on small and large screen sizes
  - This heavily relies on the picture element which will need to be polyfilled
    for older browsers (IE9-11)
  
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture
  https://github.com/aFarkas/lazysizes

  Accepts:
    small_image: This image will be served for tablet and mobile screen sizes
    large_image: This image will be served for laptop and desktop screen sizes
    alt: Alt tags should be supplied for SEO and screen reader accessibility

  Usage:
    In your liquid template file, copy the following line
    - {% include 'art-direction-image' with 
      small_image: featured_image_1,
      large_image: featured_image_2,
      alt: "text to be used in the alt tag",
    %}

  Globals:
    Media queries are defined in helpers/lazysizes.js
------------------------------------------------------------------------------
{% endcomment %}

<picture>
  <source data-srcset="{{ small_image | img_url: '420x' }}" media="--small" />
  <source data-srcset="{{ small_image | img_url: '720x' }}" media="--medium" />
  <source data-srcset="{{ large_image | img_url: '900x' }}" media="--large" />
  <source data-srcset="{{ large_image | img_url: '1280x' }}" />
  <img 
    data-src="{{ large_image | img_url: '1280x' }}" 
    class="lazyload blur-up" 
    alt="{{ alt }}" />
</picture>