{% comment %}
------------------------------------------------------------------------------
  Snippet: Article card
------------------------------------------------------------------------------
{% endcomment %}

<div class="article-card">
  {% if article.image %}
    <div class="article-card__thumbnail responsive-card-image">
      <a href="{{ article.url }}">
        <div class="responsive-card-image__wrapper">
          {% assign image_s = article.image | img_url: '240x160', crop: 'center' %}
          {% assign image_m = article.image | img_url: '320x213', crop: 'center' %}
          {% assign image_l = article.image | img_url: '480x320', crop: 'center' %}

          <img
            class="responsive-card-image__image lazyload blur-up"
            src="{{ article.image | img_url: '5x' }}"
            data-sizes="auto"
            data-src="{{ image_m }}"
            data-srcset="{{ image_s }} 300w,
            {{ image_m }} 600w,
            {{ image_l }} 900w"
            tabindex="-1"
            alt="{{ article.image.alt | escape }}" />

          <noscript>
            <img src="{{ image_l }}" alt="{{ image.alt | escape }}">
          </noscript>
        </div>
      </a>
    </div>
  {% endif %}

  <div class="article-card__body">
    <h4 class="article-card__title">
      {{ article.title | link_to: article.url }}
    </h4>

    <div class="caption article-card__meta">
      <span>
        {{ article.published_at | time_tag: format: 'day_month_year' }}
      </span>
    </div>

    <p class="article-card__description">
      {% if article.excerpt.size > 0 %}
        {{ article.excerpt | strip_html | truncate: 140 }}
      {% else %}
        {{ article.content | strip_html | truncate: 140 }}
      {% endif %}
    </p>
  </div>
</div>
