{% comment %}
------------------------------------------------------------------------------
  Breadcrumb
  - https://help.shopify.com/en/themes/customization/navigation/add-breadcrumb
  - HTML entities: https://dev.w3.org/html5/html-author/charref
------------------------------------------------------------------------------
{% endcomment %}

{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumb">
    <a href="/" title="Home" class="breadcrumb__item breadcrumb__link">Home</a>

    {% if template contains 'page' %}
      <span aria-hidden="true" class="breadcrumb__separator">&rtrif;</span>
      <span class="breadcrumb__item">{{ page.title }}</span>
      
    {% elsif template contains 'product' %}
      {% if collection.url %}
        <span aria-hidden="true" class="breadcrumb__separator">&rtrif;</span>
        {{ collection.title | link_to: collection.url }}
      {% endif %}

      <span aria-hidden="true" class="breadcrumb__separator">&rtrif;</span>
      <span class="breadcrumb__item">{{ product.title }}</span>

    {% elsif template contains 'collection' and collection.handle %}
      <span aria-hidden="true" class="breadcrumb__separator">&rtrif;</span>

      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
        <span aria-hidden="true" class="breadcrumb__separator">&rtrif;</span>
        <span>{{ current_tags | join: " + " }}</span>

      {% else %}
        <span class="breadcrumb__item">{{ collection.title }}</span>
      {% endif %}

    {% elsif template == 'blog' %}
      <span aria-hidden="true" class="breadcrumb__separator">&rtrif;</span>

      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true" class="breadcrumb__separator">&rtrif;</span>
        <span class="breadcrumb__item">{{ current_tags | join: " + " }}</span>
      {% else %}
        <span class="breadcrumb__item">{{ blog.title }}</span>
      {% endif %}

    {% elsif template == 'article' %}
      <span aria-hidden="true" class="breadcrumb__separator">&rtrif;</span>
      {{ blog.title | link_to: blog.url }}
      <span aria-hidden="true" class="breadcrumb__separator">&rtrif;</span>
      <span class="breadcrumb__item">{{ article.title }}</span>
    {% else %}

      <span aria-hidden="true" class="breadcrumb__separator">&rtrif;</span>
      <span class="breadcrumb__item">{{ page_title }}</span>
    {% endif %}
  </nav>
{% endunless %}