{% comment %}
------------------------------------------------------------------------------
  Config: Cart table
------------------------------------------------------------------------------
{% endcomment %}

{% assign enable_product_vendor = false %}

<div class="cart-table" js-cart-table="container" data-enable-vendor-title="{{ enable_product_vendor }}" >
  <div class="cart-table__body ajax-cart">
    {% for item in cart.items %}
      <div class="cart-table__item ajax-cart__line-item" js-ajax-cart="lineItem">
        {% if item.image != blank %}
          <div class="cart-table__image ajax-cart__image" data-label="{{ 'customer.order.product' | t }}">
            <a href="{{ item.url | within: collections.all }}">
              {{ item | img_url: '240x240' | img_tag: item.title }}
            </a>
          </div>
        {% endif %}

        <div class="cart-table__description">
          <div class="row no-margin">
            <div class="col xs6 s7 l8">
              <div class="ajax-cart__inner">
                {% if enable_product_vendor %}
                  <p class="ajax-cart__vendor meta">{{ item.product.vendor }}</p>
                {% endif %}

                <a href="{{ item.url }}" class="ajax-cart__title">{{ item.product.title }}</a>

                {% unless item.product.has_only_default_variant %}
                  <p class="ajax-cart__variant-title caption">{{ item.variant.title }}</p>
                {% endunless %}

                {%- assign property_size = item.properties | size -%}

                {% if property_size > 0 %}
                  <p class="ajax-cart__properties caption">
                    {% for p in item.properties %}
                      {% unless p.last == blank %}
                        {{ p.first }}:

                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}
                      <br>
                      {% endunless %}
                    {% endfor %}
                  </p>
                {% endif %}

                <button class="ajax-cart__remove" js-ajax-cart="remove" data-key="{{ item.key }}">
                  {{ 'cart.general.remove' | t }}
                </button>
              </div>
            </div>

            <div class="col xs6 s5 l4">
              <div class="ajax-cart__price">
                <div class="cart-table__quantity-selector" data-label="{{ 'cart.label.quantity' | t }}">
                  {% include 'quantity-selector' with id: forloop.index, size: 'small', key: item.key, value: item.quantity %}
                </div>

                {% if item.original_line_price != item.line_price %}
                  <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                  <span js-currency="price" data-price="{{ item.price }}">{{ item.price | money }}</span>
                  <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                  <s>{{ item.original_price | money }}</s>
                {% else %}
                  <span js-currency="price" data-price="{{ item.price }}">{{ item.price | money }}</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
