{% comment %}
------------------------------------------------------------------------------
  Crtical
  - This snippet includes all 'critical' scripts and styles to display the theme

  Critical Styles for Super Fast First Render
  - Currently the process of including these styles is very manual. Hopefully soon
    we'll be able to generate these critical styles automatically.
------------------------------------------------------------------------------
{% endcomment %}
<style>
  .critical-hide {
    display: none;
  }

  .critical-clear {
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  .main-content .shopify-section {
    display: none;
  }

  .main-content .shopify-section:first-child {
    display: inherit;
  }

  /** * Helpers */
  .visually-hidden,
  .icon {
    display: inline-block;
    fill: currentColor;
    height: 32px;
    vertical-align: middle;
    width: 32px;
  }

  /** * Grid */
  .container {
    margin: 0 auto;
    max-width: 1360px;
    width: 90%;
  }

  .row {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .row:last-child {
    margin-bottom: 0;
  }

  .row.no-margin {
    margin: 0;
  }

  .row:after {
    clear: both;
    content: "";
    display: table;
  }

  .row .col {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding: 0 0.5rem;
  }

  .row .col.xs2 {
    left: auto;
    margin-left: auto;
    right: auto;
    width: 16.66667%;
  }

  .row .col.xs3 {
    left: auto;
    margin-left: auto;
    right: auto;
    width: 25%;
  }

  .row .col.xs6 {
    left: auto;
    margin-left: auto;
    right: auto;
    width: 50%;
  }

  .row .col.xs12 {
    left: auto;
    margin-left: auto;
    right: auto;
    width: 100%;
  }

  .row .col.offset-xs1 {
    margin-left: 8.33333%;
  }

  .is-hidden,
  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  /** * Reset */
  *,
  :after,
  :before,
  html {
    box-sizing: border-box;
  }

  body,
  html {
    height: 100%;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    margin: 0;
  }

  main {
    display: block;
    width: 100%;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  a {
    background-color: transparent;
  }

  button,
  input,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: transparent;
    color: #adadad;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    border: 0;
  }

  a,
  button,
  input,
  label,
  select {
    font-family: inherit;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  .icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    vertical-align: middle;
    width: 24px;
  }

  svg circle,
  svg g,
  svg path {
    max-width: 100%;
  }

  .icon-fallback-text {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  img,
  picture,
  video {
    margin: 0;
    max-width: 100%;
  }

  /** * Typography */
  .d1,
  body,
  html {
    font-family: -apple-system, blinkmacsystemfont, San Francisco, Helvetica, sans-serif;
    font-weight: 400;
  }

  .d1 {
    font-size: 27.648px;
    letter-spacing: 0;
    line-height: 1.3;
  }

  h1 {
    font-family: -apple-system, blinkmacsystemfont, San Francisco, Helvetica, sans-serif;
    font-size: 27.648px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 2rem;
  }

  h2 {
    font-family: -apple-system, blinkmacsystemfont, San Francisco, Helvetica, sans-serif;
    font-size: 23.04px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 1.5rem;
  }

  .h3,
  h3 {
    font-family: -apple-system, blinkmacsystemfont, San Francisco, Helvetica, sans-serif;
    font-size: 19.2px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 1rem;
  }

  .subtitle-1 {
    font-size: 13.33333px;
    font-weight: 700;
    letter-spacing: 0;
  }

  .subtitle-2 {
    font-size: 11.11111px;
    font-weight: 700;
    letter-spacing: 0;
  }

  p {
    font-family: -apple-system, blinkmacsystemfont, San Francisco, Helvetica, sans-serif;
    font-size: 13.33333px;
    line-height: 1.5;
    margin: 0 0 1.5rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .text-link,
  a {
    color: #456e96;
    text-decoration: none;
  }

  label {
    font-size: 11.11111px;
    font-weight: 700;
    letter-spacing: 0;
  }

  .caption {
    font-size: 11.11111px;
  }

  ul {
    font-size: 13.33333px;
    line-height: 1.5;
  }

  .navlist {
    font-size: 13.33333px;
    line-height: 1.3;
    list-style-type: none;
    margin: 0 0 1.5rem;
    padding: 0;
  }

  .site-nav .navlist {
    font-size: 16px;
  }

  .navlist__item:not(:last-child) {
    margin-bottom: 1rem;
  }

  .site-nav .navlist__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .navlist__link {
    color: #000;
    display: inline-block;
    padding: 0.5rem 0;
  }

  .site-nav {
    list-style-type: none;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .site-nav,
  .site-nav li {
    margin: 0;
    padding: 0;
  }

  .site-nav a {
    color: #000;
  }

  .site-nav__item:not(:last-child) {
    margin-right: 1.5rem;
  }

  .site-nav__item.site-nav__item--has-dropdown {
    position: relative;
  }

  .site-nav__link {
    display: inline-block;
    padding: 1.75rem 0;
    text-decoration: none;
  }

  .text-link {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    padding: 0;
    color: #456e96;
    text-decoration: underline;
  }

  .announcement-bar {
    background-color: #f6f6f6;
    color: #000;
    display: none;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.5rem 0;
    position: relative;
    text-align: center;
    z-index: 8;
  }

  .announcement-bar__text {
    line-height: 1.3;
    margin: 0;
  }

  .announcement-bar__link {
    text-decoration: underline;
  }

  .announcement-bar.is-active {
    display: -ms-flexbox;
    display: flex;
  }

  .announcement-bar.announcement-bar--primary {
    background-color: #000;
    color: #fff;
    font-weight: 500;
  }

  .announcement-bar.announcement-bar--primary .announcement-bar__link {
    color: #fff;
  }

  .site-header__container {
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
  }

  .site-header__container,
  .site-header__hamburger {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
  }

  .site-header__hamburger {
    -ms-flex: 1;
    flex: 1;
  }

  .site-header__masthead {
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    padding: 0.5rem 0;
    position: relative;
    will-change: padding;
  }

  .site-header__brand {
    -ms-flex: 1;
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .site-header__logo {
    margin: 0;
    width: 120px;
  }

  .site-header__logo svg {
    display: block;
    max-height: 25px;
    width: 100%;
  }

  .site-header__navbar {
    display: none;
  }

  .site-header__misc {
    -ms-flex-align: center;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: -0.5rem;
  }

  .site-header__misc {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
  }

  .site-header__icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    border: 0;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: inherit;
    padding: 0;
    color: #000;
    height: 36px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    width: 36px;
  }

  .site-header__icon.site-header__icon--hamburger {
    margin-left: -0.5rem;
  }

  .site-header__misc .site-header__icon--search {
    display: none;
  }

  .site-header__account-dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .site-header__icon .badge {
    opacity: 1;
    position: absolute;
    right: -8px;
    top: 0;
  }

  .badge {
    border-radius: 8rem;
    font-size: 13.33333px;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

  .badge.badge--round {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 24px;
    min-width: 18px;
    padding: .25rem .5rem;
  }

  .badge.badge--primary {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
  }

  .flag-icon {
    background-color: #acacac;
    display: inline-block;
    line-height: 1em;
    width: 1.33333333em;
  }

  @media (min-width: 48em) {
    .row .col.m6 {
      left: auto;
      margin-left: auto;
      right: auto;
      width: 50%;
    }
  }

  @media (min-width: 64em) {
    h1 {
      font-size: 33.1776px;
    }

    .d1 {
      font-size: 57.33089px;
    }

    .subtitle-1 {
      font-size: 16px;
    }

    h2 {
      font-size: 27.648px;
    }

    .h3,
    h3 {
      font-size: 23.04px;
    }

    .subtitle-2 {
      font-size: 13.33333px;
    }

    p {
      font-size: 16px;
    }

    label {
      font-size: 13.33333px;
    }

    ul {
      font-size: 16px;
    }

    .badge {
      padding: 0.25rem 0.75rem;
    }

    .navlist__link {
      padding: 0;
    }

    .site-header__brand {
      max-width: 120px;
    }

    .site-header__container {
      -ms-flex-pack: normal;
      justify-content: normal;
    }

    .site-header__hamburger {
      display: none;
    }

    .site-header__misc {
      margin-left: auto;
    }

    .site-header__masthead {
      height: 100%;
      padding: 0;
    }

    .site-header__navbar {
      -ms-flex-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: 3rem;
    }

    .site-header__icon.site-header__icon--hamburger {
      display: none;
    }

    .site-header__icon.site-header__icon--account,
    .site-header__icon.site-header__icon--search {
      display: -ms-flexbox;
      display: flex;
      align-items: center;
    }

    .site-header__hamburger .site-header__icon--search {
      display: none;
    }

    .site-header__misc .site-header__icon--search {
      display: block;
    }

    .site-header__icon--search .icon__close {
      display: none;
    }

    .site-header__brand {
      max-width: 120px;
    }
  }
</style>
