{% comment %}
------------------------------------------------------------------------------
Free Shipping Threshold
- A re-usable snippet to display the amount left to spend for free shipping.
- This is purely cosmetic and does not control the shipping rates in the admin.
------------------------------------------------------------------------------
{% endcomment %}

{% assign shipping_threshold_value = settings.free_shipping_threshold_value | plus: 0 %}
{% assign shipping_threshold_difference = shipping_threshold_value | minus: cart.total_price %}

{%- capture notification_value_template -%}
  {% if shipping_threshold_difference %}
    <span js-currency="price" data-price="{{ shipping_threshold_difference }}">
      {{ shipping_threshold_difference | money }}
    </span>
  {% else %}
    <span js-currency="price" data-price="{{ shipping_threshold_value }}">
      {{ shipping_threshold_value | money }}
    </span>
  {% endif %}
{%- endcapture -%}

<div class="free-shipping-notification" js-free-shipping-notification="container" role="alert">
  <div class="free-shipping-notification__text-wrapper">
    <p class="free-shipping-notification__text" js-free-shipping-notification="text">
      {%- if shipping_threshold_value > 0 -%}
        {%- if cart.total_price < shipping_threshold_value -%}
          {{ 'cart.free_shipping.partial' | t | replace: '#value#', notification_value_template }}
        {%- else cart.total_price >= shipping_threshold_value -%}
          {{ 'cart.free_shipping.ideal' | t }}
        {%- endif -%}
      {%- else -%}
        {{ 'cart.free_shipping.blank' | t | replace: '#value#', notification_value_template }}
      {%- endif -%}
    </p>
  </div>
</div>
