{% comment %}
------------------------------------------------------------------------------
  Icons: Misc
  - General purpose icons to provide additional visuals on top of labels
------------------------------------------------------------------------------
{% endcomment %}

{% case icon %}
  {% when 'account' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__account" viewBox="0 0 24 24">
      <path d="M12 6.25a2.257 2.257 0 0 1 2.25 2.25A2.257 2.257 0 0 1 12 10.75 2.257 2.257 0 0 1 9.75 8.5 2.257 2.257 0 0 1 12 6.25zm0 10.25c3.037 0 6.525 1.451 6.75 2.25H5.25c.259-.81 3.724-2.25 6.75-2.25zM12 4a4.499 4.499 0 0 0-4.5 4.5c0 2.486 2.014 4.5 4.5 4.5s4.5-2.014 4.5-4.5S14.486 4 12 4zm0 10.25c-3.004 0-9 1.508-9 4.5V21h18v-2.25c0-2.992-5.996-4.5-9-4.5z"/>
    </svg>

  {% when 'bag' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__account" viewBox="0 0 24 24">
      <path d="M19 6H17C17 3.24 14.76 1 12 1C9.24 1 7 3.24 7 6H5C3.9 6 3 6.9 3 8V20C3 21.1 3.9 22 5 22H19C20.1 22 21 21.1 21 20V8C21 6.9 20.1 6 19 6ZM12 3C13.66 3 15 4.34 15 6H9C9 4.34 10.34 3 12 3ZM19 20H5V8H19V20ZM12 12C10.34 12 9 10.66 9 9H7C7 11.76 9.24 14 12 14C14.76 14 17 11.76 17 9H15C15 10.66 13.66 12 12 12Z" fill="black"/>
    </svg>

  {% when 'basket' %}
    <svg xmlns="http://www.w3.org/2000/svg"  class="icon icon__basket" viewBox="0 0 24 24">
      <path d="M22 9h-4.79l-4.38-6.56a.993.993 0 0 0-.83-.42c-.32 0-.64.14-.83.43L6.79 9H2c-.55 0-1 .45-1 1 0 .09.01.18.04.27l2.54 9.27c.23.84 1 1.46 1.92 1.46h13c.92 0 1.69-.62 1.93-1.46l2.54-9.27L23 10c0-.55-.45-1-1-1zM12 4.8L14.8 9H9.2L12 4.8zM18.5 19l-12.99.01L3.31 11H20.7l-2.2 8zM12 13c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
    </svg>

  {% when 'cart' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__cart" viewBox="0 0 24 24">
      <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM17 18c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zM15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0 0 20.01 4H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6z"/>
    </svg>

  {% when 'close' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__close"  viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
    </svg>

  {% when 'email' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__email" viewBox="0 0 24 24">
      <path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"/>
    </svg>

  {% when 'expand' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__expand" viewBox="0 0 24 24">
      <path d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3h-6zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3v6zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6h6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6v-6z"/>
    </svg>

  {% when 'error' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__error" viewBox="0 0 24 24">
      <path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
    </svg>

  {% when 'globe' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__globe" viewBox="0 0 36 36">
      <path d="M30 18c0-3.2-1.1-5.9-3.3-8.3-2.2-2.3-4.9-3.6-8-3.7H18c-3.3 0-6.1 1.2-8.5 3.5C7.1 11.9 6 14.7 6 18s1.2 6.1 3.5 8.5c2.4 2.3 5.2 3.5 8.5 3.5H18.6c3.2-.2 5.8-1.4 8-3.7S30 21.2 30 18zm-2.2 3.8c-.8-.2-1.9-.4-3.3-.6.2-1.1.2-2.2.2-3.3 0-.9 0-1.8-.1-2.6 1.6-.2 2.7-.4 3.4-.6l-.3-.8c.6 1.3.8 2.6.8 4s-.2 2.7-.7 3.9zM12.7 18c0-.8 0-1.6.1-2.4 1.4.1 2.8.2 4.4.2V21c-1.5 0-3 0-4.3.1-.1-1-.2-2-.2-3.1zm6-10.4c.9.3 1.8 1 2.5 2.2.7 1.2 1.3 2.6 1.6 4.3-1.2.1-2.6.2-4.1.2V7.6zm-1.4 0v6.6c-1.5 0-2.9-.1-4.2-.2.4-1.7.9-3.1 1.7-4.3.7-1.1 1.5-1.8 2.5-2.1zm0 14.9v5.9c-.8-.3-1.6-.9-2.3-1.9-.7-1-1.3-2.3-1.6-3.8 1.1-.2 2.4-.2 3.9-.2zm1.4 5.9v-6c1.4 0 2.8 0 4 .1-.4 1.5-.9 2.8-1.6 3.9-.7 1.1-1.5 1.8-2.4 2zm0-7.4v-5.2c1.6 0 3.1-.1 4.4-.2.1.8.1 1.6.1 2.4 0 1.1-.1 2.1-.2 3.1-1.3-.1-2.7-.1-4.3-.1zm8.7-7.6c-.7.2-1.7.4-3 .6-.4-2.3-1.2-4.1-2.2-5.6 2.3 1 4.1 2.6 5.2 5zm-13-5.3c-1.3 1.5-2.2 3.4-2.8 5.8-1.3-.1-2.3-.3-3.1-.5 1.3-2.5 3.2-4.3 5.9-5.3zM8 14.9c.8.2 2 .4 3.4.6-.1.8-.2 1.7-.2 2.6 0 1.1.1 2.2.3 3.2-1.3.2-2.4.3-3.3.6-.5-1.2-.7-2.5-.7-3.8 0-1.2.1-2.2.5-3.2zm.9 8.3c.8-.2 1.8-.3 3-.4.6 2.1 1.4 3.8 2.6 5.2-2.5-1-4.4-2.6-5.6-4.8zm13.3 4.5c.9-1.3 1.6-2.9 2.1-4.9 1.2.1 2.1.3 2.9.5-1.2 2-2.9 3.4-5 4.4z" />
    </svg>

  {% when 'hamburger' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__hamburger" viewBox="0 0 24 24">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
    </svg>

  {% when 'heart' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__heart" viewBox="0 0 24 24">
      <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
    </svg>

  {% when 'minus' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__minus" viewBox="0 0 24 24">
      <path d="M19 13H5v-2h14v2z"/>
    </svg>

  {% when 'phone' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__phone" viewBox="0 0 24 24">
      <path d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51zm9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19zM7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z"/>
    </svg>

  {% when 'plus' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__plus" viewBox="0 0 24 24">
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
    </svg>

  {% when 'preview' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__preview" viewBox="0 0 24 24">
      <path d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5-3.8 0-7.17-2.13-8.82-5.5C4.83 8.63 8.21 6.5 12 6.5zm0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5zm0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"/>
    </svg>

  {% when 'pin' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__pin" viewBox="0 0 24 24">
      <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/>
      <path d="M12 11.5c1.3807 0 2.5-1.1193 2.5-2.5S13.3807 6.5 12 6.5 9.5 7.6193 9.5 9s1.1193 2.5 2.5 2.5z"/>
    </svg>

  {% when 'search' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__search" viewBox="0 0 24 24">
      <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
    </svg>

  {% when 'sort' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__sort" viewBox="0 0 24 24">
      <path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"/>
    </svg>

  {% when 'star' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__star" viewBox="0 0 24 24">
      <path fill="#FFD102" d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
    </svg>

  {% when 'star-filled' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__star icon__star--filled" viewBox="0 0 24 24">
      <path fill="#FFD102" d="M14.81 8.62l7.19.62-5.45 4.73L18.18 21 12 17.27 5.82 21l1.64-7.03L2 9.24l7.19-.61L12 2l2.81 6.62z"/>
    </svg>

  {% when 'tick' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__tick" viewBox="0 0 24 24">
      <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 20.9998 7l-1.41-1.41-10.59 10.58z"/>
    </svg>

  {% when 'zoom-in' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__zoom-in" viewBox="0 0 24 24">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zm.5-7H9v2H7v1h2v2h1v-2h2V9h-2V7z"/>
    </svg>

  {% when 'zoom-out' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__zoom-out" viewBox="0 0 24 24">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zM7 9h5v1H7V9z"/>
    </svg>

  {% else %}
    <span>No icon found!</span>
{% endcase %}
