{% comment %}
------------------------------------------------------------------------------
  Icons: Social media
------------------------------------------------------------------------------
{% endcomment %}

{% case icon %}
  {% when 'facebook' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__facebook" viewBox="0 0 36 36">
      <path d="M19.16 27.6V18h2.66l.35-3.32h-3V13c0-.87.09-1.34 1.33-1.34h1.66V8.31h-2.67c-3.2 0-4.32 1.61-4.32 4.32v2h-2V18h2v9.6z" fill-rule="evenodd"></path>
    </svg>

  {% when 'gplus' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__gplus" viewBox="0 0 36 36">
      <path fill-rule="evenodd" d="M29 17.43v2h-2v2h-2v-2h-2v-2h2v-2h2v2zm-14.77 0h6.51a6.12 6.12 0 0 1 .11 1.14 6.34 6.34 0 0 1-6.62 6.7 6.86 6.86 0 1 1 0-13.72 6.61 6.61 0 0 1 4.62 1.79L17 15.14a3.89 3.89 0 0 0-2.75-1.06 4.33 4.33 0 0 0 0 8.66 3.72 3.72 0 0 0 3.91-3h-3.93z"></path>
    </svg>

  {% when 'instagram' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__instagram" viewBox="0 0 36 36">
      <path fill-rule="evenodd" d="M18.51 13.83a4 4 0 1 1-4 4 4 4 0 0 1 4-4zm0-2.16a6.15 6.15 0 1 0 6.15 6.15 6.15 6.15 0 0 0-6.15-6.15zM24.9 10a1.44 1.44 0 1 0 1.44 1.44A1.44 1.44 0 0 0 24.9 10zm-7.46-2h1.07c3.2 0 3.57 0 4.84.07a6.94 6.94 0 0 1 2.22.41 3.64 3.64 0 0 1 1.37.9 3.75 3.75 0 0 1 .9 1.38 6.61 6.61 0 0 1 .41 2.24c.06 1.26.07 1.64.07 4.83s0 3.58-.07 4.84a6.61 6.61 0 0 1-.41 2.22 4 4 0 0 1-2.27 2.27 6.41 6.41 0 0 1-2.22.41c-1.27.06-1.64.07-4.84.07s-3.58 0-4.84-.07a6.67 6.67 0 0 1-2.22-.41 3.86 3.86 0 0 1-1.38-.89 3.61 3.61 0 0 1-.89-1.38 6.41 6.41 0 0 1-.41-2.22c-.06-1.28-.07-1.67-.07-4.86s0-3.57.07-4.84a6.41 6.41 0 0 1 .41-2.22 3.5 3.5 0 0 1 .89-1.37 3.75 3.75 0 0 1 1.38-.9 6.67 6.67 0 0 1 2.22-.41C14.78 8 15.2 8 17.44 8z"></path>
    </svg>

  {% when 'pinterest' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__pinterest" viewBox="0 0 36 36">
      <path fill-rule="evenodd" d="M7.35 17.81a10.33 10.33 0 0 0 6.56 9.62 9.89 9.89 0 0 1 0-3c.18-.8 1.21-5.13 1.21-5.13a3.72 3.72 0 0 1-.31-1.53c0-1.44.83-2.51 1.87-2.51A1.29 1.29 0 0 1 18 16.75a20.73 20.73 0 0 1-.85 3.43 1.5 1.5 0 0 0 1.53 1.87c1.83 0 3.24-1.94 3.24-4.73a4.07 4.07 0 0 0-4.31-4.2A4.46 4.46 0 0 0 13 17.6a4 4 0 0 0 .74 2.4.32.32 0 0 1 .07.29c-.08.33-.26 1-.29 1.18s-.15.22-.35.13c-1.28-.6-2.09-2.48-2.09-4 0-3.25 2.37-6.25 6.82-6.25a6.07 6.07 0 0 1 6.37 6c0 3.56-2.25 6.42-5.36 6.42a2.77 2.77 0 0 1-2.37-1.18s-.52 2-.64 2.45a11.49 11.49 0 0 1-1.28 2.71 10.33 10.33 0 1 0-7.27-9.87z"></path>
    </svg>

  {% when 'twitter' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__twitter" viewBox="0 0 36 36">
      <path fill-rule="evenodd" d="M17.88 14l.05.7-.71-.08a11.57 11.57 0 0 1-6.77-3.33l-.93-.93-.24.68a4.12 4.12 0 0 0 .88 4.25c.56.6.44.69-.54.33a1.87 1.87 0 0 0-.62-.15 5.08 5.08 0 0 0 .51 1.92 4.58 4.58 0 0 0 1.95 1.84l.69.33h-.82c-.8 0-.83 0-.74.32a4.29 4.29 0 0 0 2.66 2.35l.88.3-.77.46a7.9 7.9 0 0 1-3.86 1.07 4.43 4.43 0 0 0-1.16.12 10.7 10.7 0 0 0 2.74 1.26 12 12 0 0 0 9.32-1.06 12.42 12.42 0 0 0 4.73-5.57 14.86 14.86 0 0 0 1-4.3c0-.66 0-.74.83-1.53a9.37 9.37 0 0 0 1-1.11c.14-.27.13-.27-.6 0-1.21.43-1.38.38-.78-.27a4.23 4.23 0 0 0 1-1.53s-.22 0-.46.15a7.09 7.09 0 0 1-1.25.49l-.76.25-.7-.48a5.66 5.66 0 0 0-1.21-.63 4.83 4.83 0 0 0-2.48.06A4.12 4.12 0 0 0 17.88 14z"></path>
    </svg>

  {% when 'youtube' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__youtube" viewBox="0 0 36 36">
      <path fill-rule="evenodd" d="M16.14 20.45l6.2-3.28-6.2-3.31zm13.63-7.74a36.24 36.24 0 0 1 .23 3.8v1.79a36.24 36.24 0 0 1-.23 3.8 5.14 5.14 0 0 1-.91 2.33 3.26 3.26 0 0 1-2.31 1c-3.21.24-8 .25-8 .25s-6-.06-7.81-.24a3.89 3.89 0 0 1-2.54-1 5.14 5.14 0 0 1-.91-2.33A36.24 36.24 0 0 1 7 18.3v-1.79a36.24 36.24 0 0 1 .23-3.8 5.1 5.1 0 0 1 .91-2.33 3.24 3.24 0 0 1 2.3-1c3.22-.24 8-.24 8-.24s4.83 0 8 .24a3.26 3.26 0 0 1 2.31 1 5.1 5.1 0 0 1 1.02 2.33z"></path>
    </svg>

  {% else %}
    <span>No icon found!</span>  
    
{% endcase %}