{% comment %}
------------------------------------------------------------------------------
  Icons: Direction
  - Directional icons to provide context on the state of a UI
------------------------------------------------------------------------------
{% endcomment %}

{% case icon %}
  {% when 'arrow-down' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__arrow icon__arrow--down" viewBox="0 0 24 24">
      <path fill="#000" d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/>
    </svg>

  {% when 'arrow-left' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__arrow icon__arrow--left" viewBox="0 0 24 24">
      <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
    </svg>

  {% when 'arrow-right' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__arrow icon__arrow--right" viewBox="0 0 24 24">
      <path fill="#000" d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/>
    </svg>

  {% when 'arrow-up' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__arrow icon__arrow--up" viewBox="0 0 24 24">
      <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"/>
    </svg>

  {% when 'caret-down' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__caret icon__caret--down" viewBox="0 0 24 24">
      <path d="M7 10l5 5 5-5H7z"/>
    </svg>

  {% when 'caret-left' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__caret icon__caret--left" viewBox="0 0 24 24">
      <path d="M14 7l-5 5 5 5V7z"/>
    </svg>

  {% when 'caret-right' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__caret icon__caret--right" viewBox="0 0 24 24">
      <path d="M10 17l5-5-5-5v10z"/>
    </svg>

  {% when 'caret-up' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__caret icon__caret--up" viewBox="0 0 24 24">
      <path d="M7 14l5-5 5 5H7z"/>
    </svg>

  {% when 'chevron-down' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__chevron icon__chevron--down" viewBox="0 0 24 24">
      <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
    </svg>

  {% when 'chevron-left' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__chevron icon__chevron--left" viewBox="0 0 24 24">
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"/>
    </svg>

  {% when 'chevron-right' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__chevron icon__chevron--right" viewBox="0 0 24 24">
      <path d="M10.0001 6l-1.41 1.41L13.17 12l-4.58 4.59L10 18l6-6-6-6z"/>
    </svg>

  {% when 'chevron-up' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__chevron icon__chevron--up" viewBox="0 0 24 24">
      <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"/>
    </svg>

  {% else %}
    <span>No icon found!</span>

{% endcase %}
