{% comment %}
------------------------------------------------------------------------------
  Section: Newsletter modal
  - This is an optional section for Frame
  - It is available in the global theme settings in the theme editor.
------------------------------------------------------------------------------
{% endcomment %}

<section id="Modal-1" data-section-id="{{ section.id }}" tabindex="-1" role="dialog" data-section-type="modal" class="modal modal--light newsletter-modal">
  <div class="modal__card">
    <div class="modal__header">
      <h5 class="modal__title">Modal title</h5>
      <button class="button" js-modal="closeModal">
        {% include 'icon-misc' with icon: 'close' %}
      </button>
    </div>

    <div class="modal__body">
      <div class="container">
        <div class="row">
          <div class="col xs12">

          </div>
        </div>
      </div>
    </div>

    <div class="modal__footer">
      <a href="#" class="button button--primary">Sign up</a>
    </div>
  </div>
</section>

