{% comment %}
------------------------------------------------------------------------------
  Snippet: Redirect modal
  - This is an optional feature for Frame
------------------------------------------------------------------------------
{% endcomment %}

{% assign modifiers = '' %}
{% assign is_styleguide = false %}

{% if handle == 'styleguide' %}
  {% assign is_styleguide = true %}
  {% assign modifiers = modifiers | append: 'is-active' %}
{% endif %}

<section id="redirect-modal" class="modal {{ modifiers }} redirect-modal critical-clear" aria-hidden="true" data-section-id="{{ section.id }}" data-section-type="redirect-modal" js-redirect-modal="container">
  <div class="modal__overlay" data-micromodal-close>
    <div js-modal="body">
      {% include 'modal-redirect-choices' %}
      {% include 'modal-redirect-settings' with hidden: true %}
    </div>
  </div>
</section>
