{% comment %}
------------------------------------------------------------------------------
  Snippet: Quickview modal
  - Available in the global theme settings in the theme editor.
------------------------------------------------------------------------------
{% endcomment %}

<div id="quick-view" class="modal quick-view critical-clear" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="quick-view__card is-loading" js-quick-view="viewport" js-modal="body">
      <button class="quick-view__close button" aria-label="Close modal" data-micromodal-close>
        {% include 'icon-misc' with icon: 'close' %}
        <div class="visually-hidden">{{ 'general.accessibility.close' | t }}</div>
      </button>

      <div class="quick-view__body" role="dialog" aria-modal="true" js-quick-view="body"></div>
    </div>
  </div>
</div>
