{% comment %}
------------------------------------------------------------------------------
  Snippet: Newsletter callout

  It is available under Site Footer section settings.

  Theme Store required settings
  - Heading: title of the newsletter section
  - subtitle: description of the newsletter section
------------------------------------------------------------------------------
{% endcomment %}

<div class="newsletter-callout">
  {% if section.settings.esp_title != blank or section.settings.esp_subtitle != blank %}
    <div class="newsletter-callout__header">
      {% if section.settings.esp_title != blank %}
        <h2 class="newsletter-callout__title" for="Email">{{ section.settings.esp_title | escape }}</h2>
      {% endif %}

      {% if section.settings.esp_subtitle != blank %}
        <p class="newsletter-callout__subtitle">{{ section.settings.esp_subtitle | escape }}</p>
      {% endif %}
    </div>
  {% endif %}

  <div class="newsletter-callout__form">
    {% form 'customer', id: 'NewsletterCallout' %}
      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
      {% else %}

        <div class="newsletter-callout__input-group input-group">
          <input type="hidden" name="contact[tags]" value="newsletter">

          <div class="newsletter-callout__field input-group__control">
            <input type="email"
              class="newsletter-callout__input"
              name="contact[email]"
              id="NewsletterCallout-Email"
              autocorrect="off"
              autocapitalize="off"
              required
            >

            <label for="NewsletterCallout-Email" class="newsletter-callout__label caption">{{ 'general.newsletter_form.label' | t }}</label>
          </div>

          <div class="input-group__addon">
            <button id="Subscribe" class="newsletter-callout__submit button button--primary">
              <span>{{ 'general.newsletter_form.submit' | t }}</span>
            </button>
          </div>
        </div>
      {% endif %}
    {% endform %}
  </div>
</div>
