{% assign modifiers = '' %}

{% if class %}
  {% assign modifiers = modifiers | append: class %}
{% endif %}

<ul class="payment-icons {{ modifiers }}">
  {% for type in shop.enabled_payment_types %}
    <li class="payment-icons__item">
      {{ type | payment_type_svg_tag: class: 'icon' }}
    </li>
  {% endfor %}
</ul>
