<div class="product-gallery" js-product-gallery="container">
  <div class="product-gallery__main-thumbnail">
    {% unless hide_zoom %}
      <div class="product-gallery__zoom-pane" js-product-gallery="zoomPane"></div>
    {% endunless %}

    {% for image in product.images %}
      {% capture image_attributes %}
        data-zoom="{{ image | img_url: 'original' }}"
      {% endcapture %}

      {% capture wrapper_class %}
        {% unless featured_image == image %}
          is-hidden
        {% endunless %}
      {% endcapture %}

      {% capture wrapper_attributes %}
        js-product-gallery="featuredImage"
      {% endcapture %}

      {% include 'responsive-image' with
        image: image,
        max_width: 900,
        max_height: 1280,
        image_attributes: image_attributes,
        wrapper_class: wrapper_class,
        wrapper_attributes: wrapper_attributes,
      %}
    {% endfor %}
  </div>

  {% unless hide_thumbnail_nav %}
    {% if product.images.size > 1 %}
      <ul class="product-gallery__thumbnails-nav">
        {% for image in product.images %}
          <li class="product-gallery__thumbnail">
            <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" js-product-gallery="thumbnail">
              <img class="product-gallery__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endunless %}
</div>
