{% comment %}
------------------------------------------------------------------------------
  Product reviews
  - This is an empty template using Shopify reviews.
------------------------------------------------------------------------------
{% endcomment %}

<div id="shopify-product-reviews" data-id="{{ product.id }}">
  {{ product.metafields.spr.reviews }}
</div>
