{% comment %}
------------------------------------------------------------------------------
  Substitutes the standard select menu for clickable cards for variant options
  - Required inside an product option loop
  - Label is the clickable element that toggles a radio button

  Dependencies:
  - Relies on product-swatches.js for interactivity
  - product-form.liquid controls the master variant updates
------------------------------------------------------------------------------
{% endcomment %}

{% assign sanitized_selected_option = option.selected_value | handleize %}
{% assign enable_swatch_labels = swatch_labels %}

<fieldset id="OptionSelector-{{ forloop.index0 }}"
  js-product-swatches="container"
  data-index="{{ option.position }}"
  data-progress="inactive"
>
  <legend class="product-form__label" tabindex="0">
    {{ option.name }}
  </legend>

  <div class="swatch-grid">
    {% for value in option.values %}
      {% assign swatch_classes = 'swatch' %}
      {% assign sanitized_value = value | handleize %}

      {%- capture swatch_namespace -%}
        {{- sanitized_option_name -}}-{{- sanitized_value -}}-{{- forloop.index0 -}}-{{- id -}}
      {% endcapture %}

      {% if sanitized_selected_option == sanitized_value %}
        {% assign swatch_classes = swatch_classes | append: ' is-active' %}
      {% endif %}

      {% unless enable_swatch_labels %}
        {% assign swatch_classes = swatch_classes | append: ' swatch--empty' %}
      {% endunless %}

      <div class="swatch-grid__item {{ swatch_classes }}" js-product-swatches="option" data-value="{{ value }}">
        <input
          id="{{ swatch_namespace }}"
          name="{{ option.name }}"
          class="swatch__input visually-hidden"
          type="radio"
          value="{{ value | escape }}"
          js-product-form="optionSelector"
          data-index="option{{ option.position }}"
          tabindex="-1"
          {% if enable_swatch_labels %}data-swatch-value="{{ value }}"{% endif %}
          {% if sanitized_selected_option == sanitized_value %}checked="checked"{% endif %}
        >
        <label class="swatch__label" for="{{ swatch_namespace }}" tabindex="0">
          {% if enable_swatch_labels %}
            <div class="swatch__button" js-product-swatches="label">
              <span>{{ value }}</span>
            </div>
          {% else %}
            {% assign swatch_image = value | handleize | prepend: 'swatch-' | append: '.png' | file_url | img_tag: value %}

            <div class="swatch__button" js-product-swatches="label" style="background-color: {{ value | replace: ' ', '' | downcase }}">
              {{ swatch_image }}
            </div>
          {% endif %}
        </label>
      </div>
    {% endfor %}
  </div>
</fieldset>
