{% comment %}
------------------------------------------------------------------------------
  Config: Product form
  - Each product form can be assigned a namespace to target independently with scripts
------------------------------------------------------------------------------
{% endcomment %}

{% assign form_namespace = 'container' %}
{% assign supported_swatch_list = 'color, colour, size, waist' | split: ', ' %}

{% if namespace %}
  {% assign form_namespace = namespace %}
{% endif %}

<form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form" js-product-form="{{ form_namespace }}">
  <div class="product-form__header">
    <h1 class="product-form__title h2" tabindex="0">{{ product.title }}</h1>

    {% if settings.enable_product_reviews %}
      <div class="product-form__review-badges">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
    {% endif %}

    <div js-product-form="priceWrapper" class="product-form__price" tabindex="0">
      {% include 'product-price' %}
    </div>
  </div>

  <div class="product-form__body">
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        {% assign sanitized_option_name = option.name | handleize %}
        {% assign option_is_swatch = false %}
        {% assign option_has_label = true %}

        {% if supported_swatch_list contains sanitized_option_name %}
          {% assign option_is_swatch = true %}
        {% endif %}

        {% if sanitized_option_name contains 'color' or sanitized_option_name contains 'colour' %}
          {% assign option_has_label = false %}
        {% endif %}

        <div class="product-form__option">
          {% if settings.enable_product_swatches and option_is_swatch %}
            {% if option_has_label %}
              {% include 'product-swatches' with id: forloop.index, name: option.name, swatch_labels: true %}
            {% else %}
              {% include 'product-swatches' with id: forloop.index, name: option.name %}
            {% endif %}
          {% else %}
            <label class="product-form__label" for="OptionSelector-{{ forloop.index0 }}" tabindex="0">
              {{ option.name }}
            </label>

            <select
              id="OptionSelector-{{ forloop.index0 }}"
              style="background-image: url({{ 'icon-caret-down.svg' | asset_url }});"
              js-product-form="optionSelector"
              data-index="option{{ option.position }}"
            >
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          {% endif %}
        </div>
      {% endfor %}
    {% endunless %}
  </div>

  <div class="product-form__footer">
    <div class="product-form__quantity-selector">
      <label class="visually-hidden" for="Quantity" tabindex="0">{{ 'products.product.quantity' | t }}</label>
      {% if form_namespace == 'quick-view' %}
        {% include 'quantity-selector' with id: 'quick-view' %}
      {% else %}
        {% include 'quantity-selector' with id: 1 %}
      {% endif %}
    </div>

    <div class="product-form__add-to-cart">
      <button
        js-ajax-cart="addToCart"
        js-product-form="addToCart"

        {% if quick_view %}
          js-quick-view="addToCart"
        {% endif %}

        class="button button--primary button--block"
        type="submit"
        name="add"
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    </div>
  </div>

  <select name="id" class="no-js" js-product-form="masterSelector">
    {% for variant in product.variants %}
      <option
        {% if variant == current_variant %}selected="selected"{% endif %}
        {% unless variant.available %}disabled="disabled"{% endunless %}
        value="{{ variant.id }}">
          {{ variant.title }}
      </option>
    {% endfor %}
  </select>
</form>
