{% comment %}
------------------------------------------------------------------------------
  Product Card
  - Uses the card component as the base
  - Uses badges by default (Optional)
------------------------------------------------------------------------------
{% endcomment %}
{% if empty_template %}
  {% assign product = '' %}
{% endif %}

{% unless empty_template %}
{% assign product_has_badges = false %}
{% assign product_badge_list = '' %}

{% for tag in product.tags %}
  {% assign sanitized_tag = tag | downcase %}

  {% if sanitized_tag contains 'badge:' %}
    {% assign product_has_badges = true %}
    {% assign product_badge_title = tag | split: ':' | last %}
    {% assign product_badge_list = product_badge_list | append: product_badge_title | append: ','%}
  {% endif %}
{% endfor %}
{% endunless %}

<div class="card card--product">
  {% if product.featured_image != blank or empty_template %}
    <a class="card__link" js-product-link href="{% unless empty_template %}{{ product.url | within: collection }}{% endunless %}">

      {% if product_has_badges %}
        {% assign product_badge_array = product_badge_list | split: ',' %}

        <div class="card__badge-listing">
          {% for badge in product_badge_array %}
            <div class="card__badge badge badge--secondary">
              <span>{{ badge }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="card__thumbnail-container">
        {% include 'responsive-card-image' with
          image: product.featured_image,
          responsive_image_counter: forloop.index0,
          wrapper_class: 'card__thumbnail card__thumbnail--primary'
        %}

        {% include 'responsive-card-image' with
          image: product.images[1],
          responsive_image_counter: forloop.index,
          wrapper_class: 'card__thumbnail card__thumbnail--secondary'
        %}

        {% if settings.enable_quick_view %}
          <button
            class="card__button button button--primary button--block"
            js-quick-view="toggle"
            data-product-url="{% unless empty_template %}/products/{{ product.handle }}{% endunless %}"
            tabindex="-1"
          >
            {{ 'collections.product.quick_view' | t }}
          </button>
        {% endif %}
      </div>
    </a>
  {% endif %}

  <div class="card__footer">
    <a
      class="card__link"
      js-product-link="product-title"
      href="{% unless empty_template %}{{ product.url | within: collection }}{% endunless %}"
      tabindex="-1"
    >
      {{ product.title }}
    </a>
    {% include 'product-price' %}

    {% if settings.enable_product_reviews %}
      <div class="card__meta">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
    {% endif %}
  </div>
</div>
