<div class="product-price" js-product-price>
  {% if template.name contains 'product' %}
    <span js-product-form="price" js-currency="price" data-price="{{ current_variant.price }}">
      {{ current_variant.price | money }}
    </span>

    {% if product.compare_at_price_max > product.price %}
      {% if current_variant.compare_at_price > current_variant.price %}
        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
        <s js-product-form="comparePrice" js-currency="price" data-price="{{ current_variant.compare_at_price }}">
          {{ current_variant.compare_at_price | money }}
        </s>
      {% endif %}
    {% endif %}
  {% else %}
    {% if product.compare_at_price > product.price %}
      {% if product.price_varies %}
        {%- assign sale_price = product.price | money -%}
        {{ 'products.product.on_sale_from_html' | t }}
        <span js-currency="price" data-price="{{ product.price }}">
          {{ product.price | money }}
        </span>
      {% else %}
        <span js-currency="price" data-price="{{ product.price }}">
          {{ product.price | money }}
        </span>
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {%- assign price = product.price | money -%}
        {{ 'products.product.from_text_html' | t }}
        <span js-currency="price" data-price="{{ product.price }}">{{ product.price | money }}</span>
      {% else %}
        <span js-currency="price" data-price="{{ product.price }}">
          {{ product.price | money }}
        </span>
      {% endif %}
    {% endif %}

    {% if product.compare_at_price > product.price %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s js-currency="price" data-price="{{ product.compare_at_price }}">{{ product.compare_at_price | money }}</s>
    {% endif %}

    {% unless product.available %}
      {{ 'products.product.sold_out' | t }}
    {% endunless %}
  {% endif %}
</div>
