{% comment %}
------------------------------------------------------------------------------
  Quantity selector
  - A form control component with buttons on both sides to increment/decrement a counter
  - Configuration
  - Can be passed with a maximum limit and size
  - Item key is required on cart page for the form to submit to checkout
------------------------------------------------------------------------------
{% endcomment %}

{% assign modifiers = '' %}

{% unless id %}
  {% assign id = 1 %}
{% endunless %}

{% assign quantity_value = 1 %}
{% if value %}
  {% assign quantity_value = value %}
{% endif %}

{% if size == 'small' %}
  {% assign modifiers = modifiers | append: ' quantity-selector--small' %}
{% endif %}

<div id="QuantitySelector-{{ id }}" class="quantity-selector {{ modifiers }}" js-quantity-selector="container">
  <div class="quantity-selector__control">
    <button class="button quantity-selector__button" js-quantity-selector="decrement" value="decrement">
      {% include 'icon-misc' with icon: 'minus' %}
      <span class="visually-hidden">-</span>
    </button>
  </div>

  <div class="quantity-selector__control">
    {% if key %}
      <input type="number" id="updates_{{ key }}" name="updates[]" value="{{ quantity_value }}" min="1" pattern="[0-9]*" class="quantity-selector__input" js-quantity-selector="input" readonly tabindex="-1" />
    {% else %}
      <input type="number" id="Quantity" name="quantity" value="{{ quantity_value }}" min="1" pattern="[0-9]*" class="quantity-selector__input" js-quantity-selector="input" readonly tabindex="-1" />
    {% endif %}
  </div>

  <div class="quantity-selector__control">
    <button class="button quantity-selector__button" js-quantity-selector="increment" value="increment">
      {% include 'icon-misc' with icon: 'plus' %}
      <span class="visually-hidden">+</span>
    </button>
  </div>
</div>
