{% comment %}
------------------------------------------------------------------------------
  Related Articles
  - This component for 3 columns related articles items
------------------------------------------------------------------------------
{% endcomment %}

<div
  id="RelatedArticles-{{ section.id }}"
  class="related-articles section border-top">
  <div class="container">
    <div class="row">
      <div class="col xs12">
        <div class="section__header">
          <h2 class="section__title">
            {{ 'blogs.article.related_articles_title' | t }}
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col xs12">
        <div class="related-articles__grid">
          {% for tag in article.tags %}
            {% assign sanitized_tag = tag | downcase %}

            {% if sanitized_tag contains 'related-articles: ' %}
              {% assign blog_post_handle = tag | split: ': ' | last %}
              {% assign article = articles[blog_post_handle] %}

              <div class="related-articles__item">
                {% include 'article-card' %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
