{%- comment -%}
------------------------------------------------------------------------------
  Dependencies:
  - Lazysizes plugin (https://github.com/aFarkas/lazysizes) which enable responsive image with faster load time and better performance.
  - Lazysizes Responsive Images as a Service (https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/rias) To load the correct image size with our CDN
  - Lazysizes Bgset (https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/bgset) To use responsive images on background-image (CSS)

  Accepts:
  - image: {Object} Image object
  - image_class: {String} class name of the <img />
  - image_attributes: {String}  additional HTML attributes of the <img />
  - wrapper_class: {String} class name of the <div> wrapper
  - wrapper_attributes: {String} additional HTML attributes of the <div> wrapper

  Usage:
  In your liquid template file, copy the following line
  - {% include 'responsive-card-image' with image: featured_image, image_class: "css-class", wrapper_class: "wrapper-css-class" %}
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

<div
  data-image-id="{{ image.id }}"
  class="responsive-card-image__wrapper {{ wrapper_class }}"
  {{ wrapper_attributes }}
  js-responsive-image
>
  <img
    class="responsive-card-image__image lazyload blur-up {{ image_class }}"
    data-expand="-60"
    src="{% unless product_card_blank %}{{ image | img_url: '1x' }}{% endunless %}"
    data-src="{% unless product_card_blank %}{{ img_url }}{% endunless %}"
    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2160, 2376, 2592, 2808, 3024]"
    data-aspectratio="{{ image.aspect_ratio }}"
    data-sizes="auto"
    tabindex="-1"
    alt="{{ image.alt | escape }}"
    {{ image_attributes }}
  >
</div>

<noscript>
  <img class="{{ image_class }}" src="{{ image | img_url: '900x900' }}" alt="{{ image.alt | escape }}">
</noscript>
