{% assign namespace = '' %}
{% if id %}
  {% assign namespace = id | prepend: '-' %}
{% endif %}

<div class="search-bar">
  <form class="search-bar__form" action="/search" method="get" role="search" js-search-bar="form">
    <div class="search-bar__container">
      <button type="submit" class="button search-bar__submit">
        {% include 'icon-misc' with icon: 'search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>

      <div class="search-bar__field">
        <input
          type="search"
          id="Search{{ namespace }}"
          class="search-bar__input"
          name="q"
          js-search-bar="input"
        />

        <label
          for="Search{{ namespace }}"
          class="search-bar__placeholder"
          js-search-bar="label"
        >
          {{ 'general.search.placeholder' | t }}
        </label>
      </div>
    </div>
  </form>

  <div class="search-bar__close-mobile">
    <button type="submit" js-toggle="searchBarHeader" data-target="searchBarHeader" class="site-header__icon" tabindex="0">
      {% include 'icon-misc' with icon: 'close' %}
      <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
  </div>
</div>
