{% comment %}
------------------------------------------------------------------------------
  Snippet to generate supported favicon sizes
  - Will also set the application colour and name
------------------------------------------------------------------------------
{% endcomment %}

<link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x' }}-72x72.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ settings.favicon | img_url: '144x' }}-144x144.png" />
<link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '196x' }}" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '96x' }}" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x' }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '16x' }}" sizes="16x16" />
<meta name="application-name" content="{{ shop.name }}"/>
<meta name="msapplication-TileColor" content="{{ settings.application_color }}" />
<meta name="msapplication-TileImage" content="{{ settings.favicon | img_url '144x' }}" />
