<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 141.8 26.63" class="site-logo">
  <g>
    <title>{{ shop.name }}</title>
    <path class="site-logo__text" d="M0 1A.65.65 0 0 1 .65.34h13.63a.65.65 0 0 1 .65.65V2.9a.64.64 0 0 1-.65.64H3.51v7.88h9.1a.68.68 0 0 1 .65.65v1.87a.68.68 0 0 1-.65.65h-9.1v9a.67.67 0 0 1-.65.65H.65a.64.64 0 0 1-.65-.69zM27.47 1a.66.66 0 0 1 .65-.65h9.27a7.36 7.36 0 0 1 7.43 7.3 7.58 7.58 0 0 1-5 6.92l4.67 8.65a.64.64 0 0 1-.58 1h-2.7a.62.62 0 0 1-.54-.3l-4.54-9H31v8.69a.66.66 0 0 1-.64.65h-2.24a.65.65 0 0 1-.65-.65zm9.65 10.94a4.23 4.23 0 0 0 4.16-4.24 4.17 4.17 0 0 0-4.16-4.05h-6.07v8.28zM77.48 23.32L67.08.37A.8.8 0 0 0 66.5 0h-.34a.8.8 0 0 0-.58.37l-10.46 23a.59.59 0 0 0 .58.88h2.14a.87.87 0 0 0 .79-.51c.68-1.57 1.39-3.1 2.08-4.67L62 16.09l4.15-9.34h.17l4.2 9.34L71.85 19 74 23.69a.78.78 0 0 0 .78.51h2.12a.6.6 0 0 0 .58-.88zM91.66.51a.68.68 0 0 1 .61-.51h.54a.68.68 0 0 1 .58.37l7.13 17.42h.14L107.75.37a.64.64 0 0 1 .57-.37h.55a.68.68 0 0 1 .61.51l4.2 22.91a.58.58 0 0 1-.62.78h-2.21a.72.72 0 0 1-.65-.47l-2.52-15.24h-.11l-6.13 15.68a.58.58 0 0 1-.58.37h-.61a.6.6 0 0 1-.58-.37L93.5 8.49h-.14l-2.45 15.24a.69.69 0 0 1-.62.47h-2.21a.61.61 0 0 1-.65-.78zM126.87 1a.65.65 0 0 1 .64-.65h13.64a.66.66 0 0 1 .65.65v1.9a.65.65 0 0 1-.65.64h-10.77v7h9.1a.68.68 0 0 1 .65.65v1.91a.65.65 0 0 1-.65.64h-9.1V21h10.77a.66.66 0 0 1 .65.65v1.87a.65.65 0 0 1-.65.65h-13.64a.64.64 0 0 1-.64-.65z"></path>
    <path class="site-logo__motif" d="M68.46 22.76a2 2 0 0 0 0-1.71l-1.64-3.54a.48.48 0 0 0-.39-.25h-.23a.48.48 0 0 0-.39.25l-1.65 3.54a2 2 0 0 0 0 1.71l1.65 3.61a.47.47 0 0 0 .39.26h.23a.47.47 0 0 0 .39-.26z"></path>
  </g>
</svg>
