<ul class="site-nav">
  {% for link in linklists[section.settings.menu].links %}
    {% comment %}
    ------------------------------------------------------------------------------
      0 levels
    ------------------------------------------------------------------------------
    {% endcomment %}
    {% if link.levels == 0 %}
      <li js-site-header="siteNavItem" class="site-nav__item">
        <a js-site-header="siteNavLink" class="site-nav__link" href="{{ link.url }}"  aria-haspopup="false">
          {{ link.title }}
        </a>
      </li>

    {% comment %}
    ------------------------------------------------------------------------------
      1 level
    ------------------------------------------------------------------------------
    {% endcomment %}
    {% elsif link.levels == 1 %}
      <li js-site-header="siteNavItem" class="site-nav__item site-nav__item--has-dropdown">
        <a js-site-header="siteNavLink" class="site-nav__link" href="{{ link.url }}" aria-haspopup="true" aria-expanded="false">
          {{ link.title }}
        </a>
        <button js-site-header="megaNavToggle" aria-expanded="false" class="site-nav__caret button button--outlined no-padding">
          {% include 'icon-direction' with icon: 'caret-down' %}
          <span class="visually-hidden">{{ 'general.accessibility.sitenav.show_subnav' | t : navigation: link.title }}</span>
        </button>

        <ul class="site-nav__dropdown navlist navlist--block critical-hide">
          {% for child_link in link.links %}
            <li class="navlist__item">
              <a js-site-header="navLink" class="navlist__link" href="{{ child_link.url }}">
                {{ child_link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% else %}

      {% comment %}
      ------------------------------------------------------------------------------
        2 levels
      ------------------------------------------------------------------------------
      {% endcomment %}
      <li js-site-header="siteNavItem" class="site-nav__item site-nav__item--has-meganav">
        <a js-site-header="siteNavLink" class="site-nav__link" href="{{ link.url }}">
          {{ link.title }}
        </a>

        <button js-site-header="megaNavToggle" aria-expanded="false" class="site-nav__caret button button--outlined no-padding">
          {% include 'icon-direction' with icon: 'caret-down' %}
          <span class="visually-hidden">
            {{ 'general.accessibility.sitenav.show_subnav' | t : navigation: link.title }}
          </span>
        </button>

        <div class="site-nav__meganav critical-hide">
          <div class="row">
            {% for child_link in link.links %}
              {% unless child_link.title contains 'http' %}
                <div class="col xs2{% if forloop.first %} offset-xs1{% endif %}">
                  <a js-site-header="navLink" class="site-nav__subtitle" href="{{ child_link.url }}">
                    {{ child_link.title }}
                  </a>

                  {% if child_link.links != blank %}
                    <ul class="navlist navlist--block">
                      {% for sub_link in child_link.links %}
                        <li class="navlist__item">
                          <a js-site-header="navLink" class="navlist__link" href="{{ sub_link.url }}">
                            {{ sub_link.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endunless %}
            {% endfor %}
            {% for child_link in link.links %}
              {% if child_link.title contains 'http' %}
                <div class="col xs3">
                  <a js-site-header="navLink" href="{{ child_link.url }}">
                    <img
                      class="site-nav__meganav-image"
                      src="{{ child_link.title }}"
                      alt=""
                    />
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
