{% comment %}
------------------------------------------------------------------------------
  Hreflang - https://moz.com/learn/seo/hreflang-tag
  - Serve alternate languages on search engines
  - Sample tags for EU and US stores below

  <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'eu.mystore.com' }}" hreflang="en-EU" />
  <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'us.mystore.com' }}" hreflang="en-US" /> 
------------------------------------------------------------------------------
{% endcomment %}

<link rel="alternate" hreflang="x-default" href="{{ canonical_url | replace: shop.domain, 'www.frame-3.com' }}" />
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'www.frame-3-eu.com' }}" hreflang="en-EU" />
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'www.frame-3-us.com' }}" hreflang="en-US" /> 
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'www.frame-3-au.com' }}" hreflang="en-AU" /> 
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'www.frame-3-de.com' }}" hreflang="de" /> 