<ul class="social-media icon-group">
  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  {% for social in social_accounts %}
    {%- assign social_handle = social | handleize -%}
    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
    {% capture social_icon %}icon-social-media{% endcapture %}

    {% if settings[social_link] != blank %}
      <li class="social-media__item icon-group__item">
        <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" class="icon-group__link">
          {% include social_icon with icon: social_handle %}
          <span class="icon-fallback-text">{{ social }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
