{% comment %}
------------------------------------------------------------------------------
  Configuration
  - Options are rendered from `Frame.MultiStore` options.
  - Redirect options are defined in Redirect Modal section settings.
------------------------------------------------------------------------------
{% endcomment %}

<div class="store-selector" js-store-selector="container">
  <label class="label store-selector__label" for="StoreSelector-{{ id }}">{{ 'layout.store_settings.change_store' | t }}</label>
  <select
    id="StoreSelector-{{ id }}"
    name="store-selector"
    class="store-selector__select"
    style="background-image: url({{ 'icon-caret-down.svg' | asset_url }});"
    js-store-selector="selector"
  >
  </select>
</div>
