{% comment %}
------------------------------------------------------------------------------
  Styleguide: Collection
------------------------------------------------------------------------------
{% endcomment %}

{% assign current_collection = collections['womens-all'] %}
{% assign hero_text_color = '#000000' %}

<content-block name="Collection hero" is-synced>
  <p slot="description">This block is the visual anchor of every collection page and is used to quickly identify which category the user is currently browsing.</p>

  {% include 'collection-hero' with
    hero_text_color: hero_text_color,
    collection: current_collection
  %}
</content-block>

<content-block name="Product card" is-synced>
  <p slot="description">Product cards are a medium-sized component that contains key product information such as a featured thumbnail, title and price. These products cards are shared across the theme and are one of the most re-usable components available.</p>

  <content-example>
    <div slot="demo">
      {% for product in current_collection.products limit: 1 %}
        {% include 'product-card' %}
      {% endfor %}
    </div>
  </content-example>
</content-block>

<content-block name="Quick view">
  <div slot="description">This is the one click product preview modal that will not only reduce the shopping time but also bring a convenient experience to users. This makes browsing products easier and faster, which encourages sales.</div>

  <content-example size="xs12 m8 offset-m2" is-fluid>
    <div slot="demo">
      {% for product in current_collection.products limit: 1 %}
        {% assign current_variant = product.selected_or_first_available_variant %}
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

        <div id="quick-view" class="modal quick-view critical-clear" aria-hidden="true">
          <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="quick-view__card" js-quick-view="viewport">
              <button class="quick-view__close button" aria-label="Close modal" data-micromodal-close>
                {% include 'icon-misc' with icon: 'close' %}
              </button>

              <div class="quick-view__body" role="dialog" aria-modal="true" js-quick-view="body">
                <div class="quick-view__container">
                  <div class="quick-view__gallery">
                    {% include 'product-gallery' with hide_thumbnail_nav: true, hide_zoom: true %}
                  </div>

                  <div class="quick-view__aside">
                    {% include 'product-form' with
                      namespace: 'quickview'
                      quick_view: true
                    %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </content-example>
</content-block>
