{% comment %}
------------------------------------------------------------------------------
  Styleguide: Components
------------------------------------------------------------------------------
{% endcomment %}

<content-block name="Accordion">
  <p slot="description">Accordion enables users to expand and collapse sections of content.</p>

  <content-example>
    <ul slot="demo" class="accordion product-accordion">
      <li class="accordion__item is-active" js-accordion="item">
        <button tabindex="0" class="accordion__control h6" js-accordion="control">
          Apples {% include 'icon-direction' with icon: 'caret-down' %}
        </button>

        <div id="content-1" class="accordion__content" js-accordion="content">
          <p>Apples are a fine fruit often associated with good health, and fewer doctor's appointments.</p>
          <p>Example. An apple a day keeps the doctor away.</p>
        </div>
      </li>

      <li class="accordion__item" js-accordion="item">
        <button tabindex="0" class="accordion__control h6" js-accordion="control">
          Lemons {% include 'icon-direction' with icon: 'caret-down' %}
        </button>

        <div id="content-2" class="accordion__content" js-accordion="content">
          <p>Apples are a fine fruit often associated with good health, and fewer doctor's appointments.</p>
          <p>Example. An apple a day keeps the doctor away.</p>
        </div>
      </li>

      <li class="accordion__item" js-accordion="item">
        <button tabindex="0" class="accordion__control h6" js-accordion="control">
          Kiwis {% include 'icon-direction' with icon: 'caret-down' %}
        </button>

        <div id="content-3" class="accordion__content" js-accordion="content">
          <p>Kiwis are a fun, under-appreciated fruit.</p>
        </div>
      </li>
    </ul>
  </content-example>
</content-block>

<content-block name="Badge">
  <p slot="description">A component that can wrap any type of content to highlight information for a user or to just draw attention to a specific element.</p>

  <content-example>
    <div class="badge-listing" slot="demo">
      <div class="badge"><span>Default</span></div>
      <div class="badge badge--primary"><span>Sale</span></div>
      <div class="badge badge--secondary"><span>New in</span></div>
    </div>
  </content-example>
</content-block>

<content-block name="Breadcrumb" is-synced>
  <p slot="description">Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS.</p>

  <content-example>
    <div slot="demo">
      {% include 'breadcrumb' %}
    </div>
  </content-example>
</content-block>

<content-block name="Button">
  <p slot="description">Custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>

  <div class="container">
    <div class="row">
      <div class="col xs12 m6 offset-m3">
        {% comment %}
        ------------------------------------------------------------------------------
          Button styles
        ------------------------------------------------------------------------------
        {% endcomment %}
        <spec-grid title="Styles">
          <spec-grid-row name="Primary">
            <div slot="content">
              <a class="button button--primary">Primary</a>
              <a class="button button--primary button--outlined">Primary</a>
            </div>

            <div slot="meta">
              .button--primary,<br>.button--outlined
            </div>
          </spec-grid-row>

          <spec-grid-row name="Secondary">
            <div slot="content">
              <a class="button button--secondary">Secondary</a>
              <a class="button button--secondary button--outlined">Secondary</a>
            </div>

            <div slot="meta">
              .button--secondary,<br>.button--outlined
            </div>
          </spec-grid-row>

          <spec-grid-row name="Light">
            <div slot="content">
              <a class="button button--light">Light</a>
              <a class="button button--light button--outlined">Light</a>
            </div>

            <div slot="meta">
              .button--light,<br>.button--outlined
            </div>
          </spec-grid-row>
        </spec-grid>

        {% comment %}
        ------------------------------------------------------------------------------
          Button sizes
        ------------------------------------------------------------------------------
        {% endcomment %}
        <spec-grid title="Sizes">
          <spec-grid-row>
            <div slot="content">
              <a class="button button--light button--small">Small</a>
            </div>
            <div slot="meta">.button.button--small</div>
          </spec-grid-row>

          <spec-grid-row>
            <div slot="content">
              <a class="button button--light">Normal</a>
            </div>
            <div slot="meta">.button</div>
          </spec-grid-row>

          <spec-grid-row>
            <div slot="content">
              <a class="button button--light button--large">Large</a>
            </div>
            <div slot="meta">.button.button--large</div>
          </spec-grid-row>

          <spec-grid-row>
            <div slot="content">
              <a class="button button--light button--large button--block">Block</a>
            </div>
            <div slot="meta">.button.button--block</div>
          </spec-grid-row>
        </spec-grid>

        {% comment %}
        ------------------------------------------------------------------------------
          Button states
        ------------------------------------------------------------------------------
        {% endcomment %}
        <spec-grid title="States">
          <spec-grid-row>
            <div slot="content"><a class="button button--primary is-active">Active</a></div>
            <div slot="meta">.button.is-active</div>
          </spec-grid-row>

          <spec-grid-row>
            <div slot="content"><a class="button button--primary is-disabled" disabled>Disabled</a></div>
            <div slot="meta">.button.is-disabled or .button[disabled]</div>
          </spec-grid-row>

          <spec-grid-row>
            <div slot="content">
              <a class="button button--primary is-loading">
                <div class="loader">
                  <div class="ball-clip-rotate">
                    <div></div>
                  </div>
                </div>
                <span>Active</span>
              </a>
            </div>
            <div slot="meta">.button.is-loading</div>
          </spec-grid-row>
        </spec-grid>
      </div>
    </div>
  </div>
</content-block>

<content-block name="Checkbox">
  <p slot="description">Checkboxes are used when there is a list of options and the user may select multiple options, including all or none.</p>

  <content-example>
    <fieldset class="fieldset" slot="demo">
      <legend class="fieldset__legend legend">Checkbox (input + label)</legend>

      <div class="checkbox__container">
        <input id="checkbox-1" type="checkbox" class="checkbox__input" value="new" name="checkbox-1" checked aria-checked="true">
        <label for="checkbox-1" class="checkbox__label">Active</label>
      </div>

      <div class="checkbox__container">
        <input id="checkbox-2" type="checkbox" class="checkbox__input" value="new" name="checkbox-1" aria-checked="false">
        <label for="checkbox-2" class="checkbox__label">Inactive</label>
      </div>

      <div class="checkbox__container">
        <input id="checkbox-3" type="checkbox" class="checkbox__input" value="new" name="checkbox-1" disabled>
        <label for="checkbox-3" class="checkbox__label is-disabled">Disabled</label>
      </div>
    </fieldset>
  </content-example>
</content-block>

<content-block name="Currency selector">
  <p slot="description">A utility selector that allows the user to update all prices on the store to the selected currency.</p>

  <content-example>
    <div slot="demo">
      {% include 'currency-selector' with id: 2 %}
    </div>
  </content-example>
</content-block>

<content-block name="Form">
  <p slot="description">Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide variety of forms.</p>

  <content-example>
    <div slot="demo">
      <form action="#">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" id="email" placeholder="Enter email">
          <small id="emailHelp" class="caption">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password">
        </div>

        <div class="form-group">
          <label for="sg-select">Multiple selection</label>
          <select name="sg-select" id="sg-select" style="background-image: url({{ 'icon-caret-down.svg' | asset_url }});">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
            <option value="5">Option 5</option>
          </select>
        </div>

        <div class="form-group">
          <fieldset class="fieldset">
            <legend class="fieldset__legend legend">Multiple options</legend>

            <div class="checkbox__container">
              <input id="form-checkbox-1" type="checkbox" class="checkbox__input" value="new" name="form-checkbox-1" aria-checked="false" checked>
              <label for="form-checkbox-1" class="checkbox__label">Option 1</label>
            </div>

            <div class="checkbox__container">
              <input id="form-checkbox-2" type="checkbox" class="checkbox__input" value="new" name="form-checkbox-2" aria-checked="false">
              <label for="form-checkbox-2" class="checkbox__label">Option 2</label>
            </div>

            <div class="checkbox__container">
              <input id="form-checkbox-3" type="checkbox" class="checkbox__input" value="new" name="form-checkbox-3" aria-checked="false">
              <label for="form-checkbox-3" class="checkbox__label">Option 3</label>
            </div>

            <div class="checkbox__container">
              <input id="form-checkbox-4" type="checkbox" class="checkbox__input" value="new" name="form-checkbox-4" aria-checked="false">
              <label for="form-checkbox-4" class="checkbox__label">Option 4</label>
            </div>

            <div class="checkbox__container">
              <input id="form-checkbox-5" type="checkbox" class="checkbox__input" value="new" name="form-checkbox-5" aria-checked="false">
              <label for="form-checkbox-5" class="checkbox__label">Option 5</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button button--primary" value="Submit">
        </div>
      </form>
    </div>
  </content-example>
</content-block>

<content-block name="Free shipping notification" is-synced>
  <p slot="description">A re-usable notification which dynamically updates based on items in the cart.</p>

  <content-example>
    <div slot="demo">
      {% include 'free-shipping-notification' %}
    </div>
  </content-example>
</content-block>

<content-block name="List">
  <p slot="description">Lists consist of related content grouped together and organized vertically.</p>

  <content-example>
    <div slot="demo">
      <ol class="list list--ordered">
        <li>Ordered List level 1
          <ol class="list list--nested">
            <li>Ordered List level 2</li>
            <li>Ordered List level 2</li>
          </ol>
        </li>
        <li>Ordered List level 1</li>
        <li>Ordered List level 1</li>
      </ol>
    </div>
  </content-example>

  <content-example>
    <div slot="demo">
      <ul class="list list--unordered">
        <li>Unordered List level 1
          <ul class="list list--nested">
            <li>Unordered List level 2</li>
            <li>Unordered List level 2</li>
          </ul>
        </li>
        <li>Unordered List level 1</li>
        <li>Unordered List level 1</li>
      </ul>
    </div>
  </content-example>
</content-block>

<content-block name="Loader">
  <p slot="description">Loading spinners are used when retrieving data or performing slow computations, and help to notify users that loading is underway.</p>

  <content-example>
    <div slot="demo">
      <div class="loader">
        <div class="ball-pulse">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </content-example>

  <content-example>
    <div slot="demo">
      <div class="loader">
        <div class="ball-clip-rotate">
          <div></div>
        </div>
      </div>
    </div>
  </content-example>
</content-block>

<content-block name="Modal">
  <p slot="description">Add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>

  <content-example>
    <div slot="demo">
      <div id="Modal-1" tabindex="-1" role="dialog" class="modal is-active is-static">
        <div class="modal__card">
          <div class="modal__header">
            <h5 class="modal__title">Modal title</h5>
            <button class="modal__close button" js-modal="closeModal">
              {% include 'icon-misc' with icon: 'close' %}
            </button>
          </div>

          <div class="modal__body">
            <h1>Hello World</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>

            <ul>
              <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
              <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
              <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
              <li>Ut non enim metus.</li>
            </ul>
          </div>

          <div class="modal__footer">
            <a href="#" class="button button--primary">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </content-example>
</content-block>

<content-block name="Redirect Modal">
  <p slot="description">Redirect modal is used to warn and direct incoming traffic to the correct store.</p>

  {% include 'modal-redirect' %}
</content-block>

<content-block name="Notification" is-synced>
  <p slot="description">Notifications are messages that communicate information to the user.</p>

  <content-example>
    <div slot="demo">
      {% include 'notification' with
        notification_id: 'sg-notification-1'
        notification_title: 'Notification title'
        notification_text: 'Notification text goes here.'
      %}

      {% include 'notification' with
        notification_id: 'sg-notification-1'
        notification_title: 'Notification title'
        notification_text: 'Notification text goes here.'
        notification_theme: 'primary'
      %}
    </div>
  </content-example>
</content-block>

<content-block name="Pagination">
  <p slot="description">A component that is used to concatenate long sets of data for a user to consume information easier.</p>

  <content-example>
    <div slot="demo">
      <div class="pagination">
        <span class="pagination__item">Previous</span>
          <span class="pagination__item is-active">1</span>
          <a href="#" class="pagination__item pagination__link">2</a>
          <a href="#" class="pagination__item pagination__link">3</a>
          <a class="pagination__item pagination__link" href="#">
          <span>Next</span>
        </a>
      </div>
    </div>
  </content-example>
</content-block>

<content-block name="Payment icons" is-synced>
  <p slot="description">The appearance of payment icons help reinforce the feeling of security on the website. These are the currently enabled payment options defined in the store settings.</p>

  <content-example>
    <div slot="demo">
      {% include 'payment-icons' %}
    </div>
  </content-example>
</content-block>

<content-block name="Quantity selector" is-synced>
  <p slot="description">Form field to decrement or increment a number input using attached buttons. Each quantity selector has a unique identifier to avoid conflicts.</p>

  <content-example>
    <div slot="demo">
      {% include 'quantity-selector' with id: 8 %}
    </div>
  </content-example>
</content-block>

<content-block name="Radio">
  <p slot="description">Radio buttons are used when a list of two or more options are mutually exclusive, meaning the user must select only one option.</p>

  <content-example>
    <fieldset class="fieldset" slot="demo">
      <legend class="fieldset__legend legend">Radio (input + label)</legend>

      <div class="radio__container">
        <input id="radio-1" type="radio" class="radio__input" value="new" name="radio-1" checked aria-checked="true">
        <label for="radio-1" class="radio__label">Active</label>
      </div>

      <div class="radio__container">
        <input id="radio-2" type="radio" class="radio__input" value="new" name="radio-1" aria-checked="false">
        <label for="radio-2" class="radio__label">Inactive</label>
      </div>

      <div class="radio__container">
        <input id="radio-3" type="radio" class="radio__input" value="new" name="radio-1" disabled>
        <label for="radio-3" class="radio__label is-disabled">Disabled</label>
      </div>
    </fieldset>
  </content-example>
</content-block>

<content-block name="Search bar" is-synced>
  <p slot="description">A special input field used as the primary means of discovering content, or as a filter to aid the user in finding content.</p>

  <content-example>
    <div slot="demo">
      {% include 'search-bar' %}
    </div>
  </content-example>
</content-block>

<content-block name="Select">
  <p slot="description">Select is a type of input that is used in forms, where a user is submitting data and chooses one option from a list.</p>

  <content-example>
    <div slot="demo">
      <div class="form-group">
        <label for="sg-select-2">Select label</label>
        <select name="sg-select-2" id="sg-select-2" style="background-image: url({{ 'icon-caret-down.svg' | asset_url }});">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
      </div>
    </div>
  </content-example>
</content-block>

<content-block name="Swatch">
  <p slot="description">A highly stylised radio input with the appearance of a selected choice card. There are active, inactive, disabled and empty states for each swatch. Can be used as labels or with filled backgrounds.</p>

  <content-example>
    <div slot="demo">
      <ul class="swatch-grid">
        <li class="swatch-grid__item swatch">
          <input
            id="sg-size-swatch-1"
            name="size"
            class="swatch__input visually-hidden"
            type="radio"
            value="xs"
            data-index="size-option-1"
            checked="checked"
          >
          <label class="swatch__label" for="sg-size-swatch-1">
            <div class="swatch__button">
              <span>XS</span>
            </div>
          </label>
        </li>

        <li class="swatch-grid__item swatch">
          <input
            id="sg-size-swatch-2"
            name="size"
            class="swatch__input visually-hidden"
            type="radio"
            value="s"
            data-index="option-1"
          >

          <label class="swatch__label" for="sg-size-swatch-2">
            <div class="swatch__button">
              <span>S</span>
            </div>
          </label>
        </li>

        <li class="swatch-grid__item swatch">
          <input
            id="sg-size-swatch-3"
            name="size"
            class="swatch__input visually-hidden"
            type="radio"
            value="xxl"
            data-index="option-1"
          >
          <label class="swatch__label" for="sg-size-swatch-3">
            <div class="swatch__button" disabled>
              <span>M</span>
            </div>
          </label>
        </li>

        <li class="swatch-grid__item swatch">
          <input
            id="sg-size-swatch-4"
            name="size"
            class="swatch__input visually-hidden"
            type="radio"
            value="xxl"
            data-index="option-1"
            disabled
          >
          <label class="swatch__label" for="sg-size-swatch-4">
            <div class="swatch__button">
              <span>XXL</span>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </content-example>

  <content-example>
    <div slot="demo">
      <ul class="swatch-grid">
        <li class="swatch swatch-grid__item swatch--empty">
          <input
            id="sg-swatch-1"
            name="color"
            class="swatch__input visually-hidden"
            type="radio"
            value="purple"
            data-index="option-1"
            checked="checked"
          >
          <label class="swatch__label" for="sg-swatch-1">
            <div class="swatch__button" style="background-color: rebeccapurple">
              <span>Rebecca Purple</span>
            </div>
          </label>
        </li>

        <li class="swatch swatch-grid__item swatch--empty">
          <input
            id="sg-swatch-2"
            name="color"
            class="swatch__input visually-hidden"
            type="radio"
            value="RosyBrown"
            data-index="option-1"
          >

          <label class="swatch__label" for="sg-swatch-2">
            <div class="swatch__button" style="background-color: RosyBrown">
              <span>Rosy Brown</span>
            </div>
          </label>
        </li>

        <li class="swatch swatch-grid__item swatch--empty">
          <input
            id="sg-swatch-3"
            name="color"
            class="swatch__input visually-hidden"
            type="radio"
            value="LightSeaGreen"
            data-index="option-1"
          >
          <label class="swatch__label" for="sg-swatch-3">
            <div class="swatch__button" style="background-color: LightSeaGreen" disabled>
              <span>Light Sea Green</span>
            </div>
          </label>
        </li>

        <li class="swatch swatch-grid__item swatch--empty">
          <input
            id="sg-swatch-4"
            name="color"
            class="swatch__input visually-hidden"
            type="radio"
            value="DeepPink"
            data-index="option-1"
            disabled
          >
          <label class="swatch__label" for="sg-swatch-4">
            <div class="swatch__button" style="background-color: DeepPink">
              <span>Deep Pink</span>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </content-example>
</content-block>

<content-block name="Text input">
  <p slot="description">Text inputs enable the user to interact with and input data. Use when the application requires long-form content from the user.</p>

  <content-example>
    <div slot="demo">
      <div class="sg-form-group form-group">
        <label class="form-group__label" for="sg-text-input-1">Text input label</label>
        <input class="form-group__input" type="text" id="sg-text-input-1" placeholder="Placeholder text">
      </div>

      <div class="sg-form-group form-group">
        <label class="form-group__label" for="sg-text-input-2">Text input label</label>
        <input class="form-group__input" type="text" id="sg-text-input-2" placeholder="Placeholder text">
        <div class="notification notification--small notification--error">
          <p class="notification__text">Validation error message here.</p>
        </div>
      </div>

      <div class="sg-form-group form-group">
        <label class="form-group__label" for="sg-text-input-3">Text input label</label>
        <p class="form-group__helper-text">Optional helper text here; if message is more than one line text should wrap (~100 character count maximum)</p>
        <input class="form-group__input" type="text" id="sg-text-input-3" placeholder="Placeholder text">
      </div>
    </div>
  </content-example>

  <content-example>
    <div slot="demo">
      <div class="sg-form-group sg-form-group--wide form-group">
        <label class="form-group__label" for="sg-textarea-1">Text input label</label>
        <textarea id="sg-textarea-1" cols="5" rows="4" placeholder="Placeholder text."></textarea>
      </div>

      <div class="sg-form-group sg-form-group--wide form-group">
        <label class="form-group__label" for="sg-textarea-2">Text input label</label>
        <textarea id="sg-textarea-2" cols="5" rows="4" placeholder="Placeholder text."></textarea>
        <div class="notification notification--small notification--error">
          <p class="notification__text">Validation error message here.</p>
        </div>
      </div>

      <div class="sg-form-group sg-form-group--wide form-group">
        <label class="form-group__label" for="sg-textarea-3">Text input label</label>
        <p class="form-group__helper-text">Optional helper text here; if message is more than one line text should wrap (~100 character count maximum)</p>
        <textarea id="sg-textarea-" cols="5" rows="4" placeholder="Placeholder text."></textarea>
      </div>
    </div>
  </content-example>
</content-block>

<content-block name="Text link">
  <p slot="description">Links are used primarily as a navigational element. Links may also change what or how data is displayed (view more, show all). If the action taken by the user will change or manipulate data, use a button.</p>

  <content-example>
    <div slot="demo">
      <a class="text-link" href="#">Link</a>
      <a class="text-link" href="#" aria-disabled="true" tab-index="-1">Link</a>
    </div>
  </content-example>
</content-block>
