<content-block name="About" show-hero>
  <div class="container">
    <div class="row">
      <div class="col xs12 m6 offset-m3">
        <p class="lead">Frame Styleguide serves as a digital brand guideline to building websites and experiences. The goals of the styleguide include improving UI consistency and quality, making the design and development process more efficient and focused. To establish a shared vocabulary between designer and developer, and providing clear, discoverable guidance around design and development best practices.</p>

        <h3>About the styleguide</h3>
      </div>
    </div>
  </div>
</content-block>
