{% comment %}
------------------------------------------------------------------------------
  Styleguide: Product
------------------------------------------------------------------------------
{% endcomment %}

<content-block name="Product form" is-synced>
  <p slot="description">The product form is one of the most important components of any e-commerce interface. It is the UI in which users are selecting and clicking around to customise options of the product they will ultimately be adding to their cart.</p>

  <content-example>
    <div slot="demo">
      {% for product in collections['all'].products limit: 1 %}
        {% assign current_variant = product.selected_or_first_available_variant %}
        {% include 'product-form' %}
      {% endfor %}
    </div>
  </content-example>
</content-block>

<content-block name="Product gallery" is-synced>
  <p slot="description">Product images displayed in an intuitive layout to let customers see what the products look like with the support of extra functionality such as clickable thumbnails and image zoom on hover.</p>

  <content-example size="xs12 m6 offset-m3" is-fluid>
    <div slot="demo">
      {% for product in collections['all'].products limit: 1 %}
        {% include 'product-gallery' %}

        <script id="product" type="application/json">
          {{ product | json }}
        </script>
      {% endfor %}
    </div>
  </content-example>
</content-block>

<content-block name="Product swatches" is-synced>
  <p slot="description">Product swatches are styleised options that abstract the default dropdown menus away and allow for branded selectors to the product form to enhance the user experience.</p>

  <content-example>
    <div slot="demo">
      {% for product in collections['all'].products limit: 1 %}
        {% assign current_variant = product.selected_or_first_available_variant %}

        {% for option in product.options_with_values %}
          {% assign sanitized_option_name = option.name | handleize %}
          {% include 'product-swatches' with enable_swatch_labels: true %}
        {% endfor %}
      {% endfor %}
    </div>
  </content-example>
</content-block>
