<script>
  document.documentElement.className = document.documentElement.className.replace('no-js', '');

  window.theme = {
    strings: {
      remove: {{ 'cart.general.remove' | t | json }},
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      addingToCart: {{ 'products.product.adding_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      prompt: {{ 'products.product.prompt' | t | json }},
      cart: {
        general: {
          remove: {{ 'cart.general.remove' | t | json }},
          review: {{ 'cart.general.review' | t | json }},
          title: {{ 'cart.general.title' | t | json }},
          empty: {{ 'cart.general.empty' | t | json }},
          continue_browsing: {{ 'cart.general.continue_browsing' | t | json }},
        },
        label: {
          product: {{ 'cart.label.product' | t | json }},
          price: {{ 'cart.label.price' | t | json }},
          quantity: {{ 'cart.label.quantity' | t | json }},
          total: {{ 'cart.label.total' | t | json }},
          discounted_price: {{ 'cart.label.discounted_price' | t | json }},
          original_price: {{ 'cart.label.original_price' | t | json }}
        }
      },
      productPrice: {
        onSaleFrom: {{ 'products.product.on_sale_from_html' | t | json}},
        fromText:  {{ 'products.product.from_text_html' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json}},
      },
    },
    moneyFormat: {{ shop.money_format | json }},
    currency: {{ cart.currency.iso_code | json }},
    features: {
      freeShippingNotification: {{ settings.enable_free_shipping_notification | json }},
      productSwatches: {{ settings.enable_product_swatches | json }},
      storeSelector: {{ settings.enable_store_selector | json }},
      redirectModal: {{ settings.enable_redirect_modal | json }},
      quickview: {{ settings.enable_quick_view | json }},
      currencySelector: {{ settings.enable_currency_selector | json }},
      currencyConverter: {{ settings.enable_currency_converter | json }},
      geolocationService: {{ settings.geolocation_service | json }}
    },
    {% if settings.store_code != blank %}
    store: {
      storeCode: {{ settings.store_code | json }},
      storeName: {{ settings.store_name | json }}
    },
    {% endif %}
    {% if settings.enable_redirect_modal %}
    redirect: {
      choiceContinue: {{ 'redirect.modal.choice_continue' | t | json }},
      updatePreferences: {{ 'redirect.modal.update_preferences' | t | json }},
      updating: {{ 'redirect.modal.updating' | t | json }}
    },
    {% endif %}
    {% if settings.enable_country_selector %}
    storeSelector: {
      messages: {
        error: {{ 'layout.footer.store_selector_error' | t | json }}
      },
    },
    {% endif %}
    {% if settings.enable_free_shipping_notification %}
    freeShipping: {
      messages: {
        blank: {{ 'cart.free_shipping.blank' | t | json }},
        partial: {{ 'cart.free_shipping.partial' | t | json }},
        ideal: {{ 'cart.free_shipping.ideal' | t | json }}
      },
      threshold: {{ settings.free_shipping_threshold_value }},
    }
    {% endif %}
  };
</script>
