<template>
  <div class="sg-content-block" :data-ref="name" :data-title="name" v-show="isActive">
    <div class="sg-content-block__hero" v-show="!showHero">
      <div class="container">
        <div class="row">
          <div class="col xs12 m6 offset-m3">
            <h5 class="sg-content-block__pretitle">{{ section }}</h5>
            <h2 class="sg-content-block__title d1">
              {{ name }}
              <div class="sg-content-block__sync" v-html="icons.sync" v-if="isSynced"></div>
            </h2>
            <p class="sg-content-block__subtitle">
              <slot name="description"></slot>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="sg-content-block__body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import {icons} from '../utils/icon-map';

  export default {
    data() {
      return {
        section: '',
        isActive: false,
        icons,
      };
    },

    props: {
      isSynced: Boolean,
      name: String,
      description: String,
      showHero: Boolean,
    },

    mounted() {
      this.isActive = (window.location.hash.replace('#', '') === (this.name.toLowerCase().replace(/\s+/g, '-')));

      this.$root.$on('updateView', (title) => {
        this.isActive = (this.name === title);
      });

      this.section = this.$parent.$props.name;
    },
  }
</script>

<style lang="scss">
  @import '~sass-mq';

  $mq-breakpoints: (
    tiny: 320px,
    small: 576px,
    medium: 768px,
    large: 1024px,
    wide: 1360px
  );

  .sg-content-block {
    position: relative;
    width: 100%;

    &__pretitle {
      font-size: 100%;
      margin-bottom: 0.25rem;
      opacity: 0.5;
    }

    &__title {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &__sync {
      margin-left: 0.5rem;
      position: relative;
      top: -0.15rem;
    }

    &__hero {
      align-items: center;
      background-color: rgb(252, 252, 252);
      border-bottom: 1px solid rgb(222, 228, 233);
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      min-height: 200px;
      padding: 2rem;
      text-align: center;
      width: 100%;
    }

    &__subheading {
      align-items: center;
      border-bottom: 1px solid rgb(196, 205, 213);
      display: flex;
      font-weight: 700;
      justify-content: space-between;
      margin: 0 0 0.5rem;
    }

    &__subtitle {
      margin-bottom: 0;

      p {
        margin-bottom: 0;
      }
    }

    &__container {
      margin: 0 auto;
      max-width: 800px;
      width: 100%;
    }

    &__row {
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }

    @include mq($from: large) {
      &__title {
        justify-content: flex-start;
      }

      &__hero {
        text-align: left;
      }
    }
  }
</style>

