<template>
  <div class="container">
    <div class="row">
      <div class="col" :class="size">
        <div class="sg-content-example">
          <div class="sg-content-example__demo" :class="{ 'is-fluid': isFluid }">
            <slot name="demo"></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'content-example',

    props: {
      isFluid: Boolean,
      size: {
        type: String,
        default: 'xs12 m6 offset-m3',
      },
    }
  }
</script>

<style lang="scss">
  .sg-content-example {
    display: block;
    margin: 2.5rem 0;
    max-width: 100%;
    width: 100%;

    &__demo {
      align-content: center;
      background-color: rgb(252, 252, 252);
      border: 1px solid rgb(223, 227, 230);
      color: rgb(21, 41, 53);
      display: flex;
      justify-content: center;
      margin: 1.5rem 0 0;
      padding: 2rem 2rem 2.5rem;
      position: relative;
      width: 100%;

      &.is-fluid {
        > div {
          width: 100%;
        }
      }
    }
  }
</style>
