<template>
  <div class="sg-content-section" :id="name">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'content-section',

    props: [
      'name',
    ]
  }
</script>
