<template>
  <div class="sg-icon-grid">
    <div class="is-hidden">
      <slot name="register"></slot>
    </div>

    <h5 class="sg-icon-grid__title">{{ name }}</h5>

    <div
      class="sg-icon-grid__item"
      v-for="(icon, index) in icons"
      :key="index"
    >
      <div class="sg-icon-grid__card">
        <div v-html="icon.html"></div>
      </div>

      <h5 class="caption sg-icon-grid__label">{{ icon.title | sanitize | capitalize }}</h5>
      <span class="caption sg-icon-grid__meta">{{ icon.title | sanitize | handleize }}</span>
    </div>
  </div>
</template>

<script>
  import {unbem} from './../utils/filters';
  import {getOuterHTML} from './../../../helpers/utils';

  export default {
    name: 'sg-icon-grid',

    props: [
      'name',
    ],

    data() {
      return {
        icons: [],
      }
    },

    filters: {
      sanitize: function(value) {
        if (!value.includes('icon')) return value;
        return unbem(value).replace('icon', '').trim();
      },
    },

    methods: {
      getRegisteredIcons() {
        return this.$slots.register[0].children.map((child) => {
          if (child.tag !== 'undefined' && child.tag === 'svg') {
            return {
              html: getOuterHTML(child.elm),
              title: child.data.staticClass.split(' ').pop(),
            };
          }
        }).filter(Boolean)
      }
    },

    mounted() {
      this.icons = this.getRegisteredIcons();
    },
  }
</script>

<style lang="scss">
  @import '~sass-mq';

  $mq-breakpoints: (
    tiny: 320px,
    small: 576px,
    medium: 768px,
    large: 1024px,
    wide: 1360px
  );

  .sg-icon-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 640px;
    padding: 0 1rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &__title {
      border-bottom: 1px solid rgb(0, 0, 0);
      font-size: 14px;
      font-weight: 700;
      grid-column: 1 / 3;
      line-height: 1.25;
      margin: 0;
      padding: 0.75rem 0;
    }

    &__card {
      align-items: center;
      background-color: rgb(245, 246, 246);
      display: flex;
      height: 7rem;
      justify-content: center;
      position: relative;
      text-align: center;
      transition: background-color 0.1s;

      &:hover {
        background-color: rgb(240, 240, 240);
        cursor: pointer;

        .icon {
          fill: rgb(94, 158, 214);
        }
      }
    }

    &__label {
      font-weight: 700;
      margin: 0.75rem 0 0;
    }

    &__meta {
      color: rgb(85, 86, 91);
    }

    @include mq($from: small) {
      grid-template-columns: repeat(3, 1fr);

      &__title {
        grid-column: 1 / 4;
      }
    }

    @include mq($from: medium) {
      grid-template-columns: repeat(4, 1fr);

      &__title {
        grid-column: 1 / 5;
      }
    }
  }
</style>

