<template>
  <nav :class="['sg-side-nav', {' is-active is-scrollable': isActive }]">
    <slot name="header"></slot>

    <button class="sg-side-nav__toggle-button button button--white" @click.prevent="toggleMenu">
      <slot name="toggle"></slot>
    </button>

    <ul class="sg-side-nav__main-nav" v-for="(item, index) in menu" :key="index">
      <li class="sg-side-nav__item">
        <p class="sg-side-nav__subheading">{{ item.title | capitalize }}</p>

        <ul class="sg-side-nav__sub-nav">
          <li class="sg-side-nav__sub-item" v-for="(item, index) in item.links" :key="index">
            <a class="sub-nav__item-link" :href="item | handleize | hash" @click="toggleContent(item)">{{ item }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</template>

<script>
  import cookies from 'js-cookie';

  export default {
    name: 'side-nav',
    
    data() {
      return {
        isActive: !(cookies.get('frame.styleguide_drawer') === 'false'),
        menu: [],
      };
    },

    mounted() {
      this.menu = [...document.querySelectorAll('.sg-content-section')].map((section) => {
        return {
          title: section.id,
          links: [...section.querySelectorAll('.sg-content-block')].map((template) => {
            return template.dataset.title;
          }),
        };
      });

      this.$root.$on('navigation:toggle', () => {
        this.toggleMenu();
      });
    },

    methods: {
      toggleMenu() {
        this.isActive = !this.isActive;
        cookies.set('frame.styleguide_drawer', this.isActive, 150, '/', Shopify.shop);
      },

      toggleContent(title) {
        this.$root.$emit('updateView', title);
        
        if (!window.matchMedia('(min-width: 576px)').matches) {
          this.isActive = false;
        }
      },
    },
  }
</script>

<style lang="scss">
  .sg-side-nav {
    $parent: &;
    background-color: rgb(33, 43, 54);
    border-right: 1px solid rgb(196, 205, 213);
    color: rgb(255, 255, 255);
    height: 100%;
    left: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    transform: translateX(-280px);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 280px;
    z-index: 20;

    &.is-scrollable {
      overflow-y: scroll;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .site-logo {
      fill: rgb(255, 255, 255);
      height: 60px;
      margin-bottom: 2rem;
      max-width: 180px;
      padding: 1rem;
    }

    &__toggle-button {
      background-color: transparent;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(65px);
      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      .icon {
        fill: rgb(33, 43, 54);
        transition: fill 0.2s cubic-bezier(0, 0, 1, 1);
      }
    }

    &__main-nav {
      list-style-type: none;
      margin: 0 0 1.5rem;
      padding: 0;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }

    &__subheading {
      align-items: center;
      display: flex;
      font-weight: 700;
      justify-content: space-between;
      margin: 0 0 0.25rem;
      padding: 0.25rem 1rem;
    }

    &__sub-nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &__sub-item:not(:last-child) {
      margin-bottom: 0.25rem;
    }

    ul:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .sub-nav {
      &__item-link {
        color: rgb(255, 255, 255);
        display: block;
        padding: 0 1rem;
        text-decoration: none;
        width: 100%;
      }

      &__item-link:hover {
        opacity: 0.6;
      }
    }

    &.is-active {
      transform: translateX(0);

      #{$parent}__toggle-button {
        transform: translateX(0);
      }

      #{$parent}__toggle-button .icon {
        fill: rgb(255, 255, 255);
      }
    }
  }
</style>
