<template>
  <div class="sg-spec-grid-row__row" :class="{ 'sg-spec-grid-row__row--4up': content2 }">
    <div class="sg-spec-grid-row__item">
      <div class="sg-spec-grid-row__content">
        <slot name="content"></slot>
      </div>
    </div>

    <div class="sg-spec-grid-row__item" v-if="content2">
      <div class="sg-spec-grid-row__meta caption">
        {{ content2 }}
      </div>
    </div>

    <div class="sg-spec-grid-row__item" v-if="content3">
      <div class="sg-spec-grid-row__meta caption">
        {{ content3 }}
      </div>
    </div>

    <div class="sg-spec-grid-row__item">
      <div class="sg-spec-grid-row__meta caption">
        <slot name="meta"></slot>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'spec-grid-row',

    props: {
      content2: String,
      content3: String,
    }
  }
</script>

<style lang="scss">
  .sg-spec-grid-row {
    &__row {
      border-bottom: 1px solid rgb(239, 239, 239);
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 2fr 180px;
      min-height: 30px;
      padding-bottom: 1rem;

      &--4up {
        grid-template-columns: 2fr 1fr 1fr 180px;
      }
    }

    &__content,
    &__meta {
      > div {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
      }

      br {
        display: none;
      }
    }

    &__meta {
      > div {
        flex-flow: column wrap;
      }
    }
  }
</style>
