<template>
  <div class="sg-spec-grid">
    <div class="sg-spec-grid__header" :class="{ 'sg-spec-grid__header--4up': title2 }">
      <div class="sg-spec-grid__item">
        {{ title }}
      </div>

      <div class="sg-spec-grid__item" v-if="title2">
        {{ title2 }}
      </div>

      <div class="sg-spec-grid__item" v-if="title3">
        {{ title3 }}
      </div>

      <div class="sg-spec-grid__item">
        Spec
      </div>
    </div>

    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'spec-grid',

    props: {
      title: String,
      title2: String,
      title3: String,
    },
  }
</script>

<style lang="scss">
  .sg-spec-grid {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 3rem;

    &:first-child {
      margin-top: 3rem;
    }

    &__header {
      border-bottom: 1px solid rgb(239, 239, 239);
      display: grid;
      font-size: 14px;
      font-weight: 700;
      grid-gap: 2rem;
      grid-template-columns: 2fr 180px;
      line-height: 1.25;
      padding-bottom: 0.75rem;

      &--4up {
        grid-template-columns: 2fr 1fr 1fr 180px;
      }
    }

    .button + .button {
      margin-top: 1rem;

      @media screen and (min-width: 576px) {
        margin-left: 0.75rem;
        margin-top: 0;
      }
    }
  }
</style>
