/**
 * Section: Announcement bar
 * -----------------------------------------------------------------------------
 * A full-width announcement bar that can be hidden by the user.
 * - Must be enabled through site header section settings.
 *
 */
.announcement-bar {
  $parent: &;
  background-color: $COLOR_BACKGROUND_LIGHT;
  color: $COLOR_TEXT_PRIMARY;
  display: none;
  justify-content: center;
  padding: $SPACING_XS 0;
  position: relative;
  text-align: center;
  z-index: $LAYER_STICKY;

  &__text {
    line-height: 1.3;
    margin: 0;
  }

  &__link {
    text-decoration: underline;
  }

  &__close {
    @include button-reset;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);

    .icon {
      color: $COLOR_TEXT_INVERSE;
      height: 16px;
      width: 16px;
    }
  }

  /**
   * State.
   */
  &.is-active {
    display: flex;
  }

  /**
   * Modifiers.
   */
  &#{&}--primary {
    background-color: $COLOR_PRIMARY;
    color: $COLOR_TEXT_INVERSE;
    font-weight: $WEIGHT_MEDIUM;

    #{$parent}__link {
      color: $COLOR_TEXT_INVERSE;

      &:hover {
        opacity: 0.75;
      }
    }

    #{$parent}__close {
      &:hover {
        opacity: 0.75;
      }
    }
  }

  &#{&}--light {
    background-color: $COLOR_BACKGROUND_LIGHT;
    border-bottom: 1px solid $COLOR_BORDER_LIGHT;
    color: $COLOR_TEXT_PRIMARY;

    #{$parent}__close {
      &:hover {
        opacity: 0.75;
      }

      .icon {
        color: $COLOR_TEXT_PRIMARY;
      }
    }
  }
}
