/**
 * Sections: Cart drawer
 * -----------------------------------------------------------------------------
 * Base styling for cart offcanvas drawer.
 *
 */
.cart-drawer {
  $parent: &;
  background-color: $COLOR_BACKGROUND_WHITE;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0;

  &__close {
    @include button-reset;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__header {
    border-bottom: 1px solid $COLOR_BORDER_DARK;
    margin: 0 auto $LAYOUT_S;
    padding: $SPACING_L 0;
    width: calc(100% - (#{$SPACING_M}));
  }

  &__title {
    margin-bottom: 0;
    position: relative;
  }

  &__body {
    margin-bottom: auto;
    // Footer height
    max-height: calc(100vh - 260px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 $SPACING_S;
    position: relative;
    transition: opacity $TIMING_BASE ease;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
  }

  &__total {
    margin: $SPACING_S 0 $SPACING_L;
  }

  &__footer {
    @include animation-fade-out;
    border-top: 1px solid $COLOR_BORDER_DARK;
    height: 260px;
    opacity: 1;
    padding: $SPACING_L $SPACING_S;

    .button:not(:last-child) {
      margin-bottom: $SPACING_S;
    }

    &.is-hidden {
      opacity: 0;
    }
  }

  &__disclaimer {
    margin-bottom: $SPACING_M;
  }

  &.is-loading {
    #{$parent}__body {
      opacity: 0.25;
    }
  }

  .free-shipping-notification {
    margin-top: 0;
  }

  /**
   * Modifiers.
   */
  &.has-free-shipping-notification {
    #{$parent}__body {
      max-height: calc(100vh - 480px);
    }

    #{$parent}__footer {
      height: 380px;
    }
  }

  /**
   * Ajax line item styling.
   */
  .ajax-cart {
    font-size: ms(-1);

    &__vendor {
      font-size: ms(-2);
    }

    &__title {
      font-size: ms(-1);
    }

    &__price {
      flex-flow: row nowrap;
      font-size: ms(-1);
      justify-content: flex-end;
    }

    &__variant-title {
      font-size: ms(-2);
    }

    &__remove {
      font-size: ms(-2);
    }
  }
}
