/**
 * Section: Cover listing
 * -----------------------------------------------------------------------------
 * A collection of cover components displayed in a grid.
 *
 */
.cover-listing {
  &__title {
    margin: $SPACING_L 0;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-gap: $SPACING_S;
    grid-template-columns: 1fr;
    padding: 0 $SPACING_S;
  }

  @include mq($from: small) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include mq($from: medium) {
    &__grid {
      grid-gap: $SPACING_L;
      padding: 0;
    }
  }
}

/**
 * Modernizr.
 * - No css grid support
 */
.no-cssgrid,
.cssgridlegacy {
  .cover-listing {
    &__grid {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &__item {
      max-width: calc(50% - #{$SPACING_S});
      width: 100%;
    }
  }
}
