/**
 * Section: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for a collection of product cards that can also be displayed in
 * a carousel layout via theme settings.
 *
 */
.featured-collection {
  margin: $SPACING_3XL 0 $SPACING_L;

  &__title {
    margin-bottom: $SPACING_L;
    text-align: center;
  }

  &__card-grid {
    padding: 0 $SPACING_S;
  }

  &__carousel {
    width: 100%;
  }

  &__slide {
    float: left;
    margin: 0 $SPACING_XS;
    width: calc((100% / 2) - #{$SPACING_M});
  }

  /**
   * Flickity overrides.
   */
  .flickity-prev-next-button {
    background-color: $COLOR_PRIMARY;
    border-radius: 0;
    display: none;
    // stylelint-disable-next-line
    margin-top: -($SPACING_3XL);

    .flickity-button-icon {
      fill: $COLOR_BACKGROUND_LIGHT;
      transform: scale(0.75);
    }

    &.previous {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }

  @include mq($until: medium) {
    .container {
      width: 100%;
    }
  }

  @include mq($from: small) {
    &__slide {
      width: calc((100% / 3) - #{$SPACING_L});
    }

    .flickity-prev-next-button {
      display: block;
    }
  }

  @include mq($from: medium) {
    &__card-grid {
      padding: 0;
    }
  }

  @include mq($from: large) {
    &__slide {
      margin: 0 $SPACING_3XS;
      width: calc((100% / 4) - #{$SPACING_3XL});
    }

    .flickity-prev-next-button {
      &.previous {
        left: -$SPACING_L;
      }

      &.next {
        right: -$SPACING_L;
      }
    }
  }
}
