/**
 * Section: Featured blog
 * -----------------------------------------------------------------------------
 * Base styling for a collection of article cards.
 *
 */
.featured-blog {
  margin: $SPACING_3XL 0 $SPACING_L;

  &__header {
    margin-bottom: $SPACING_L;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-gap: $SPACING_L;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 $SPACING_S;
  }

  &__item {
    display: flex;
    flex-flow: column wrap;
  }

  @include mq($from: small) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
    }
  }

  @include mq($from: medium) {
    &__grid {
      grid-template-columns: repeat(4, 1fr);
      padding: 0;
    }
  }
}

/**
 * Modernizr.
 * - No css grid support
 */
.no-cssgrid,
.cssgridlegacy {
  .featured-blog {
    &__grid {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &__item {
      max-width: none;
      width: 100%;
    }

    @include mq($from: small) {
      &__item {
        max-width: calc((100% / 2) - #{$SPACING_L});
      }
    }

    @include mq($from: medium) {
      &__item {
        max-width: calc((100% / 4) - #{$SPACING_L});
      }
    }
  }
}
