/**
 * Section: Image slider
 * -----------------------------------------------------------------------------
 * Large component displaying image galleries in a carousel.
 * - Carousel is powered by Flickity ( https://flickity.metafizzy.co )
 *
 */
.image-slider {
  $parent: &;

  &__placeholder {
    background-color: $COLOR_BACKGROUND_LIGHT;
    opacity: 0.1;
  }

  &__subtitle {
    color: $COLOR_BORDER_LIGHT;
    margin-bottom: $SPACING_L;
  }

  &__cell {
    background-color: $COLOR_BACKGROUND_LIGHT;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 420px;
    overflow: hidden;
    padding: $SPACING_XL;
    position: relative;
    transition: height $TIMING_SHORT $EASING_LINEAR;
    width: 100%;

    /**
     * Content alignment modifiers
     * - using state classes due to character limit in theme sections
     */
    &.is-top {
      align-items: flex-start;
    }

    &.is-bottom {
      align-items: flex-end;
    }

    &.is-middle {
      align-items: center;
    }

    &.is-center {
      justify-content: center;
    }

    &.is-left {
      justify-content: flex-start;
    }

    &.is-right {
      justify-content: flex-end;
    }
  }

  &__content {
    padding: $SPACING_M;
  }

  &__body {
    max-width: 550px;
    position: relative;
    z-index: $LAYER_FLAT;

    p {
      max-width: 480px;
    }

    /**
     * Text alignment modifiers.
     * - using state classes due to character limit in theme sections
     */
    &.is-left {
      text-align: left;
    }

    &.is-center {
      text-align: center;

      #{$parent}__subtitle {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &.is-right {
      text-align: right;
    }
  }

  @include mq($from: medium) {
    &__cell {
      height: 576px;
    }
  }

  @include mq($from: large) {
    &__cell {
      height: 720px;
    }
  }
}
