/**
 * Section: Instafeed
 * -----------------------------------------------------------------------------
 * Base styling for Instafeed app section.
 *
 */
.instafeed {
  margin: $SPACING_3XL 0 $SPACING_L;

  &__header {
    margin-bottom: $SPACING_L;
    text-align: center;
  }
}
