/**
 * Section: Menu drawer
 * -----------------------------------------------------------------------------
 * General styling for the menu drawer appearing on mobile.
 *
 */
.menu-drawer {
  background-color: $COLOR_BACKGROUND_LIGHT;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    align-items: center;
    background-color: $COLOR_BACKGROUND_WHITE;
    border-bottom: 1px solid $COLOR_BORDER_LIGHT;
    display: flex;
    height: 55px;
  }

  &__close {
    @include animation-drawer-slide;
    color: $COLOR_PRIMARY;
    height: 34px;
    margin-left: -$SPACING_XS;
    min-height: inherit;
    padding: 0;
    width: 34px;
    z-index: $LAYER_POP_OUT;
  }

  &__search {
    margin-bottom: $SPACING_M;

    input[type=search] {
      padding: $SPACING_M;
    }
  }

  &__body {
    height: 100%;
    margin-bottom: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: $SPACING_M 0;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    &#{&}--parent {
      padding-top: 0;
    }
  }

  &__link {
    display: block;
    padding: $SPACING_S 0;
  }

  &__button {
    @include button-reset;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $SPACING_S 0;
    text-align: left;
    width: 100%;

    .icon {
      height: 21px;
      transform: rotateZ(0);
      transition: transform 0.25s;
      width: 21px;

      &__minus {
        display: none;
      }
    }

    &.is-active {
      .icon__plus {
        display: none;
      }

      .icon__minus {
        display: block;
      }
    }
  }

  &__primary-label {
    font-size: ms(1);
  }

  &__secondary-label {
    font-size: ms(0);
  }

  [js-menu-drawer=childMenu],
  [js-menu-drawer=grandChildMenu] {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.is-active {
      display: block;
    }

    .menu-drawer {
      &__item {
        border-bottom: 0;
        padding-left: $SPACING_L;
      }
    }
  }
}
