/**
 * Section: Newsletter modal
 * -----------------------------------------------------------------------------
 * Styling for newsletter popup section.
 * - Overrides modal component styling.
 */
.newsletter-modal {
  $parent: &;
  @include animation-overlay;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $LAYER_POP_OUT;

  &__card {
    @include animation-modal-slide;
    background-color: $COLOR_BACKGROUND_WHITE;
    border: 1px solid $COLOR_BORDER_LIGHT;
    left: 0;
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    max-width: 90%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-20%);
  }

  &__header {
    border-bottom: 0;
    padding: $SPACING_S;
    position: absolute;
  }

  &__image {
    img, picture {
      display: block;
      width: 100%;
    }
  }

  &__body {
    overflow: auto;
    padding: $SPACING_M;
    text-align: center;
  }

  &__paragraph {
    margin-bottom: $SPACING_2XL;
  }

  &__close {
    border: 1px solid $COLOR_BORDER_LIGHT;
    border-width: 0 0 1px 1px;
    height: auto;
    padding: $SPACING_XS;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $LAYER_RAISED;

    &:hover {
      background-color: $COLOR_BORDER_LIGHT;
    }

    svg {
      pointer-events: none;
    }
  }

  &__label {
    float: left;
    text-align: left;
  }

  &__input {
    &::placeholder {
      color: $COLOR_BORDER_LIGHT;
    }
  }

  &__button {
    // stylelint-disable-next-line
    margin-top: $SPACING_M;
  }

  &__disclaimer {
    padding-top: $SPACING_L;
  }

  &.is-active,
  &.is-open {
    opacity: 1;
    pointer-events: auto;

    #{$parent}__card {
      opacity: 1;
      transform: translateY(-50%);
    }
  }

  @include mq($from: medium) {
    &__card {
      align-items: center;
      display: flex;
      max-width: 900px;
    }

    &__body {
      width: 50%;
    }

    &__image {
      width: 50%;
    }
  }
}
