/**
 * Section: Newsletter Callout
 * -----------------------------------------------------------------------------
 * Styling for newsletter sign up callout section.
 * - Usually displayed at the bottom of the page.
 *
 */
.newsletter-callout {
  $parent: &;
  margin: $LAYOUT_M auto 0;
  max-width: 320px;
  text-align: center;

  &__input-group {
    flex-flow: column wrap;
    position: relative;
  }

  &__field {
    margin: 0 auto $SPACING_M;
    position: relative;
  }

  &__input {
    &:focus {
      + .newsletter-callout__label {
        opacity: 0;
      }
    }
  }

  #{$parent}__submit {
    height: 100%;
    padding: $SPACING_M;
    width: 155px;
  }

  &__label {
    color: $COLOR_TEXT_LIGHT;
    display: block;
    font-weight: $WEIGHT_BOOK;
    left: $SPACING_M;
    opacity: 1;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
  }

  &__header {
    padding: 0 0 $SPACING_L;
  }

  &__title {
    font-size: ms(1);
    margin-bottom: 0;

    + .newsletter-callout__subtitle {
      font-size: ms(-1);
      margin-bottom: 0;
      padding-top: $SPACING_XS;
    }
  }

  .container {
    max-width: 580px;
  }

  @include mq($from: medium) {
    max-width: 420px;
  }

  @include mq($from: large) {
    margin-top: 0;
    max-width: unset;
    text-align: left;

    &__input-group {
      flex-flow: row nowrap;
    }

    &__field {
      margin-bottom: 0;
    }
  }
}
