/**
 * Section: Recommended products
 * -----------------------------------------------------------------------------
 * Base styling for a collection of product cards for recommended products that can also be displayed in
 * a carousel layout or grid via theme settings.
 *
 */
.recommended-products {
  margin: $SPACING_3XL 0 $SPACING_L;
  opacity: 0;
  transition: visibility 0s linear $TIMING_BASE, opacity $TIMING_BASE;
  visibility: hidden;

  &__title {
    margin-bottom: $SPACING_2XL;
    text-align: center;
  }

  &__card-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 $SPACING_S;

    .card-grid__item {
      width: calc(50% - #{$SPACING_XS});
    }
  }

  &__carousel {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;

    &.flickity-enabled {
      display: block;
    }
  }

  &__slide {
    float: left;
    margin: $SPACING_XS;
    position: relative;
    width: calc((100% / 2) - #{$SPACING_L});
  }

  &.is-added {
    opacity: 1;
    transition: visibility 0s linear 0s, opacity $TIMING_BASE;
    visibility: visible;
  }

  /**
   * Flickity overrides.
   */
  .flickity-prev-next-button {
    background: $COLOR_PRIMARY;
    border-radius: 0;
    display: none;
    margin-top: -($SPACING_3XL);

    .flickity-button-icon {
      fill: $COLOR_BACKGROUND_WHITE;
      transform: scale(0.75);
    }

    &.previous {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }

  @include mq($from: small) {
    &__slide {
      width: calc((100% / 3) - #{$SPACING_L});
    }

    .flickity-prev-next-button {
      display: block;
    }
  }

  @include mq($from: medium) {
    &__card-grid {
      padding: 0;
    }

    .card-grid__item {
      width: calc(50% - #{$SPACING_M});
    }
  }

  @include mq($from: large) {
    .card-grid__item {
      width: calc((100% / 4) - #{$SPACING_L});
    }

    &__slide {
      width: calc((100% / 4) - #{$SPACING_L});
    }

    .flickity-prev-next-button {
      &.previous {
        left: -$SPACING_L;
      }

      &.next {
        right: -$SPACING_L;
      }
    }
  }
}
