/**
 * Section: Redirect modal
 * -----------------------------------------------------------------------------
 * Popup that is displayed when the user is browsing from another country.
 *
 */
.redirect-modal {
  &__card {
    background-color: $COLOR_BACKGROUND_WHITE;
    left: 0;
    margin: 0 auto;
    max-width: calc(100% - #{$LAYOUT_M});
  }

  &__header {
    color: $COLOR_TEXT_PRIMARY;
    padding: $SPACING_L $SPACING_M;
    position: static;
    text-align: center;

    .container {
      max-width: 460px;
    }
  }

  &__close {
    @include button-reset;
  }

  &__title {
    margin: 0 auto;
  }

  &__lead {
    margin: $SPACING_M 0 0;
  }

  &__body {
    background-color: $COLOR_BACKGROUND_LIGHT;
    padding: $SPACING_XL 0;

    .container {
      max-width: 320px;
    }

    p {
      &:last-child {
        margin: 0;
      }
    }

    .button {
      &:not(:last-child) {
        margin-bottom: $SPACING_S;
      }
    }
  }

  &__footer {
    padding: $SPACING_S;
    text-align: center;
  }

  select {
    background-color: $COLOR_BACKGROUND_WHITE;
    margin-bottom: $SPACING_M;
  }

  .choice-card {
    &:first-child {
      margin-bottom: $SPACING_M;
    }
  }

  @include mq($from: medium) {
    &__header {
      padding: $SPACING_L 0;

      .container {
        max-width: none;
      }
    }

    &__card {
      max-width: 700px;
    }

    &__body {
      .container {
        max-width: none;
      }
    }

    .choice-card {
      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}
