/**
 * Section: Site Footer
 * -----------------------------------------------------------------------------
 * Global styling of the site footer
 *
 */
.site-footer {
  background-color: $COLOR_BACKGROUND_LIGHT;
  margin-top: $LAYOUT_L;
  padding: $LAYOUT_M 0 $LAYOUT_L;

  &__navlist {
    text-align: center;
  }

  &__icon-group {
    left: -$SPACING_S;
    margin-bottom: $SPACING_L;
    position: relative;
  }

  &__description {
    max-width: 320px;
  }

  &__footnote {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: $LAYOUT_S 0 0;
    width: 100%;
  }

  &__disclaimer {
    font-size: ms(-1);
    letter-spacing: $LETTER_SPACING_LABEL;
    margin-bottom: 0;
    text-transform: uppercase;

    a {
      color: $COLOR_TEXT_PRIMARY;
      // Optical alignment
      position: relative;
      top: 1px;

      &:hover {
        color: $COLOR_LINK_HOVER;
      }
    }
  }

  &__meta {
    display: flex;
    justify-content: flex-end;
  }

  &__store-selector {
    margin-bottom: $SPACING_M;
    max-width: 145px;
    width: 100%;
  }

  @include mq($from: medium) {
    &__navlist {
      text-align: left;
    }

    &__footnote {
      align-items: flex-end;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: $LAYOUT_L 0 0;
    }
  }
}
