/**
 * Section: Site Header
 * -----------------------------------------------------------------------------
 * Global styling of main header including the logo, navigation, icons and AJAX cart.
 * - Sticky is defined on section header parent container (Bottom of file).
 * - Includes search header overrides (Bottom of file)
 */
.site-header {
  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__hamburger {
    align-items: center;
    display: flex;
    flex: 1;
  }

  &__masthead {
    @include animation-shrink(padding);
    align-items: center;
    background-color: $COLOR_BACKGROUND_WHITE;
    border-bottom: 1px solid $COLOR_BORDER_LIGHT;
    padding: $SPACING_XS 0;
    position: relative;
    will-change: padding;
  }

  &__brand {
    flex: 1;
  }

  &__logo {
    margin: 0;
    width: 120px;

    svg {
      display: block;
      max-height: 25px;
      width: 100%;
    }
  }

  &__navbar {
    display: none;
  }

  &__misc {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: -$SPACING_XS;
  }

  &__icon {
    @include animation-icon-hover(color);
    @include button-reset;
    align-items: center;
    color: $COLOR_TEXT_PRIMARY;
    display: flex;
    height: 36px;
    justify-content: center;
    position: relative;
    text-decoration: none;
    width: 36px;

    &:focus {
      @include focus-ring;
    }

    a {
      @include animation-icon-hover(color);
      color: $COLOR_TEXT_PRIMARY;

      &:hover {
        color: $COLOR_LINK_HOVER;
      }
    }

    .badge {
      opacity: 1;
      position: absolute;
      right: -8px;
      top: 0;

      &.is-hidden {
        opacity: 0;
      }
    }

    &:hover {
      color: $COLOR_LINK_HOVER;
    }

    &.is-active {
      position: relative;
      z-index: $LAYER_POP_OUT;
    }

    &#{&}--hamburger {
      margin-left: -$SPACING_XS;

      button {
        @include button-reset;
      }
    }
  }

  &__icon--search {
    .site-header__misc & {
      display: none;
    }
  }

  &__country-selector {
    margin-right: $SPACING_XS;
  }

  &__account-dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  &__account-navlist {
    background-color: $COLOR_BACKGROUND_WHITE;
    border: 1px solid $COLOR_BORDER_LIGHT;
    display: none;
    flex-flow: column nowrap;
    margin-bottom: 0;
    padding: $SPACING_XL $SPACING_L $SPACING_L;
    position: absolute;
    right: -$LAYOUT_L;
    width: 200px;

    a {
      color: $COLOR_TEXT_PRIMARY;
    }

    a:hover {
      color: $COLOR_LINK_HOVER;
    }
  }

  @include mq($from: large) {
    &__container {
      justify-content: normal;
    }

    &__hamburger {
      display: none;
    }

    &__misc {
      margin-left: auto;
    }

    &__masthead {
      height: 100%;
      padding: 0;
    }

    &__navbar {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: $SPACING_3XL;
    }

    &__icon {
      &#{&}--hamburger {
        display: none;
      }

      &#{&}--search,
      &#{&}--account {
        display: flex;
      }
    }

    &__icon--search {
      .site-header__hamburger & {
        display: none;
      }

      .site-header__misc & {
        display: block;
      }

      .icon__close {
        display: none;
      }
    }

    &__icon--account {
      @include animation-shrink(padding);
    }

    &__account-icon {
      &:hover {
        // stylelint-disable-next-line
        .site-header__account-navlist {
          display: flex;
        }
      }
    }
  }
}

/**
 * Sticky header using css property sticky.
 */
.site-header-section {
  &.is-sticky {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $LAYER_STICKY;
  }

  &.is-collapsed {
    .site-nav {
      &__link {
        padding: $SPACING_M 0;
      }
    }
  }
}

/**
 * Position overrides when search overlay is active.
 */
html.js-search-active {
  .site-header-section {
    z-index: $LAYER_POP_OUT;
  }

  .site-header {
    &__icon {
      &#{&}--search {
        opacity: 1;
      }
    }

    &__icon--search {
      .icon__search {
        display: none;
      }

      .site-header__misc & {
        display: block;
      }

      .icon__close {
        display: inline-block;
      }
    }
  }
}
