/**
 * Section: Video hero
 * -----------------------------------------------------------------------------
 * HTML video block with content overlay.
 *
 */
.video-hero {
  height: 520px;
  overflow: hidden;
  position: relative;
  z-index: $LAYER_BASE;

  &::before {
    background-color: rgba($COLOR_BACKGROUND_DARK, 0.25);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $LAYER_FLAT;
  }

  &__player {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__video {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__container {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $LAYER_POP_OUT;

    /**
     * Content alignment modifiers.
     * - using state classes due to character limit in theme sections.
     */
    &.is-top {
      align-items: flex-start;
    }

    &.is-bottom {
      align-items: flex-end;
    }

    &.is-middle {
      align-items: center;
    }

    &.is-center {
      justify-content: center;
    }

    &.is-left {
      justify-content: flex-start;
    }

    &.is-right {
      justify-content: flex-end;
    }
  }

  &__content {
    max-width: 640px;
    padding: $SPACING_XL;

    /**
     * Text alignment modifiers.
     * - using state classes due to character limit in theme sections.
     */
    &.is-left {
      text-align: left;
    }

    &.is-center {
      text-align: center;
    }

    &.is-right {
      text-align: right;
    }
  }

  @include mq($from: medium) {
    height: 60vh;
  }

  @include mq($from: large) {
    height: 70vh;
  }

  @include mq($from: wide) {
    height: 80vh;
  }
}
