/**
 * Apps: Shopify reviews
 * -----------------------------------------------------------------------------
 * Base style overrides on Shopify review badges.
 *
 */
.spr-badge {
  .spr-starrating {
    color: rgb(255, 209, 2);
  }

  .spr-badge-caption {
    font-size: ms(-2);
    margin-left: $SPACING_2XS;
  }

  .spr-icon-star {
    margin-right: $SPACING_3XS;
  }
}
