/*
 * Frame: Styleguide
 * -----------------------------------------------------------------------------
 * Core entry file for Styleguide.
 * - Base styling for the Styleguide page.
 * - This template should not be made public.
 * - Prefix styleguide specific components with 'sg'
 *
 */
@charset 'UTF-8';

@import './theme';

/**
 * Colors swatches.
 */
.sg-swatch {
  border-radius: 4px;
  display: inline-block;
  height: 46px;
  margin-right: $SPACING_S;
  width: 46px;

  &#{&}--primary {
    background-color: $COLOR_PRIMARY;
  }

  &#{&}--secondary {
    background-color: $COLOR_SECONDARY;
  }

  &#{&}--text-primary {
    background-color: $COLOR_TEXT_PRIMARY;
  }

  &#{&}--text-secondary {
    background-color: $COLOR_TEXT_SECONDARY;
  }

  &#{&}--text-light {
    background-color: $COLOR_TEXT_LIGHT;
  }

  &#{&}--text-inverse {
    background-color: $COLOR_TEXT_INVERSE;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
  }

  &#{&}--link {
    background-color: $COLOR_LINK;
  }

  &#{&}--link-hover {
    background-color: $COLOR_LINK_HOVER;
  }

  &#{&}--button {
    background-color: $COLOR_BUTTON;
  }

  &#{&}--button-hover {
    background-color: $COLOR_BUTTON_HOVER;
  }

  &#{&}--border {
    background-color: $COLOR_BORDER_LIGHT;
  }

  &#{&}--background-dark {
    background-color: $COLOR_BACKGROUND_DARK;
  }

  &#{&}--background-light {
    background-color: $COLOR_BACKGROUND_LIGHT;
  }

  &#{&}--background-white {
    background-color: $COLOR_BACKGROUND_WHITE;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
  }

  &#{&}--border-dark {
    background-color: $COLOR_BORDER_DARK;
  }

  &#{&}--border-light {
    background-color: $COLOR_BORDER_LIGHT;
  }

  &#{&}--support-info {
    background-color: $COLOR_SUPPORT_INFO;
  }

  &#{&}--support-success {
    background-color: $COLOR_SUPPORT_SUCCESS;
  }

  &#{&}--support-warning {
    background-color: $COLOR_SUPPORT_WARNING;
  }

  &#{&}--support-error {
    background-color: $COLOR_SUPPORT_ERROR;
  }

  &#{&}--support-focus {
    background-color: $COLOR_SUPPORT_FOCUS;
  }
}

/**
 * Spacing swatches.
 */
.sg-spacing {
  background-color: rgb(255, 169, 205);
  display: inline-block;
  height: 1px;
  width: 1px;

  &--3xs {
    height: $SPACING_3XS;
    width: $SPACING_3XS;
  }

  &--2xs {
    height: $SPACING_2XS;
    width: $SPACING_2XS;
  }

  &--xs {
    height: $SPACING_XS;
    width: $SPACING_XS;
  }

  &--s {
    height: $SPACING_S;
    width: $SPACING_S;
  }

  &--m {
    height: $SPACING_M;
    width: $SPACING_M;
  }

  &--l {
    height: $SPACING_L;
    width: $SPACING_L;
  }

  &--xl {
    height: $SPACING_XL;
    width: $SPACING_XL;
  }

  &--2xl {
    height: $SPACING_2XL;
    width: $SPACING_2XL;
  }

  &--3xl {
    height: $SPACING_3XL;
    width: $SPACING_3XL;
  }
}

/**
 * Spacing swatches.
 */
.sg-layout {
  background-color: rgb(153, 255, 255);
  display: inline-block;
  height: 1px;
  width: 1px;

  &--2xs {
    height: $LAYOUT_2XS;
    width: $LAYOUT_2XS;
  }

  &--xs {
    height: $LAYOUT_XS;
    width: $LAYOUT_XS;
  }

  &--s {
    height: $LAYOUT_S;
    width: $LAYOUT_S;
  }

  &--m {
    height: $LAYOUT_M;
    width: $LAYOUT_M;
  }

  &--l {
    height: $LAYOUT_L;
    width: $LAYOUT_L;
  }

  &--xl {
    height: $LAYOUT_XL;
    width: $LAYOUT_XL;
  }

  &--2xl {
    height: $LAYOUT_2XL;
    width: $LAYOUT_2XL;
  }
}

/**
 * Form groups.
 */
.sg-form-group {
  max-width: 320px;

  &#{&}--wide {
    max-width: 480px;
  }
}

/**
 * Template overrides.
 */
.template-styleguide {
  .newsletter-modal,
  .quick-view {
    opacity: 1;
    pointer-events: auto;
    position: static;

    &.modal {
      .modal__overlay {
        position: static;
      }
    }

    &__card {
      position: relative;
      top: 0;
      transform: none;
    }
  }

  .drawer {
    position: static;
    transform: none;
  }
}
