/**
 * Template: 404
 * -----------------------------------------------------------------------------
 * 404 page template.
 *
 */
.template-404 {
  .main-content {
    padding: $LAYOUT_M 0 0 0;
    text-align: center;
  }
}
