/**
 * Template: Article
 * -----------------------------------------------------------------------------
 * Base styling for standard blog posts
 *
 */
.template-article {
  &__article {
    padding-bottom: $SPACING_3XL * 2;
  }

  &__hero-container {
    max-width: 1360px;
  }

  &__hero-col.col {
    padding: 0;
  }

  &__hero-image {
    background-position: center;
    height: 200px;
    min-height: 200px;
  }

  &__header {
    margin-bottom: $SPACING_M;
    text-align: center;
  }

  &__title {
    margin-bottom: $SPACING_L;
  }

  &__meta {
    display: block;
    line-height: $LINE_HEIGHT_CAPTION;
    margin-bottom: $SPACING_M;

    &:last-child {
      margin-bottom: 0;
    }

    &__meta-container {
      margin: 0 auto;
      max-width: 480px;
    }
  }

  &__meta-body {
    font-family: $FONT_BODY;
    font-size: ms(-1);
    margin-bottom: $SPACING_M;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__body {
    font-family: $FONT_BODY;
    font-size: ms(-1);
    margin: 0 0 $SPACING_L;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      display: block;
      margin: $SPACING_XL 0;
      width: 100%;
    }

    img + img {
      margin-top: -$SPACING_M;
    }
  }

  &__container {
    margin: 0 auto;
    padding: $SPACING_XL 0;
  }

  &__categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__category-item {
    display: inline-block;
    font-family: $FONT_BODY;
    font-size: ms(-2);
    margin: 0 $SPACING_2XS;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section {
    padding: $SPACING_3XL * 2 0;

    &.border-top {
      border-top: 1px solid $COLOR_BORDER_DARK;
    }

    &__header {
      margin-bottom: $SPACING_M;
    }

    &__title {
      margin: 0 auto;
      max-width: 680px;
      text-align: center;
    }
  }

  @include mq($from: medium) {
    &__article {
      padding-bottom: $SPACING_3XL * 2;
      padding-top: $LAYOUT_M;
    }

    &__hero-container {
      margin: auto;
      width: 90%;
    }

    &__hero-col.col {
      padding: 0 $SPACING_S;
    }

    &__hero-image {
      height: 380px;
    }

    &__header {
      margin-bottom: $SPACING_XL;
    }

    &__container {
      padding: $SPACING_3XL 0 0;
    }

    &__body {
      img {
        margin: $SPACING_3XL 0;
      }

      img + img {
        margin-top: -$SPACING_L;
      }
    }

    .section {
      padding: $SPACING_3XL * 2 0;

      &__header {
        margin-bottom: $SPACING_XL;
      }
    }
  }

  @include mq($from: large) {
    &__article {
      padding-bottom: $SPACING_2XL * 5;
      padding-top: $LAYOUT_L;
    }

    &__hero-image {
      height: 460px;
    }

    &__body {
      font-size: ms(0);
    }

    &__category-item {
      font-size: ms(-1);
    }
  }

  @include mq($from: wide) {
    &__hero-image {
      height: 592px;
    }
  }
}
