/**
 * Template: Blog
 * -----------------------------------------------------------------------------
 * Blog page template.
 *
 */
.template-blog {
  &__categories {
    list-style: none;
    margin: 0;
    padding: $SPACING_XL 0;
  }

  &__category-item {
    display: inline-block;
    margin-bottom: 0;
    margin-right: $SPACING_L;

    &:last-child {
      margin-right: 0;
    }
  }

  &__grid {
    display: grid;
    grid-column-gap: $GUTTER_WIDTH;
    grid-row-gap: calc(#{$GUTTER_WIDTH} * 2);
    grid-template-columns: repeat(1, 1fr);
  }

  &__card-title {
    font-family: $FONT_BODY;
    font-size: ms(-1);
    margin: 0 0 $SPACING_2XS;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__card-meta {
    margin-bottom: $SPACING_XS;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__description {
    font-family: $FONT_BODY;
    font-size: ms(-2);
    margin: 0 0 $SPACING_L;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq($from: small) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include mq($from: large) {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }

    &__card-title {
      font-size: ms(0);
    }

    &__description {
      font-size: ms(-1);
    }
  }
}

/**
 * Modernizr.
 * - No css grid support
 */
.no-cssgrid,
.cssgridlegacy {
  .template-blog {
    &__grid {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &__item {
      max-width: calc(50% - #{$SPACING_S});
      width: 100%;
    }

    @include mq($from: large) {
      &__item {
        max-width: calc((100% / 3) - #{$SPACING_M});
      }

      &__grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
