/**
 * Template: Cart
 * -----------------------------------------------------------------------------
 * Cart page template.
 *
 */
.template-cart {
  &__body {
    background-color: $COLOR_BACKGROUND_WHITE;
    padding: $SPACING_2XL 0;

    .cart-table {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: $SPACING_S;
  }

  &__subtitle {
    margin: $SPACING_XS 0 0;
  }

  &__container {
    margin: $LAYOUT_2XS auto 0;
    max-width: map-get($map: $mq-breakpoints, $key: medium);
  }

  &__panel {
    @include animation-fade-out(opacity);
    background-color: $COLOR_BACKGROUND_WHITE;

    &.is-loading {
      opacity: 0.25;
    }
  }

  &__notes {
    margin: $SPACING_2XL 0;
  }

  @include mq($from: large) {
    margin: $LAYOUT_S auto 0;

    &__container {
      max-width: map-get($map: $mq-breakpoints, $key: wide);
    }

    &__body {
      .cart-table {
        margin: 0 $SPACING_XL $SPACING_L 0;
      }
    }
  }
}
