/**
 * Template: Collection
 * -----------------------------------------------------------------------------
 * Collection or product landing page layout styling.
 *
 */
.template-collection {
  &__breadcrumb {
    margin: $SPACING_M 0 $SPACING_XS;
  }

  &__page-size {
    margin-bottom: 0;
  }

  &__header {
    align-items: flex-end;
    display: flex;
    margin: $SPACING_M $SPACING_2XS 0;
    overflow: hidden;
  }

  &__hero {
    align-items: flex-end;
    background-color: $COLOR_BACKGROUND_LIGHT;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 300px;
    justify-content: flex-start;
  }

  &__grid {
    padding: 0 $SPACING_S;
  }

  &__sidebar {
    grid-column: 0 / 1;
  }

  &__body {
    grid-column: 2 / 3;
  }

  &__sort-by {
    .form-group {
      display: flex;
      flex-flow: column wrap;
    }
  }

  &__filter-toggle {
    display: block;
    margin-bottom: $SPACING_M;
  }

  &__filter-menu {
    display: none;

    p {
      margin-bottom: 0;
    }

    &.is-active {
      display: block;
    }
  }

  .accordion {
    .navlist {
      margin-bottom: 0;
    }
  }

  &__pagination {
    margin-top: $LAYOUT_M;
  }

  @include mq($from: medium) {
    .accordion {
      &__item:first-child .control {
        display: none;
      }
    }

    &__filter-toggle {
      display: none;
    }

    &__filter-menu {
      display: block;
    }

    &__breadcrumb {
      margin: $SPACING_3XL 0 $SPACING_2XL;
    }

    &__header {
      margin: $SPACING_L 0 0;
    }

    &__sort-by {
      .form-group {
        float: right;
        max-width: 220px;
        width: 100%;
      }
    }

    &__grid {
      display: grid;
      grid-gap: $SPACING_L;
      grid-template-columns: 240px 1fr;
      margin: $SPACING_2XL 0;
    }
  }

  @include mq($from: large) {
    &__header {
      align-items: flex-end;
      margin: $SPACING_L 0;
    }

    &__hero {
      align-items: center;
      height: 350px;
      padding-bottom: $SPACING_3XL;
    }

    &__sidebar {
      display: block;
    }
  }

  @include mq($from: wide) {
    &__grid {
      grid-template-columns: 320px 1fr;
    }
  }
}

/**
 * Modernizr.
 * - No css grid support
 */
.no-cssgrid,
.cssgridlegacy {
  .template-collection {
    &__grid {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &__sidebar {
      max-width: 240px;
      width: 100%;
    }

    &__body {
      width: 100%;
    }

    @include mq($from: large) {
      &__body {
        max-width: calc(100% - 250px);
      }
    }
  }
}
