/**
 * Template: Gift card
 * -----------------------------------------------------------------------------
 * Base styling for gift cart template page.
 *
 */
.giftcard-qr {
  img {
    display: block;
    margin: 0 auto;
  }
}

.apple-wallet-image {
  display: block;
  margin: 0 auto;
}

@media print {
  @page {
    margin: 0.5cm;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  .print-giftcard,
  .apple-wallet {
    display: none;
  }
}
