/**
 * Template: Password
 * -----------------------------------------------------------------------------
 * Temporary holding page when the password protection setting is enabled.
 *
 */
.template-password {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  &__logo {
    max-width: 180px;
  }

  &__form {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
