/**
 * Template: Product
 * -----------------------------------------------------------------------------
 * Core product template styles.
 *
 */
.template-product {
  &__breadcrumb {
    margin-bottom: $SPACING_L;
  }

  &__aside {
    margin-top: $SPACING_M;
    width: 100%;
  }

  &__gallery {
    .col {
      padding: 0;
    }
  }

  &__social {
    margin: $SPACING_M;
  }

  &__pagination {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__container {
    > .container {
      width: 100%;

      .col {
        padding: 0;
      }
    }
  }

  &__reviews {
    margin: 0 $SPACING_M;
    max-width: map-get($map: $mq-breakpoints, $key: wide);
  }

  @include mq($from: medium) {
    &__container {
      margin: $SPACING_M auto;

      > .container {
        width: 90%;

        // stylelint-disable-next-line
        .col {
          padding: 0 $SPACING_XS;
        }
      }
    }

    &__reviews {
      margin: 0;
    }
  }

  @include mq($from: large) {
    &__container {
      margin: $SPACING_3XL auto;
      max-width: map-get($map: $mq-breakpoints, $key: wide);
    }

    &__aside {
      float: right;
      margin-top: 0;
      max-width: 480px;
    }
  }
}
