/**
 * Template: Search
 * -----------------------------------------------------------------------------
 * Search page results styling.
 *
 */
.template-search {
  &__container {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  &__hero {
    background-color: $COLOR_BACKGROUND_LIGHT;
    background-position: center;
    background-size: cover;
    margin-bottom: $LAYOUT_XS;
    padding: $LAYOUT_L 0;
  }

  &__form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 620px;
    padding: 0 $SPACING_M;
    width: 100%;

    .search-bar {
      width: 100%;
    }
  }

  @include mq($from: medium) {
    &__breadcrumb {
      margin: $SPACING_3XL 0 $SPACING_2XL;
    }
  }

  @include mq($from: large) {
    &__hero {
      margin-bottom: $LAYOUT_L;
    }
  }
}
