<div class="container">
  <div class="row">
    <div class="col xs12 l10 offset-l1">
      <h1 class="template-account__title h2">{{ 'customer.account.title' | t }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="template-account__body">
      {% comment %}
      ------------------------------------------------------------------------------
        Sidebar
      ------------------------------------------------------------------------------
      {% endcomment %}
      <div class="col xs12 m3 l2 offset-l1">
        {% include 'account-nav' %}
      </div>

      {% comment %}
      ------------------------------------------------------------------------------
        Inner content
      ------------------------------------------------------------------------------
      {% endcomment %}
      <div class="col xs12 m9 l7 offset-l1">
        <div class="order-table">
          <h3 class="order-table__heading">{{ 'customer.orders.title' | t }}</h3>

          {% paginate customer.orders by 20 %}
            {% if customer.orders.size != 0 %}
              <div class="order-table__header">
                <div class="row">
                  <div class="col xs2">
                    <div class="order-table__label">
                      {{ 'customer.orders.order_number' | t }}
                    </div>
                  </div>
                  <div class="col xs2">
                    <div class="order-table__label">
                      {{ 'customer.orders.date' | t }}
                    </div>
                  </div>
                  <div class="col xs2">
                    <div class="order-table__label">
                      {{ 'customer.orders.total' | t }}
                    </div>
                  </div>
                  <div class="col xs2">
                    <div class="order-table__label">
                      {{ 'customer.orders.payment_status' | t }}
                    </div>
                  </div>
                  <div class="col xs2">
                    <div class="order-table__label">
                      {{ 'customer.orders.fulfillment_status' | t }}
                    </div>
                  </div>
                </div>
              </div>

              {% for order in customer.orders %}
                <div class="order-table__row">
                  <div class="row">
                    <div class="order-table__col col xs6 m2" data-label="{{ 'customer.orders.order_number' | t }}">
                      <div class="order-table__label order-table__label--inner">
                        {{ 'customer.orders.order_number' | t }}
                      </div>
                      {{ order.name | link_to: order.customer_url }}
                    </div>
                    <div class="order-table__col col xs6 m2" data-label="{{ 'customer.orders.date' | t }}">
                      <div class="order-table__label order-table__label--inner">
                        {{ 'customer.orders.date' | t }}
                      </div>
                      {{ order.created_at | date: format: 'month_day_year' }}
                    </div>
                    <div class="order-table__col col xs6 m2" data-label="{{ 'customer.orders.total' | t }}">
                      <div class="order-table__label order-table__label--inner">
                        {{ 'customer.orders.total' | t }}
                      </div>
                      {{ order.total_price | money }}
                    </div>
                    <div class="order-table__col col xs6 m2" data-label="{{ 'customer.orders.payment_status' | t }}">
                      <div class="order-table__label order-table__label--inner">
                        {{ 'customer.orders.payment_status' | t }}
                      </div>
                      {{ order.financial_status_label }}
                    </div>
                    <div class="order-table__col col xs6 m2" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                      <div class="order-table__label order-table__label--inner">
                        {{ 'customer.orders.fulfillment_status' | t }}
                      </div>
                      {{ order.fulfillment_status_label }}
                    </div>
                    <div class="order-table__col col xs6 m2 text-right">
                      <a href="{{ order.customer_url }}" class="text-link">{{ 'customer.orders.view_order' | t }}</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <p>{{ 'customer.orders.none' | t }}</p>
            {% endif %}

            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
          {% endpaginate %}
        </div>
      </div>
    </div>
  </div>
</div>
