<div class="container">
  <div class="row">
    <div class="col xs12 m6 offset-m3">
      <h1 class="template-account__title h2">{{ 'customer.activate_account.title' | t }}</h1>
      <p class="template-account__subtitle">{{ 'customer.activate_account.subtext' | t }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col xs12 m6 offset-m3">
      {% form 'activate_customer_password' %}
        {{ form.errors | default_errors }}

        <div class="form-group">
          <div class="form-group__field">
            <label for="CustomerPassword" class="form-group__label subtitle-2">
              {{ 'customer.activate_account.password' | t }}
            </label>

            <input type="password"
              name="customer[password]"
              id="CustomerPassword"
              placeholder="{{ 'customer.activate_account.password' | t }}"
            >
          </div>

          <div class="form-group__field">
            <label for="CustomerPasswordConfirmation" class="form-group__label subtitle-2">
              {{ 'customer.activate_account.password_confirm' | t }}
            </label>
            <input type="password"
              name="customer[password_confirmation]"
              id="CustomerPasswordConfirmation"
              placeholder="{{ 'customer.activate_account.password_confirm' | t }}"
            >
          </div>
        </div>

        <div class="form-group__footer">
          <input type="submit" class="button button--primary" value="{{ 'customer.activate_account.submit' | t }}">
          <input type="submit" class="text-link caption" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
        </div>
      {% endform %}
    </div>
  </div>
</div>
