{% paginate customer.addresses by 5 %}
  <div class="container">

    <div class="row">
        <div class="col xs12 l10 offset-l1">
          <h1 class="template-account__title h2">{{ 'customer.account.title' | t }}</h1>
        </div>
    </div>

    <div class="row">
      <div class="template-account__body">
        {% comment %}
        ------------------------------------------------------------------------------
          Sidebar
        ------------------------------------------------------------------------------
        {% endcomment %}
        <div class="col xs12 m3 l2 offset-l1">
          {% include 'account-nav' %}
        </div>

        <div class="col xs12 m9 l7 offset-l1 template-addresses__inner">
          <div class="template-addresses__buttons row" js-addresses="contentToggle">
            <div class="template-addresses__heading col xs12 m6">
              <h2>{{ 'customer.addresses.title' | t }}</h2>
            </div>
            <div class="template-addresses__action col xs12 m6">
              <button type="button" class="button button--primary" js-addresses="newFormToggle">{{ 'customer.addresses.add_new' | t }}</button>
            </div>
          </div>

          {% comment %}
          ------------------------------------------------------------------------------
            Add new address
          ------------------------------------------------------------------------------
          {% endcomment %}
          <div class="template-addresses__form-row row">
            <div class="col xs12">
              <div class="form-group template-addresses__form is-hidden" js-addresses="newForm">

                {% form 'customer_address', customer.new_address %}
                  <button type="button" class="template-addresses__form-button button button--primary" js-addresses="newFormToggle">
                    {{ 'customer.addresses.return' | t }}
                  </button>

                  <h2>
                    {{ 'customer.addresses.add_new' | t }}
                  </h2>

                  <div class="row">
                    <div class="col xs12 m6">
                      <label for="AddressFirstNameNew" class="form-group__label">
                        {{ 'customer.addresses.first_name' | t }}
                      </label>
                      <input type="text"
                        name="address[first_name]"
                        id="AddressFirstNameNew"
                        value="{{ form.first_name }}"
                        autocapitalize="words"
                        required="true"
                      >
                    </div>

                    <div class="col xs12 m6">
                      <label for="AddressLastNameNew" class="form-group__label">
                        {{ 'customer.addresses.last_name' | t }}
                      </label>
                      <input type="text"
                        name="address[last_name]"
                        id="AddressLastNameNew"
                        value="{{ form.last_name }}"
                        autocapitalize="words"
                        required="true"
                      >
                    </div>
                  </div>

                  <div class="row">
                    <div class="col xs12">
                      <label for="AddressCompanyNew" class="form-group__label">
                        {{ 'customer.addresses.company' | t }}
                      </label>
                      <input type="text"
                        name="address[company]"
                        id="AddressCompanyNew"
                        value="{{ form.company }}"
                        autocapitalize="words"
                      >
                    </div>
                  </div>

                  <div class="row">
                    <div class="col xs12 m6">
                      <label for="AddressAddress1New" class="form-group__label">
                        {{ 'customer.addresses.address1' | t }}
                      </label>
                      <input type="text"
                        name="address[address1]"
                        id="AddressAddress1New"
                        value="{{ form.address1 }}"
                        autocapitalize="words"
                        required="true"
                      >
                    </div>
                    <div class="col xs12 m6">
                      <label for="AddressAddress2New" class="form-group__label">
                        {{ 'customer.addresses.address2' | t }}
                      </label>
                      <input type="text"
                        name="address[address2]"
                        id="AddressAddress2New"
                        value="{{ form.address2 }}"
                        autocapitalize="words"
                      >
                    </div>
                  </div>

                  <div class="row">
                    <div class="col xs12 m6">
                      <label for="AddressCityNew" class="form-group__label">
                        {{ 'customer.addresses.city' | t }}
                      </label>

                      <input type="text"
                        name="address[city]"
                        id="AddressCityNew"
                        value="{{ form.city }}"
                        autocapitalize="words"
                        required="true"
                      >
                    </div>

                    <div class="col xs12 m6">
                      <label for="AddressCountryNew" class="form-group__label">
                        {{ 'customer.addresses.country' | t }}
                      </label>

                      <select
                        style="background-image: url({{ 'icon-caret-down.svg' | asset_url }});"
                        name="address[country]"
                        id="AddressCountryNew"
                        data-default="{{ form.country }}">
                        {{ country_option_tags }}
                      </select>
                    </div>
                  </div>

                  <div class="row" id="AddressProvinceContainerNew" style="display: none">
                    <div class="col xs12">
                      <label for="AddressProvinceNew" class="form-group__label">
                        {{ 'customer.addresses.province' | t }}
                      </label>
                      <select
                        name="address[province]"
                        id="AddressProvinceNew"
                        data-default="{{ form.province }}"
                      >
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col xs12 m6">
                      <label for="AddressZipNew" class="form-group__label">
                        {{ 'customer.addresses.zip' | t }}
                      </label>
                      <input type="text"
                        name="address[zip]"
                        id="AddressZipNew"
                        value="{{ form.zip }}"
                        autocapitalize="characters"
                        required="true"
                      >
                    </div>

                    <div class="col xs12 m6">
                      <label for="AddressPhoneNew" class="form-group__label">
                        {{ 'customer.addresses.phone' | t }}
                      </label>
                      <input type="tel"
                        name="address[phone]"
                        id="AddressPhoneNew"
                        value="{{ form.phone }}"
                        pattern="[0-9\-]*"
                      >
                    </div>
                  </div>

                  <div class="row">
                    <div class="col xs12">
                      <div class="checkbox__container" js-addresses="checkbox">
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_new" class="checkbox__label">
                          {{ 'customer.addresses.set_default' | t }}
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col xs12">
                      <input type="submit" class="button button--primary" value="{{ 'customer.addresses.add' | t }}">
                    </div>
                  </div>
                {% endform %}
              </div>
            </div>
          </div>

          {% comment %}
          ------------------------------------------------------------------------------
            Your addresses
          ------------------------------------------------------------------------------
          {% endcomment %}

          <div class="template-addresses__form-row row">

            <div class="col xs12 m5" js-addresses="contentToggle">
              {% for address in customer.addresses %}
                {% if address == customer.default_address %}
                  <div class="form-group">
                    <div class="template-addresses__panel panel">

                      {% if address == customer.default_address %}
                        <h3 class="panel__label">{{ 'customer.addresses.default' | t }}</h3>
                      {% endif %}

                      <div class="panel__body">
                        <div class="panel__address">{{ address | format_address }}</div>

                        <button type="button" class="text-link" js-addresses="editAddress" data-form-id="{{ address.id }}">
                          {{ 'customer.addresses.edit' | t }}
                        </button>

                        <button type="button" class="text-link" js-addresses="deleteAddress" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                          {{ 'customer.addresses.delete' | t }}
                        </button>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="col xs12 m7" js-addresses="contentToggle">
              {% for address in customer.addresses %}
                {% if address != customer.default_address %}
                  <div class="form-group">
                    <div class="template-addresses__panel panel panel--secondary">

                      {% if forloop.index == 1 %}
                        <h3 class="panel__label">Additional addresses</h3>
                      {% endif %}

                      <div class="panel__body">
                        <div class="panel__address">{{ address | format_address }}</div>

                        <button type="button" class="text-link" js-addresses="editAddress" data-form-id="{{ address.id }}">
                          {{ 'customer.addresses.edit' | t }}
                        </button>

                        <button type="button" class="text-link" js-addresses="deleteAddress" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                          {{ 'customer.addresses.delete' | t }}
                        </button>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          {% for address in customer.addresses %}
            <div class="template-addresses__form-row row">
              <div class="col xs12">
                <div id="EditAddress_{{ address.id }}" class="template-addresses__form is-hidden">

                  {% form 'customer_address', address %}
                    <button type="button" class="template-addresses__form-button button button--primary" js-addresses="editAddress" data-form-id="{{ form.id }}">
                      {{ 'customer.addresses.return' | t }}
                    </button>

                    <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

                    <div class="row">
                      <div class="col xs12 m6">
                        <label for="AddressFirstName_{{ form.id }}" class="form-group__label">
                          {{ 'customer.addresses.first_name' | t }}
                        </label>
                        <input type="text"
                          name="address[first_name]"
                          id="AddressFirstName_{{ form.id }}"
                          value="{{ form.first_name }}"
                          autocapitalize="words"
                          required="true"
                        >
                      </div>

                      <div class="col xs12 m6">
                        <label for="AddressLastName_{{ form.id }}" class="form-group__label">
                          {{ 'customer.addresses.last_name' | t }}
                        </label>
                        <input type="text"
                          name="address[last_name]"
                          id="AddressLastName_{{ form.id }}"
                          value="{{ form.last_name }}"
                          autocapitalize="words"
                          required="true"
                        >
                      </div>
                    </div>

                    <div class="row">
                      <div class="col xs12">
                        <label for="AddressCompany_{{ form.id }}" class="form-group__label">
                          {{ 'customer.addresses.company' | t }}
                        </label>
                        <input type="text"
                          name="address[company]"
                          id="AddressCompany_{{ form.id }}"
                          value="{{ form.company }}"
                          autocapitalize="words"
                        >
                      </div>
                    </div>

                    <div class="row">
                      <div class="col xs12 m6">
                        <label for="AddressAddress1_{{ form.id }}" class="form-group__label">
                          {{ 'customer.addresses.address1' | t }}
                        </label>
                        <input type="text"
                          name="address[address1]"
                          id="AddressAddress1_{{ form.id }}"
                          value="{{ form.address1 }}"
                          autocapitalize="words"
                          required="true"
                        >
                      </div>
                      <div class="col xs12 m6">
                        <label for="AddressAddress2_{{ form.id }}" class="form-group__label">
                          {{ 'customer.addresses.address2' | t }}
                        </label>
                        <input type="text"
                          name="address[address2]"
                          id="AddressAddress2_{{ form.id }}"
                          value="{{ form.address2 }}"
                          autocapitalize="words"
                        >
                      </div>
                    </div>

                    <div class="row">
                      <div class="col xs12">
                        <label for="AddressCity_{{ form.id }}" class="form-group__label">
                          {{ 'customer.addresses.city' | t }}
                        </label>
                        <input type="text"
                          name="address[city]"
                          id="AddressCity_{{ form.id }}"
                          value="{{ form.city }}"
                          autocapitalize="words"
                          required="true"
                        >
                      </div>
                    </div>

                    <div class="row">
                      <div class="col xs12">
                        <label for="AddressCountry_{{ form.id }}" class="form-group__label">
                          {{ 'customer.addresses.country' | t }}
                        </label>
                        <select
                          name="address[country]"
                          id="AddressCountry_{{ form.id }}"
                          js-addresses="countryOption"
                          data-form-id="{{ form.id }}"
                          data-default="{{ form.country }}"
                          required="true"
                        >
                          {{ country_option_tags }}
                        </select>
                      </div>
                    </div>

                    <div id="AddressProvinceContainer_{{ form.id }}" style="display: none" class="row">
                      <div class="col xs12">
                        <label for="AddressProvince_{{ form.id }}" class="form-group__label">
                          {{ 'customer.addresses.province' | t }}
                        </label>
                        <select
                          name="address[province]"
                          id="AddressProvince_{{ form.id }}"
                          data-default="{{ form.province }}">
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col xs12 m6">
                        <label for="AddressZip_{{ form.id }}" class="form-group__label">
                          {{ 'customer.addresses.zip' | t }}
                        </label>
                        <input type="text"
                          name="address[zip]"
                          id="AddressZip_{{ form.id }}"
                          value="{{ form.zip }}"
                          autocapitalize="characters"
                          required="true"
                        >
                      </div>

                      <div class="col xs12 m6">
                        <label for="AddressPhone_{{ form.id }}" class="form-group__label">
                          {{ 'customer.addresses.phone' | t }}
                        </label>
                        <input type="tel"
                          name="address[phone]"
                          id="AddressPhone_{{ form.id }}"
                          value="{{ form.phone }}"
                          pattern="[0-9\-]*"
                        >
                      </div>
                    </div>

                    <div class="row">
                      <div class="col xs12">
                        <div class="checkbox__container" js-addresses="checkbox">
                          {{ form.set_as_default_checkbox }}
                          <label for="address_default_address_{{ form.id }}" class="checkbox__label">
                            {{ 'customer.addresses.set_default' | t }}
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col xs12">
                        <input type="submit" class="button button--primary" value="{{ 'customer.addresses.update' | t }}">
                      </div>
                    </div>
                  {% endform %}
                </div>
              </div>
            </div>
          {% endfor %}

          <div class="row">
            <div class="col xs12">
              {% if paginate.pages > 1 %}
                {% include 'pagination' %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endpaginate %}
