<div class="container">
  <div class="row">
    <div class="col xs12 template-login__col">
      <div class="template-login__grid">
        <div class="template-login__grid-item">
          <div class="row no-margin">
            <div class="col xs12 m8 offset-m2">

              <div class="note note--success is-hidden" id="ResetSuccess">
                {{ 'customer.recover_password.success' | t }}
              </div>

              <div js-password-form="customerLoginForm">
                {% form 'customer_login' %}
                  <h2>{{ 'customer.login.returning_user' | t }}</h2>

                  {{ form.errors | default_errors }}

                  <div class="form-group">
                    <div class="form-group__field">
                      <label for="CustomerEmail" class="form-group__label subtitle-2">
                        {{ 'customer.login.email' | t }}
                      </label>

                      <input type="email"
                        name="customer[email]"
                        id="CustomerEmail"
                        class="{% if form.errors contains 'email' %}input-error{% endif %}"
                        placeholder="{{ 'customer.login.email' | t }}"
                        spellcheck="false"
                        autocomplete="off"
                        autocapitalize="off"
                        autofocus
                        required
                      />
                    </div>

                    {% if form.password_needed %}
                      <div class="form-group__field">
                        <label for="CustomerPassword" class="form-group__label subtitle-2">
                          {{ 'customer.login.password' | t }}
                        </label>

                        <input type="password"
                          name="customer[password]"
                          id="CustomerPassword"
                          class="{% if form.errors contains 'password' %}input-error{% endif %}"
                          placeholder="{{ 'customer.login.password' | t }}"
                          required
                        />
                      </div>
                    {% endif %}

                    <div class="form-group__footer template-login__form-footer">
                      <input
                        type="submit"
                        class="button button--primary template-login__button"
                        value="{{ 'customer.login.login' | t }}"
                      />

                      {% if form.password_needed %}
                        <a href="#recover" class="template-login__text-link text-link" js-password-form="forgotPasswordLink">
                          {{ 'customer.login.forgot_password' | t }}
                        </a>
                      {% endif %}
                    </div>
                  </div>
                {% endform %}
              </div>

              <div class="is-hidden" js-password-form="recoverPasswordForm">
                <h2 class="h3">{{ 'customer.recover_password.title' | t }}</h2>
                <p>{{ 'customer.recover_password.subtext' | t }}</p>

                {% form 'recover_customer_password' %}
                  <div class="form-group">
                    {{ form.errors | default_errors }}

                    {% if form.posted_successfully? %}
                      <span
                        class="hide note note--success"
                        js-password-form="resetPasswordSuccess">
                      </span>
                    {% endif %}

                    <div class="form-group__field">
                      <label for="RecoverEmail" class="form-group__label subtitle-2">
                        {{ 'customer.recover_password.email' | t }}
                      </label>

                      <input type="email"
                        name="email"
                        id="RecoverEmail"
                        placeholder="{{ 'customer.recover_password.email' | t }}"
                        spellcheck="false"
                        autocomplete="off"
                        autocapitalize="off"
                      />
                    </div>

                    <div class="form-group__footer template-login__form-footer">
                      <input
                        type="submit"
                        class="button button--primary template-login__button"
                        value="{{ 'customer.recover_password.submit' | t }}"
                      />
                      <span class="template-login__text-link text-link caption" js-password-form="cancelPasswordLink">
                        {{ 'customer.recover_password.cancel' | t }}
                      </span>
                    </div>
                  </div>
                {% endform %}

              </div>

              {% if shop.checkout.guest_login %}
                <h2>{{ 'customer.login.guest_title' | t }}</h2>

                {% form 'guest_login' %}
                  <input
                    type="submit"
                    class="button"
                    value="{{ 'customer.login.guest_continue' | t }}"
                  />
                {% endform %}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="template-login__grid-item">
          <div class="row no-margin">
            <div class="col xs12 m8 offset-m2">
              <h2>{{ 'customer.login.new_customers' | t }}</h2>

              <p class="template-login__text">
                {{ 'customer.login.create_account' | t }}
              </p>

              <a
                href="/account/register"
                class="button button--primary template-login__button">
                {{ 'layout.customer.register' | t }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
