<div class="container">
  <div class="row">
    <div class="template-account__header">
      <div class="col xs12 m3 l2 offset-l1">
        <h1 class="template-account__title h2">
          {{ 'customer.account.title' | t }}
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="template-account__body">
      {% comment %}
      ------------------------------------------------------------------------------
        Sidebar
      ------------------------------------------------------------------------------
      {% endcomment %}
      <div class="col xs12 m3 l2 offset-l1">
        {% include 'account-nav' %}
      </div>

      {% comment %}
      ------------------------------------------------------------------------------
        Inner content
      ------------------------------------------------------------------------------
      {% endcomment %}
      <div class="col xs12 m9 l7 offset-l1">
        <div class="template-order__inner">

          <div class="template-account__buttons row">
            <div class="col xs12">
              <a href="/account?view=orders" class="button button--primary">
                {{ 'customer.account.return_to_orders' | t }}
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col xs12 m8">
              <h3 class="template-order__title">{{ 'customer.order.title' | t: name: order.name }}</h3>
              <p>{{ 'customer.order.subtitle' | t }}</p>
            </div>

            <div class="col xs12 m4 template-order__date">
              <h3 class="template-account__label">{{ 'customer.order.date_label' | t }}</h3>
              <span>{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y" }}</span>

              {% if order.cancelled %}
                {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
                <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
                <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col xs12">
              <h3>{{ 'customer.order.details_title' | t }}</h3>
              <div class="order-overview panel">
                <div class="panel__grid">
                  <div class="container">
                    <div class="panel__flex-row row">
                      <div class="col xs12 m4 order-overview__aside">
                        <h4 class="order-overview__heading">
                          {{ 'customer.order.shipping_title' | t }}
                        </h4>

                        <h3 class="panel__label">
                          {{ 'customer.order.fulfillment_status' | t }}
                        </h3>

                        <p class="panel__body">
                          {{ order.fulfillment_status_label }}
                        </p>

                        <h3 class="panel__label">
                          {{ 'customer.order.shipping_address' | t }}
                        </h3>

                        <div class="panel__body">
                          {{ order.shipping_address | format_address }}
                        </div>
                      </div>
                      <div class="col xs12 m8 order-overview__body">
                        <div class="row">
                          <div class="col xs12">
                            <h4 class="order-overview__heading">
                              {{ 'customer.order.billing_title' | t }}
                            </h4>
                          </div>

                          <div class="col xs12 m6">
                            <h3 class="panel__label">
                              {{ 'customer.order.payment_status' | t }}
                            </h3>

                            <p class="panel__body">
                              {{ order.financial_status_label }}
                            </p>
                          </div>

                          <div class="col xs12 m6">
                            <h3 class="panel__label">
                              {{ 'customer.order.billing_address' | t }}
                            </h3>

                            <div class="panel__body">
                              {{ order.billing_address | format_address }}
                            </div>
                          </div>
                        </div>

                        <div class="row order-overview__prices">
                          <div class="col xs12">
                            <div class="order-overview__price-row">
                              <p>
                                {{ 'customer.order.subtotal' | t }}
                                <span data-label="{{ 'customer.order.subtotal' | t }}">
                                  {{ order.subtotal_price | money }}
                                </span>
                              </p>
                            </div>

                            {% for discount in order.discounts %}
                              <div class="order-overview__price-row">
                                <p>
                                  {{ discount.code }} {{ 'customer.order.discount' | t }}
                                  <span data-label="{{ 'customer.order.discount' | t }}">
                                    {{ discount.savings | money }}
                                  </span>
                                </p>
                              </div>
                            {% endfor %}

                            {% for shipping_method in order.shipping_methods %}
                              <div class="order-overview__price-row">
                                <p>
                                  {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})
                                  <span data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">
                                    {{ shipping_method.price | money }}
                                  </span>
                                </p>
                              </div>
                            {% endfor %}

                            {% for tax_line in order.tax_lines %}
                              <div class="order-overview__price-row">
                                <p>
                                  {{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
                                  <span data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</span>
                                </p>
                              </div>
                            {% endfor %}
                          </div>
                        </div>

                        <div class="row">
                          <div class="order-overview__price-row col xs12">
                            <p class="order-overview__total">
                              {{ 'customer.order.total' | t }}
                              <span data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money }}</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col xs12">
              <h3 class="template-order__heading">{{ 'customer.order.items_title' | t }}</h3>

              <div class="row">
                <div class="col xs12">
                  {% for line_item in order.line_items %}

                    <div id="{{ line_item.key }}" class="row">
                      <div class="order-item col xs12 m6" data-label="{{ 'customer.order.product' | t }}">

                        <div class="order-item__image-wrapper">
                          {{ line_item.product.featured_image | img_tag: '', 'order-item__image', '85x' }}
                        </div>

                        <div class="order-item__description">
                          {{ line_item.product.title | link_to: line_item.product.url }}
                          <div class="order-item__variant-info">
                            <span data-label="{{ 'customer.order.variants' | t }}">
                              {{ line_item.variant.title }}
                            </span>
                          </div>
                          <div data-label="{{ 'customer.order.sku' | t }}">
                            {{ line_item.sku }}
                          </div>
                        </div>

                        <div class="order-item__price">
                          <span data-label="{{ 'customer.order.quantity' | t }}">
                            {{ line_item.quantity }} × </span>
                          <span data-label="{{ 'customer.order.price' | t }}">
                            {{ line_item.price | money }}
                          </span>
                        </div>
                      </div>
                    </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
