<div class="container">
  <div class="row">
    <div class="col xs12 text-center">
      <h1 class="h2 template-register__title">
        {{ 'customer.register.title' | t }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col xs12 s8 offset-s2 l4 offset-l4">
      {% form 'create_customer' %}
        <div class="form-group">
          {{ form.errors | default_errors }}

          <div class="form-group__field">
            <label class="form-group__label subtitle-2" for="FirstName">
              {{ 'customer.register.first_name' | t }}
            </label>

            <input type="text"
              name="customer[first_name]"
              id="FirstName"
              placeholder="{{ 'customer.register.first_name' | t }}"
              autofocus
              {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
            />
          </div>

          <div class="form-group__field">
            <label class="form-group__label subtitle-2" for="LastName">
              {{ 'customer.register.last_name' | t }}
            </label>

            <input type="text"
              name="customer[last_name]"
              id="LastName"
              placeholder="{{ 'customer.register.last_name' | t }}"
              {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
            />
          </div>

          <div class="form-group__field">
            <label class="form-group__label subtitle-2" for="Email">
              {{ 'customer.register.email' | t }}
            </label>

            <input type="email"
              name="customer[email]"
              id="Email"
              class="{% if form.errors contains 'email' %}input-error{% endif %}"
              placeholder="{{ 'customer.register.email' | t }}"
              value="{% if form.email %}{{ form.email }}{% endif %}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>

          <div class="form-group__field">
            <label class="form-group__label subtitle-2" for="CreatePassword">
              {{ 'customer.register.password' | t }}
            </label>

            <input type="password"
              name="customer[password]"
              id="CreatePassword"
              class="{% if form.errors contains 'password' %}input-error{% endif %}"
              placeholder="{{ 'customer.register.password' | t }}"
            />
          </div>

          <div class="form-group__footer template-register__form-footer">
            <input
              type="submit"
              value="{{ 'customer.register.submit' | t }}"
              class="button button--primary template-register__button"
            />
            <p class="caption">{{ 'customer.register.login_here_html' | t }}</p>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>
