<div class="container">
  <div class="row">
    <div class="col xs12 m6 offset-m3">
      <h1 class="template-account__title h2">{{ 'customer.reset_password.title' | t }}</h1>
      <p class="template-account__subtitle">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col xs12 m6 offset-m3">
      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}

        <div class="form-group">
          <div class="form-group__field">
            <label for="ResetPassword" class="form-group__label subtitle-2">
              {{ 'customer.reset_password.password' | t }}
            </label>
            <input type="password"
              name="customer[password]"
              id="ResetPassword"
              class="{% if form.errors contains 'password' %}input-error{% endif %}"
              placeholder="{{ 'customer.reset_password.password' | t }}"
            >
          </div>

          <div class="form-group__field">
            <label for="PasswordConfirmation" class="form-group__label subtitle-2">
              {{ 'customer.reset_password.password_confirm' | t }}
            </label>
            <input type="password"
              name="customer[password_confirmation]"
              id="PasswordConfirmation"
              class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
              placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
            >
          </div>

          <div class="form-group__footer">
            <input type="submit" class="button button--primary" value="{{ 'customer.reset_password.submit' | t }}">
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>
