{% comment %}
------------------------------------------------------------------------------
  Section: Cart drawer
  - This is a required section for the Shopify Theme Store.
  - It is available in the "Ajax Cart" section in the theme editor.
------------------------------------------------------------------------------
{% endcomment %}

{% assign enable_product_vendor = false %}

{% assign modifiers = '' %}
{% assign body_modifiers = '' %}

{% if cart.item_count <= 0 %}
  {% assign body_modifiers = body_modifiers | append: 'is-hidden' %}
{% endif %}

{% if settings.enable_free_shipping_notification %}
  {% assign modifiers = modifiers | append: ' has-free-shipping-notification' %}
{% endif %}

<section id="cartDrawer" data-section-id="{{ section.id }}" data-section-type="cart-drawer" class="cart-drawer drawer critical-hide {{ modifiers }}" role="navigation" data-enable-vendor-title="{{ enable_product_vendor }}" js-cart-drawer="container">
  <div class="cart-drawer__inner">
    <div class="container">
      <div class="row no-margin">
        <div class="col xs12">
          <div class="cart-drawer__header">
            <div class="cart-drawer__title h3">
              {{ 'cart.general.title' | t }}

              <button class="cart-drawer__close button" js-toggle="cartDrawer" data-target="cartDrawer" value="Close">
                {% include 'icon-misc' with icon: 'close' %}
                <div class="visually-hidden">Close</div>
              </button>
            </div>
          </div>

          <div class="cart-drawer__body ajax-cart" js-cart-drawer="body" js-ajax-cart="container">
            {% if cart.item_count <= 0 %}
              <p>{{ 'cart.general.empty' | t }}</p>
            {% else %}
              {% for item in cart.items %}

                {% comment %}
                ------------------------------------------------------------------------------
                  Item config
                ------------------------------------------------------------------------------
                {% endcomment %}

                {% assign image_lqip = item.image | img_url: '50x' %}
                {% assign image_s = item.image | img_url: '120x' %}
                {% assign image_m = item.image | img_url: '240x' %}
                {% assign image_l = item.image | img_url: '320x' %}

                <div class="ajax-cart__line-item" js-ajax-cart="lineItem">
                  <div class="ajax-cart__image responsive-image__wrapper">
                    <img
                      src="{{ image_lqip }}"
                      srcset="{{ image_s }} 300w, {{ image_m }} 700w, {{ image_l }} 1000w"
                      alt="{{ item.image.alt }}"
                    >
                  </div>

                  <div class="ajax-cart__description">
                    <div class="row no-margin">
                      <div class="col xs7 m7">
                        <div class="ajax-cart__inner">
                          {% if enable_product_vendor %}
                            <p class="ajax-cart__vendor caption">{{ item.vendor }}</p>
                          {% endif %}

                          <a href="{{ item.url }}" class="ajax-cart__title">{{ item.product.title }}</a>

                          {% unless item.product.has_only_default_variant %}
                            <p class="ajax-cart__variant-title caption">{{ item.variant.title }}</p>
                          {% endunless %}

                          <button class="ajax-cart__remove" js-ajax-cart="remove" data-key="{{ item.key }}" tabindex="0">{{ 'cart.general.remove' | t }}</button>
                        </div>
                      </div>

                      <div class="col xs5 m5">
                        <div class="ajax-cart__price" data-label="{{ 'cart.label.price' | t }}">
                          {{ item.quantity }} &times;

                          {% if item.original_line_price != item.line_price %}
                            <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                            <span js-currency="price" data-price="{{ item.price }}">{{ item.price | money }}</span>
                            <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                            <s>{{ item.original_price | money }}</s>
                          {% else %}
                            <span js-currency="price" data-price="{{ item.price }}">{{ item.price | money }}</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cart-drawer__footer {{ body_modifiers }}" js-cart-drawer="footer">
    {% if settings.enable_free_shipping_notification %}
      <div class="row">
        <div class="col xs12">
          {% include 'free-shipping-notification' %}
        </div>
      </div>
    {% endif %}

    <div class="cart-drawer__total">
      <div class="row">
        <div class="col xs6">
          <span class="subtitle-1">
            {{ 'cart.general.subtotal' | t | append: ':' }}
          </span>
        </div>

        <div class="col xs6 text-right">
          <span class="subtitle-1" js-ajax-cart="subtotal" js-currency="price" data-price="{{ cart.total_price }}">
            {{ cart.total_price | money }}
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col xs12">
        {% if section.settings.show_clear_cart %}
          <a class="button button--secondary button--block" href="/cart/clear.js" js-ajax-cart="clearCart" >{{ 'cart.general.clear' | t }}</a>
        {% endif %}

        <a class="button button--primary button--block" href="/cart">{{ 'cart.general.review' | t }}</a>
      </div>
    </div>

    <div class="row">
      <div class="col xs12 text-center">
        <p class="cart-drawer__disclaimer caption">
          {{ 'cart.general.shipping_at_checkout' | t }}<br>
          {{ 'cart.general.currency_disclaimer' | t | replace: '%shop_currency%', cart.currency.iso_code }}
        </p>

        {% unless shop.enabled_payment_types == empty %}
          <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
          {% include 'payment-icons' with class: 'payment-icons--centered' %}
        {% endunless %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Cart Drawer",
    "settings": [
      {
        "type": "header",
        "content": "Features"
      },
      {
        "type": "checkbox",
        "id": "show_clear_cart",
        "label": "Show clear cart button",
        "default": true
      }
    ]
  }
{% endschema %}
