<div id="ImageSlider-{{ section.id }}" class="image-slider carousel" data-autoplay="{{ section.settings.autoplay }}" data-section-id="{{ section.id }}" data-section-type="image-slider">
  {% for block in section.blocks %}
    {% if block.settings.image == blank %}
      {% capture background_placeholder %}
        <div class="image-slider__placeholder placeholder-background">
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endcapture %}
    {% endif %}

    <div class="image-slider__cell {{ block.settings.content_alignment }} lazyload"
      {% unless block.settings.image == blank %}
        data-bgset="{% include 'responsive-bg-image', image: block.settings.image %}"
      {% endunless %}
    >
      {% if block.settings.image == blank %}
        {{ background_placeholder }}
      {% endif %}

      <div class="image-slider__content">
        <div class="image-slider__body {{ block.settings.text_alignment }}" style="background-color: {{ block.settings.background_color }}">
          <h2 class="d1 image-slider__title" style="color: {{ block.settings.text_color }}">{{ block.settings.title }}</h2>

          {% if block.settings.subtitle != blank %}
            <p class="image-slider__subtitle" style="color: {{ block.settings.text_color }}">
              {{ block.settings.subtitle }}
            </p>
          {% endif %}

          {% if block.settings.link %}
            <a href="{{ block.settings.link }}" class="button button--primary image-slider__button {{ block.settings.call_to_action_theme }}">{{ block.settings.cta_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Image slider",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "autoplay",
        "label": "Auto-rotate slide speed",
        "default": "5000",
        "info": "In milliseconds. 0 to disable."
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "top center",
            "options": [
              {
                "label": "Top left",
                "value": "top left"
              },
              {
                "label": "Top center",
                "value": "top center"
              },
              {
                "label": "Top right",
                "value": "top right"
              },
              {
                "label": "Middle left",
                "value": "center left"
              },
              {
                "label": "Middle center",
                "value": "center center"
              },
              {
                "label": "Middle right",
                "value": "center right"
              },
              {
                "label": "Bottom left",
                "value": "bottom left"
              },
              {
                "label": "Bottom center",
                "value": "bottom center"
              },
              {
                "label": "Bottom right",
                "value": "bottom right"
              }
            ]
          },
          {
            "type": "header",
            "content": "Content",
            "info": "Leave fields empty to hide."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Slide title"
          },
          {
            "type": "textarea",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story."
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "Call to action text",
            "default": "Discover more"
          },
          {
            "type": "header",
            "content": "Options",
            "info": "Options to define styling of the content."
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content alignment",
            "default": "is-middle is-center",
            "options": [
              {
                "label": "Top left",
                "value": "is-top is-left"
              },
              {
                "label": "Top center",
                "value": "is-top is-center"
              },
              {
                "label": "Top right",
                "value": "is-top is-right"
              },
              {
                "label": "Middle left",
                "value": "is-middle is-left"
              },
              {
                "label": "Middle center",
                "value": "is-middle is-center"
              },
              {
                "label": "Middle right",
                "value": "is-middle is-right"
              },
              {
                "label": "Bottom left",
                "value": "is-bottom is-left"
              },
              {
                "label": "Bottom center",
                "value": "is-bottom is-center"
              },
              {
                "label": "Bottom right",
                "value": "is-bottom is-right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "is-center",
            "options": [
              {
                "label": "Left",
                "value": "is-left"
              },
              {
                "label": "Center",
                "value": "is-center"
              },
              {
                "label": "Right",
                "value": "is-right"
              }
            ]
          },
          {
            "type": "select",
            "id": "call_to_action_theme",
            "default": "button--primary",
            "label": "Call to action colour",
            "options": [
              {
                "value": "button--primary",
                "label": "Primary"
              },
              {
                "value": "button--secondary",
                "label": "Secondary"
              }
            ]
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Colour",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "transparent"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Image slider",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
