{% comment %}
------------------------------------------------------------------------------
  Section: Cart drawer
  - This is a required section for the Shopify Theme Store.
  - It is available in the "Ajax Cart" section in the theme editor.
------------------------------------------------------------------------------
{% endcomment %}

{% assign modifiers = '' %}
{% unless shop.customer_accounts_enabled %}
  {% assign modifiers = modifiers | append: 'is-hidden' %}
{% endunless %}

<section id="menuDrawer" data-section-id="{{ section.id }}" data-section-type="menu-drawer" class="menu-drawer drawer drawer--left critical-hide" role="navigation">
  <div class="menu-drawer__header">
    <div class="container">
      <button class="menu-drawer__close button" js-toggle="menuDrawerToggle" data-target="menuDrawer" value="Close" tabindex="0">
        {% include 'icon-misc' with icon: 'close' %}
        <div class="visually-hidden">{{ 'general.accessibility.close' | t }}</div>
      </button>
    </div>
  </div>

  <div class="menu-drawer__body">
    <div class="container">
      <ul class="menu-drawer__menu">
        {% for link in linklists[section.settings.primary_menu].links %}

          {% comment %}
          ------------------------------------------------------------------------------
            Menu Level: 1
          ------------------------------------------------------------------------------
          {% endcomment %}
          {% if link.links == blank %}
            <li class="menu-drawer__item">
              <a tabindex="0" href="{{ link.url }}" class="menu-drawer__link">
                <span class="menu-drawer__primary-label">{{ link.title }}</span>
              </a>
            </li>
          {% else %}

            {% comment %}
            ------------------------------------------------------------------------------
              Menu Level: 2
            ------------------------------------------------------------------------------
            {% endcomment %}
            <li class="menu-drawer__item">
              <button tabindex="0" class="menu-drawer__button" js-menu-drawer="childMenuToggle">
                <span class="menu-drawer__primary-label">{{ link.title }}</span>
                <span>{% include 'icon-misc' with icon: 'plus' %} {% include 'icon-misc' with icon: 'minus' %}</span>
              </button>

              <ul js-menu-drawer="childMenu">
                {% for child_link in link.links %}
                  {% if child_link.links == blank %}
                    <li class="menu-drawer__item">
                      <a href="{{ child_link.url }}" class="menu-drawer__link">{{ child_link.title }}</a>
                    </li>
                  {% else %}

                    {% comment %}
                    ------------------------------------------------------------------------------
                      Menu Level: 3
                    ------------------------------------------------------------------------------
                    {% endcomment %}
                    <li class="menu-drawer__item">
                      <button tabindex="0" class="menu-drawer__button" js-menu-drawer="grandChildMenuToggle">
                        <span class="menu-drawer__secondary-label">{{ child_link.title }}</span>
                      </button>

                      <ul js-menu-drawer="grandChildMenu">
                        {% for grand_child_link in child_link.links %}
                          <li class="menu-drawer__item">
                            <a href="{{ grand_child_link.url }}" class="menu-drawer__link">{{ grand_child_link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Menu Drawer",
    "settings": [
      {
        "type": "link_list",
        "id": "primary_menu",
        "label": "Primary menu",
        "default": "footer"
      }
    ]
  }
{% endschema %}
