{% comment %}
------------------------------------------------------------------------------
  Section: Newsletter modal
  - This is an optional section for Frame
  - It is available in the global theme settings in the theme editor.
------------------------------------------------------------------------------
{% endcomment %}

<section id="newsletter-modal" class="modal newsletter-modal critical-clear" aria-hidden="true" data-section-id="{{ section.id }}" data-section-type="newsletter-modal">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="newsletter-modal__card" js-modal="body">
      <button class="newsletter-modal__close button" aria-label="Close modal" data-micromodal-close>
        {% include 'icon-misc' with icon: 'close' %}
      </button>

      {% if section.settings.large_image %}
        <div class="newsletter-modal__image">
          {% include 'art-direction-image' with
            small_image: section.settings.small_image,
            large_image: section.settings.large_image,
            alt: section.settings.alt_text
          %}
        </div>
      {% endif %}

      <div class="newsletter-modal__body modal__body" role="dialog" aria-modal="true" aria-labelledby="newsletter-signup">
        {% if section.settings.title != blank %}
          <h2 id="newsletter-signup" class="newsletter-modal__title">{{ section.settings.title | escape }}</h2>
        {% endif %}

        {% if section.settings.body != blank %}
          <p class="newsletter-modal__paragraph">{{ section.settings.body | escape }}</p>
        {% endif %}

        {% form 'customer', id: 'NewsletterModal' %}
          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="newsletter">

            <label for="NewsletterModal-Email" class="newsletter-modal__label">
              {{ 'customer.login.email' | t }}
            </label>

            <input type="email"
              name="contact[email]"
              class="newsletter-modal__input"
              id="NewsletterModal-Email"
              value="{% if customer.email != blank %}{{ customer.email }}{% else %}{{ 'general.newsletter_form.email_placeholder' | t }}{% endif %}"
              placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
              autocorrect="off"
              autocapitalize="off">

            <button type="submit" name="commit" class="button button--primary button--block newsletter-modal__button" value="{{ 'general.newsletter_form.submit' | t }}">
              <span>{{ 'general.newsletter_form.submit' | t }}</span>
            </button>
          {% endif %}
        {% endform %}

        <footer class="modal__footer">
          {{ section.settings.disclaimer }}
        </footer>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter Modal",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "textarea",
        "id": "body",
        "label": "Body",
        "default": "A short sentence describing what someone will receive by subscribing"
      },
      {
        "type": "header",
        "content": "Featured image"
      },
      {
        "type": "image_picker",
        "id": "large_image",
        "label": "Large image",
        "info": "Upload a 2:3 portrait image. (Required)"
      },
      {
        "type": "image_picker",
        "id": "small_image",
        "label": "Small image",
        "info": "Upload a 3:2 landscape image. (Required)"
      },
      {
        "type": "text",
        "id": "alt_text",
        "label": "Image description",
        "info": "This text will be used as the alt tag for accessibility and SEO."
      },
      {
        "type": "header",
        "content": "Disclaimer"
      },
      {
        "type": "richtext",
        "id": "disclaimer",
        "label": "Description",
        "default": "<p>By providing your email address, you agree to our <a href=\"/pages/privacy-policy\">Privacy Policy</a> and <a href=\"/pages/terms-conditions\">Terms of Service</a>.</p>"
      }
    ]
  }
{% endschema %}
