{%- assign primary_menu = section.settings.primary_menu -%}
{%- assign secondary_menu = section.settings.secondary_menu -%}
{%- assign tertiary_menu = section.settings.tertiary_menu -%}

<footer class="site-footer critical-clear">
  <div class="container">
    <div class="row">
      {% if linklists[primary_menu].links.size > 0 %}
        <div class="col xs12 s6 m4 l2">
          <ul class="site-footer__navlist navlist">
            {% for link in linklists[primary_menu].links %}
              <li class="navlist__item">
                <a class="navlist__link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if linklists[secondary_menu].links.size > 0 %}
        <div class="col xs12 s6 m4 l2">
          <ul class="site-footer__navlist navlist">
            {% for link in linklists[secondary_menu].links %}
              <li class="navlist__item">
                <a class="navlist__link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if linklists[tertiary_menu].links.size > 0 %}
        <div class="col xs12 s6 m4 l2">
          <ul class="site-footer__navlist navlist">
            {% for link in linklists[tertiary_menu].links %}
              <li class="navlist__item">
                <a class="navlist__link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="col xs12 s12 l4 offset-l2">
        {% include 'newsletter-callout' %}
      </div>
    </div>

    <div class="row">
      <div class="col xs12">
        <div class="site-footer__footnote">
          <p class="site-footer__disclaimer">&copy; {{ shop.name | link_to: '/' }}</p>

          <div class="site-footer__misc">
            {% if settings.enable_store_selector %}
              <div class="site-footer__store-selector">
                {% include 'store-selector' with id: section.id %}
              </div>
            {% endif %}

            {% if section.settings.show_payment_icons %}
              {% unless shop.enabled_payment_types == empty %}
                <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
                {% include 'payment-icons' %}
              {% endunless %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "primary_menu",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "secondary_menu",
        "label": "Secondary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "tertiary_menu",
        "label": "Tertiary menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "header",
        "content": "Email service provider (ESP)"
      },
      {
        "type": "text",
        "id": "esp_title",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "text",
        "id": "esp_subtitle",
        "label": "subtitle",
        "default": "Short sentence describing what someone will receive by signing up."
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ]
  }

{% endschema %}
