{% comment %}
------------------------------------------------------------------------------
  Section: Site header
  - This is a required section for the Shopify Theme Store.
  - Settings available in "Header" section in the theme editor.
  - Sticky navigation is set by default
------------------------------------------------------------------------------
{% endcomment %}

<section data-section-id="{{ section.id }}" data-section-type="site-header" class="site-header" js-site-header="container">
  {%- if section.settings.announcement_bar_enabled -%}
    <div class="site-header__announcement announcement-bar announcement-bar--primary is-active" role="dialog">
      {%- if section.settings.announcement_bar_link != blank -%}
        <a class="announcement-bar__text announcement-bar__link subtitle-2" href="{{ section.settings.announcement_bar_link }}">
          {{ section.settings.announcement_bar_text | escape }}
        </a>
      {%- else -%}
        <p class="announcement-bar__text subtitle-2">{{ section.settings.announcement_bar_text | escape }}</p>
      {%- endif -%}
    </div>
  {%- endif -%}

  <div class="site-header__masthead">
    <header class="container site-header__container">
      <div class="site-header__hamburger">
        <button class="site-header__icon site-header__icon--hamburger" js-toggle="menuDrawerToggle" data-target="menuDrawer">
          {% include 'icon-misc' with icon: 'hamburger' %}
          <span class="visually-hidden">{{ 'general.accessibility.menu' | t }}</span>
        </button>

        {% if section.settings.enable_search %}
          <button type="submit" js-toggle="searchBarHeader" data-target="searchBarHeader" class="site-header__icon site-header__icon--search" tabindex="0">
            {% include 'icon-misc' with icon: 'search' %}
            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        {% endif %}
      </div>

      <div class="site-header__brand">
        {% if template.name == 'index' %}
          <h1 class="site-header__logo">
        {% else %}
          <h2 class="site-header__logo">
        {% endif %}

        <a href="/">
          {% include 'site-logo' %}
        </a>

        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </h2>
        {% endif %}
      </div>

      <nav class="site-header__navbar" aria-label="{{ 'general.accessibility.sitenav.main_navigation' | t }}">
        {% include 'site-nav' %}
      </nav>

      <div class="site-header__misc">
        {% if section.settings.enable_search %}
          <div id="searchBarHeader" class="site-header__search critical-hide">
            {% include 'search-bar' with id: section.id %}
          </div>

          <button type="submit" js-toggle="searchBarHeader" data-target="searchBarHeader" class="site-header__icon site-header__icon--search" tabindex="0">
            {% include 'icon-misc' with icon: 'search' %}
            {% include 'icon-misc' with icon: 'close' %}
            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        {% endif %}

        {% if shop.customer_accounts_enabled %}
          <ul class="site-header__account-dropdown">
            <li class="site-header__account-icon">
              <a class="site-header__icon site-header__icon--account" href="/account">
                {% include 'icon-misc' with icon: 'account' %}
                <span class="visually-hidden">{{ 'layout.customer.account' | t }}</span>
              </a>

              {% if customer %}
                <ul class="site-header__account-navlist navlist navlist--large critical-hide">
                  <a class="navlist__item" href="/account">{{ 'customer.account.title' | t }}</a>
                  <a class="navlist__item" href="/account?view=orders">{{ 'customer.account.orders' | t }}</a>
                  <a class="navlist__item" href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
                </ul>
              {% endif %}
            </li>
          </ul>
        {% endif %}

        <button class="site-header__icon site-header__icon--cart"
          {% unless template == 'cart' %}
            js-toggle="cartDrawer" data-target="cartDrawer"
          {% endunless %}>
          {% include 'icon-misc' with icon: 'cart' %}
          <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
          <span class="badge badge--primary badge--round {% if cart.item_count <= 0 %}is-hidden{% endif %}" js-ajax-cart="cartCounter">{{ cart.item_count }}</span>
        </button>

        {% if settings.enable_redirect_modal %}
          <button class="site-header__icon site-header__icon--store-selector critical-clear" js-site-header="redirectModalToggle">
            <span class="flag-icon flag-icon-{{ settings.store_code | downcase }}" js-site-header="storeIcon"></span>
            <div class="visually-hidden">{{ 'layout.store_settings.update_preferences' | t }}</div>
          </button>
        {% endif %}
      </div>
    </header>
  </div>
</section>

{% schema %}
  {
    "name": "Header",
    "class": "site-header-section",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "enable_search",
        "label": "Show search",
        "default": true
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
