/**
 * Form
 * -----------------------------------------------------------------------------
 * Form resets, browser normalizing and base styling.
 *
 */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  margin: 0;
  padding: 0;
}

a,
area,
button,
[role=button],
input,
label,
select,
summary,
textarea {
  font-family: inherit;
  touch-action: manipulation;
}

input,
textarea,
select {
  &[disabled] {
    cursor: default;
  }
}

button,
input[type=submit],
label[for] {
  cursor: pointer;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

select::-ms-expand {
  display: none;
}

/**
 * Force option color (affects IE only).
 */
option {
  background-color: $COLOR_BACKGROUND_WHITE;
  color: $COLOR_TEXT_PRIMARY;
}

.input-error {
  background-color: $COLOR_BACKGROUND_WHITE;
  border-color: $COLOR_SUPPORT_ERROR;
  color: $COLOR_TEXT_PRIMARY;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
textarea,
select {
  background-color: $COLOR_BACKGROUND_WHITE;
  border: 1px solid $COLOR_BORDER_DARK;
  color: $COLOR_TEXT_PRIMARY;
  display: block;
  font-size: ms(-2);
  height: 100%;
  letter-spacing: $LETTER_SPACING_LABEL;
  padding: $SPACING_M;
  text-transform: uppercase;
  width: 100%;

  &::placeholder {
    color: $COLOR_TEXT_LIGHT;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.75;
  }

  &:focus {
    border-color: $COLOR_SUPPORT_FOCUS;
  }
}

label {
  display: inline-block;
}

select {
  appearance: none;
  background-clip: padding-box;
  background-color: $COLOR_BACKGROUND_WHITE;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border-radius: 0;
  text-transform: none;
}

input[type=checkbox],
input[type=radio] {
  margin-right: $SPACING_XS;
}
