/**
 * Base: Icons
 * -----------------------------------------------------------------------------
 * Base styling for all theme icons.
 * - This is used to provide a consistency and predictability across all svg icons.
 *
 */
.icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  vertical-align: middle;
  width: 24px;

  .no-svg & {
    display: none;
  }
}

svg,
symbol {
  circle,
  ellipse,
  g,
  line,
  path,
  polygon,
  polyline,
  img {
    max-width: 100%;
  }

  rect {
    fill: inherit;
    stroke: inherit;
  }
}

/**
 * A generic way to visually hide content while
 * remaining accessible to screen readers (h5bp.com)
 */
.icon-fallback-text {
  @include visually-hidden;

  .no-svg & {
    @include visually-shown(static);
  }
}

.payment-icons {
  cursor: default;
  user-select: none;
}
