/**
 * Base: Media
 * -----------------------------------------------------------------------------
 * Base styling and reset for HTML metdia elements.
 *
 */
figure {
  margin: 0;
}

img,
picture,
video {
  margin: 0;
  max-width: 100%;
}
