/**
 * Typography
 * -----------------------------------------------------------------------------
 * Styles for displaying content with some of the most commonly used HTML elements,
 * including normalization, typography, images, tables, and more.
 *
 */
html, body {
  font-family: $FONT_BODY;
  font-size: ms(0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $WEIGHT_BOOK;
  line-height: $LINE_HEIGHT_BODY;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

/**
 * Display styles.
 */
.d1 {
  font-family: $FONT_DISPLAY;
  font-size: ms(3);
  font-weight: $WEIGHT_BOOK;
  letter-spacing: $LETTER_SPACING_DISPLAY;
  line-height: $LINE_HEIGHT_DISPLAY;

  @include mq($from: large) {
    font-size: ms(7);
  }
}

.d2 {
  font-family: $FONT_DISPLAY;
  font-size: ms(3);
  font-weight: $WEIGHT_BOOK;
  letter-spacing: $LETTER_SPACING_DISPLAY;
  line-height: $LINE_HEIGHT_DISPLAY;

  @include mq($from: large) {
    font-size: ms(6);
  }
}

.d3 {
  font-family: $FONT_DISPLAY;
  font-size: ms(3);
  font-weight: $WEIGHT_BOOK;
  letter-spacing: $LETTER_SPACING_DISPLAY;
  line-height: $LINE_HEIGHT_DISPLAY;

  @include mq($from: large) {
    font-size: ms(5);
  }
}

/**
 * Basic headers.
 */
h1, .h1 {
  font-family: $FONT_HEADING;
  font-size: ms(3);
  font-weight: $WEIGHT_BOOK;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_XL;

  @include mq($from: large) {
    font-size: ms(4);
  }
}

h2, .h2 {
  font-family: $FONT_HEADING;
  font-size: ms(2);
  font-weight: $WEIGHT_BOOK;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_L;

  @include mq($from: large) {
    font-size: ms(3);
  }
}

h3, .h3 {
  font-family: $FONT_HEADING;
  font-size: ms(1);
  font-weight: $WEIGHT_BOOK;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_M;

  @include mq($from: large) {
    font-size: ms(2);
  }
}

h4, .h4 {
  font-family: $FONT_HEADING;
  font-size: ms(0);
  font-weight: $WEIGHT_BOOK;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_M;

  @include mq($from: large) {
    font-size: ms(1);
  }
}

h5, .h5 {
  font-family: $FONT_HEADING;
  font-size: ms(0);
  font-weight: $WEIGHT_BOOK;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_M;

  @include mq($from: large) {
    font-size: ms(1);
  }
}

h6, .h6 {
  font-family: $FONT_HEADING;
  font-size: ms(0);
  font-weight: $WEIGHT_BOOK;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_M;

  @include mq($from: large) {
    font-size: ms(1);
  }
}

.subtitle-1 {
  font-size: ms(-1);
  font-weight: $WEIGHT_BOLD;
  letter-spacing: $LETTER_SPACING_SUBTITLE;

  @include mq($from: large) {
    font-size: ms(0);
  }
}

.subtitle-2 {
  font-size: ms(-2);
  font-weight: $WEIGHT_BOLD;
  letter-spacing: $LETTER_SPACING_SUBTITLE;

  @include mq($from: large) {
    font-size: ms(-1);
  }
}

/**
 * Other styles.
 */

.lead {
  font-size: ms(0);
  line-height: $LINE_HEIGHT_BODY;

  @include mq($from: large) {
    font-size: ms(1);
  }
}

p {
  font-family: $FONT_BODY;
  font-size: ms(-1);
  line-height: $LINE_HEIGHT_BODY;
  margin: 0 0 $SPACING_L;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: large) {
    font-size: ms(0);
  }
}

a, .text-link {
  color: $COLOR_LINK;
  text-decoration: none;

  &:hover {
    color: $COLOR_LINK_HOVER;
    cursor: pointer;
  }

  &:focus {
    color: $COLOR_SUPPORT_FOCUS;
  }
}

.meta {
  font-size: ms(-2);

  @include mq($from: large) {
    font-size: ms(-1);
  }
}

label,
.label,
legend,
.legend {
  font-size: ms(-2);
  font-weight: $WEIGHT_BOLD;
  letter-spacing: $LETTER_SPACING_SUBTITLE;

  @include mq($from: large) {
    font-size: ms(-1);
  }
}

caption,
.caption {
  font-size: ms(-2);
}

/**
 * Block styles.
 */
blockquote {
  color: $COLOR_TEXT_LIGHT;
  font-size: ms(0);
  line-height: $LINE_HEIGHT_BODY;
  margin: 0 0 $SPACING_XL;
  padding-bottom: $SPACING_XL;

  @include mq($from: large) {
    font-size: ms(1);
  }
}

ol,
.ol,
ul,
.ul {
  font-size: ms(-1);
  line-height: $LINE_HEIGHT_BODY;

  @include mq($from: large) {
    font-size: ms(0);
  }
}
