<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.application_color }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.enable_href_lang -%}
      {% include 'site-href-lang' %}
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      {% include 'site-favicon' %}
    {%- endif -%}

    <title>{{ shop.name }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'critical' %}

    {% include 'social-meta-tags' %}
    {% include 'style-tags', layout: 'password' %}
    {% include 'script-tags', layout: 'password' %}

    {{ content_for_header }}
  </head>

  <body class="template-password">
    {{ content_for_layout }}
  </body>
</html>
