<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.application_color }}">
    <title>{{ shop.name }} - Styleguide</title>

    {%- if settings.favicon != blank -%}
      {% include 'site-favicon' %}
    {%- endif -%}

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <meta name="robots" content="nofollow" />

    {% if settings.enable_redirect_modal or settings.enable_store_selector %}
      {{ 'multi-store.config.js' | asset_url | script_tag }}
    {% endif %}

    {% include 'vendors' %}

    {% include 'style-tags', layout: 'styleguide' %}
    {% include 'script-tags', layout: 'styleguide' %}

    {% include 'theme-strings' %}

    {{ content_for_header }}
  </head>

  <body id="Styleguide" class="template-styleguide">
    {{ content_for_layout }}
  </body>

  {% if settings.enable_currency_selector %}
    {% section 'multi-currency' %}
  {% endif %}

  {% if settings.enable_developer_mode %}
    {% include 'frame-developer-mode' %}
  {% endif %}
</html>
