<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.application_color }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.enable_href_lang -%}
      {% include 'site-href-lang' %}
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      {% include 'site-favicon' %}
    {%- endif -%}

    {% if template contains 'search' or template contains 'account' or template contains 'customer' or template contains 'cart' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {% include 'theme-title' %}

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% if template.directory == 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    {% include 'critical' %}
    {% include 'social-meta-tags' %}
    {% include 'theme-strings' %}

    {% include 'vendors' %}

    {{ content_for_header }}
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {% section 'site-header' %}
    {% section 'menu-drawer' %}
    {% section 'cart-drawer' %}

    <main id="MainContent" class="main-content critical-clear">
      {{ content_for_layout }}
    </main>

    {% section 'newsletter-modal' %}
    {% section 'site-footer' %}
    {% include 'cookie-banner' %}

    {% if settings.enable_redirect_modal %}
      {% include 'modal-redirect' %}
    {% endif %}

    {% if settings.enable_developer_mode %}
      {% include 'frame-developer-mode' %}
    {% endif %}

    {% if settings.enable_quick_view %}
      {% include 'modal-quick-view' %}
    {% endif %}

    {% if settings.enable_redirect_modal or settings.enable_store_selector %}
      {%- if settings.geolocation_service == 'maxmind' -%}
        <script src="//js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript"></script>
      {%- endif -%}

      {{ 'multi-store.config.js' | asset_url | script_tag }}
    {% endif %}

    {% if settings.enable_currency_converter %}
      {{ 'multi-currency.config.js' | asset_url | script_tag }}
    {% endif %}

    {% include 'style-tags', layout: 'theme' %}
    {% include 'script-tags', layout: 'theme' %}
  </body>
</html>
